<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Keeplog - 장애인 고용부담금 간편계산식</title>

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/calculator/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/calculator/img/favicon.ico" type="image/x-icon">
<!-- / Favicons
================================================== -->

<!-- >> CSS
============================================================================== -->
<link href="/calculator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- Font Awesome -->
<link href="/calculator/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Nivo Lightbox -->
<link href="/calculator/vendor/nivo-lightbox/nivo-lightbox.css" rel="stylesheet">
<link rel="stylesheet" href="/calculator/vendor/nivo-lightbox/themes/default/default.css" type="text/css" />
  <!-- /Nivo Lightbox -->
  <!-- Perfect ScrollBar -->
<link href="/calculator/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
<!-- owl carousel -->
<link href="/calculator/vendor/owl.carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="/calculator/vendor/owl.carousel/owl-carousel/owl.theme.css" rel="stylesheet">
<!-- Main Styles -->
<link href="/calculator/css/styles.css" rel="stylesheet">

<!-- >> /CSS
============================================================================== -->
</head>
<body>
<!-- Page Loader
========================================================= -->
<div class="loader-container" id="page-loader"> 
  <div class="loading-wrapper">
  	<div class="loader-animation" id="loader-animation">
  		<span class="loader"><span class="loader-inner"></span></span>
  	</div>    
    <!-- Edit With Your Name -->
    <div class="loader-name" id="loader-name">
      <strong>Keeplog</strong>
    </div>
    <!-- /Edit With Your Name -->
    <!-- Edit With Your Job -->
    <p class="loader-job" id="loader-job">장애인 고용부담금 간편계산기</p>
    <!-- /Edit With Your Job -->
  </div>   
</div>
<!-- /End of Page loader
========================================================= -->

<!-- Main Content
================================================== -->
<section id="body" class="">

	<div class="container">

		<!-- MAIN MENU -->
		<div class="main-menu" id="main-menu">
			<ul class="main-menu-list">
				<li><a href="#page-resume" class="link-home">고용부담금 간편계산기</a></li>
				<li><a href="#page-calc" class="link-page">1. 전체 근로자</a></li>
				<li><a href="#page-calc2" class="link-page">2. 적용 제외근로자</a></li>
				<li><a href="#page-calc3" class="link-page">3. 경증 장애인</a></li>
				<li><a href="#page-calc4" class="link-page">4. 중증 장애인</a></li>
				<li><a href="#page-chart" class="link-page">5. 월별 확인</a></li>
				<li><a href="#page-list" class="link-page">6. 내역 확인</a></li>
				<li><a href="#page-total" class="link-page">7. 금액 확인</a></li>
			</ul>
		</div>
		<!-- /MAIN MENU -->
		
		<!-- SECTION: vCard Body  -->	
		<div class="section-vcardbody section-home" id="section-home">
			<!-- Profile pic-->
			<div class="vcard-profile-pic">
				<!-- <img src="/calculator/img/profile2.jpg" id="profile2"  alt=""/>
				<img src="/calculator/img/profile.jpg" id="profile1" class="profileActive" alt=""/> -->
				<img src="/calculator/img/calc.jpg" id="profile2"  alt=""/>
				<img src="/calculator/img/calc.jpg" id="profile1" class="profileActive" alt=""/>
			</div>
			<!-- /Profile pic -->
			<!-- Description -->
			<div class="vcard-profile-description">
				<!-- Profile title -->
				<h1 class="profile-title"><span class="color1">Keeplog</span></h1>
				<h2 class="profile-subtitle">장애인 고용부담금 간편계산기</h2>
				<!-- /Profile Title -->
				<!-- Description Text -->
				<hr class="hr1">
				<div class="vcard-profile-description-text" style="text-align: left">
					<p style="color:red">- 본 자동계산 프로그램은 참고용 프로그램입니다.</p> 
					<p style="color:red">- 본 프로그램은 저장 및 인쇄 기능을 지원하지 않습니다. </p>
					<p>- 1~4 항목을 기입 후, 하단의 [계산하기] 버튼을 클릭합니다.</p>
				</div>	
				<button class="btn  btn-primary btn-rounded" id="doCalc">계산하기</button>
				<!--/ Description Text -->	
				<!-- Description feature -->
				<div class="vcard-profile-description-feature">
					<!-- item -->
					<!-- <div class="vcard-profile-description-ft-item">
						<p>참조: https://www.esingo.or.kr (고용노동부)</p>
					</div> -->
					<!-- item -->
				</div>	
				<!-- /Description feature -->		
			</div>
			<!-- /Description -->	
			<!-- Footer -->		
			<div class="vcard-footer">
			</div>
		</div>
		<!-- /SECTION: vCard Body  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-calc">
			<!-- SECTION: Education -->
			<div class="section-education">
			<!-- Section title -->
			<h2 class="section-title">고용부담금 간편계산기</h2>
			<!-- /Section title -->

			<h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; 민간사업주 의무 고용률 : 2.9%</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">전체 근로자 수</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">사업장의 해당 월 전체근로자 수를 입력합니다. (일반인, 장애인, 일용직 포함)</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: center;">
						<div class="graduation-description" style="text-align: left;">
							<input type="hidden" id="hiddenTotalCount"/>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>1월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson1" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>2월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson2" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>3월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson3" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>4월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson4" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>5월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson5" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>6월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson6" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>7월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson7" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>8월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson8" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>9월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson9" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>10월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson10" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>11월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson11" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>12월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputTotalPerson12" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
						</div>
					</div>
					<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-calc2">
			<!-- SECTION: Education -->
			<div class="section-education">
			<!-- Section title -->
			<h2 class="section-title">고용부담금 간편계산기</h2>
			<!-- /Section title -->

			<h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; 민간사업주 의무 고용률 : 2.9%</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">적용 제외 근로자 수</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">사업장의 해당 월 적용 제외 근로자 수를 입력합니다. (월 기준 16일 미만)</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: center;">
						<div class="graduation-description" style="text-align: left;">
							<input type="hidden" id="hiddenTotalCount"/>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>1월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson1" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>2월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson2" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>3월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson3" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>4월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson4" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>5월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson5" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>6월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson6" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>7월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson7" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>8월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson8" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>9월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson9" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>10월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson10" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>11월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson11" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>12월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputExceptPerson12" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
						</div>
					</div>
					<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-calc3">
			<!-- SECTION: Education -->
			<div class="section-education">
			<!-- Section title -->
			<h2 class="section-title">고용부담금 간편계산기</h2>
			<!-- /Section title -->

			<h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; 민간사업주 의무 고용률 : 2.9%</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">경증 장애인 근로자 수</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">사업장의 해당 월 경증 장애인 근로자 수를 입력합니다.</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: center;">
						<div class="graduation-description" style="text-align: left;">
							<input type="hidden" id="hiddenTotalCount"/>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>1월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled1" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>2월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled2" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>3월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled3" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>4월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled4" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>5월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled5" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>6월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled6" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>7월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled7" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>8월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled8" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>9월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled9" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>10월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled10" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>11월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled11" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>12월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputMildlyDisabled12" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
						</div>
					</div>
					<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-calc4">
			<!-- SECTION: Education -->
			<div class="section-education">
			<!-- Section title -->
			<h2 class="section-title">고용부담금 간편계산기</h2>
			<!-- /Section title -->

			<h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; 민간사업주 의무 고용률 : 2.9%</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">중증 장애인 근로자 수</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">월 임금지급 기초일 수 16일 이상이면서 월소정근로시간 60시간이상인 중증근로자는 2배수로 인정</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: center;">
						<div class="graduation-description" style="text-align: left;">
							<input type="hidden" id="hiddenTotalCount"/>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>1월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled1" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>2월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled2" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>3월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled3" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>4월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled4" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>5월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled5" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>6월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled6" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>7월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled7" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>8월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled8" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>9월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled9" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>10월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled10" style="width: 100%" value="0" />
								</div>							
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>11월 </span>	
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled11" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
							<div>
								<div style="display: inline-block; width: 20%; margin-top: 13px">
									<span>12월 </span>
								</div>
								<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
									<input id="inputSeverelyDisabled12" style="width: 100%" value="0" />
								</div>
								<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
									<span> 명</span>
								</div>
							</div>
						</div>
					</div>
					<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

		<!-- SECTION: SKILLS-->
		<div class="section-vcardbody section-page" id="page-chart" onload="alert('테스트')">
			<div class="section-skills">

				<!-- Section title -->
	            <h2 class="section-title">내역 확인</h2>
	            <!-- /Section title -->

				<!-- Subtitle -->
				<!-- <h3 class="section-item-title-2"><i class="fa fa-users"></i>&nbsp;&nbsp; 전체 장애인 고용 률</h3> -->
				<!-- /Subtitle -->

				<!-- Skils List -->
				<!-- <ul class="skills-list"> -->
					<!-- item-list -->
					<!-- <li>
						<div class="progress">
						<div class="progress-bar" role="progressbar" id="showEmployTotal" data-percent="0%" style="width: 0%;">
							<span id="showSpanEmployTotal" class="sr-only">0% Complete</span>
						</div>
						<span class="progress-type">전체</span>
						<span id="showSpanPerEmployTotal" class="progress-completed">0%</span>
						</div>
					</li> -->
					<!-- /item list -->
				<!-- </ul> -->

	            <!-- Subtitle -->
				  <h3 class="section-item-title-2"><i class="fa fa-users"></i>&nbsp;&nbsp; 월별 장애인 고용 률 <span id="mustCount"></span></h3>
				<!-- /Subtitle -->
				
				<!-- Skils List -->
				<ul class="skills-list">
                    <!-- item-list -->
                    <li>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" id="showEmploy1" data-percent="0%" style="width: 0%;">
                            <span id="showSpanEmploy1" class="sr-only">0% Complete</span>
                        </div>
                        <span class="progress-type">1월</span>
                        <span id="showSpanPerEmploy1" class="progress-completed">0%</span>
                      </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-2" role="progressbar" id="showEmploy2" data-percent="0%" style="width: 0%;">
                            <span id="showSpanEmploy2" class="sr-only">0% Complete</span>
                        </div>
                        <span class="progress-type">2월</span>
                        <span id="showSpanPerEmploy2" class="progress-completed">0%</span>
                      </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                      <div class="progress" title="Doing my best!">
                        <div class="progress-bar progress-bar-3" role="progressbar" id="showEmploy3" data-percent="0%" style="width: 0%;">
                            <span id="showSpanEmploy3" class="sr-only">0% Complete</span>
                        </div>
                        <span class="progress-type">3월</span>
                        <span id="showSpanPerEmploy3" class="progress-completed">0%</span>
                      </div>
                    </li>
					<!-- /item list -->
					<!-- item-list -->
                    <li>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" id="showEmploy4" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy4" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">4월</span>
						  <span id="showSpanPerEmploy4" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress">
						  <div class="progress-bar progress-bar-2" role="progressbar" id="showEmploy5" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy5" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">5월</span>
						  <span id="showSpanPerEmploy5" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress" title="Doing my best!">
						  <div class="progress-bar progress-bar-3" role="progressbar" id="showEmploy6" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy6" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">6월</span>
						  <span id="showSpanPerEmploy6" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" id="showEmploy7" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy7" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">7월</span>
						  <span id="showSpanPerEmploy7" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress">
						  <div class="progress-bar progress-bar-2" role="progressbar" id="showEmploy8" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy8" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">8월</span>
						  <span id="showSpanPerEmploy8" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress" title="Doing my best!">
						  <div class="progress-bar progress-bar-3" role="progressbar" id="showEmploy9" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy9" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">9월</span>
						  <span id="showSpanPerEmploy9" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" id="showEmploy10" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy10" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">10월</span>
						  <span id="showSpanPerEmploy10" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress">
						  <div class="progress-bar progress-bar-2" role="progressbar" id="showEmploy11" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy11" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">11월</span>
						  <span id="showSpanPerEmploy11" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
					  <!-- item-list -->
					  <li>
						<div class="progress" title="Doing my best!">
						  <div class="progress-bar progress-bar-3" role="progressbar" id="showEmploy12" data-percent="0%" style="width: 0%;">
							  <span id="showSpanEmploy12" class="sr-only">0% Complete</span>
						  </div>
						  <span class="progress-type">12월</span>
						  <span id="showSpanPerEmploy12" class="progress-completed">0%</span>
						</div>
					  </li>
					  <!-- /item list -->
                </ul>
				<!-- /Skils List -->
			</div>			
		</div>
		<!-- /SECTION: SKILLS  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-list">

			<!-- SECTION: Education -->
			<div class="section-education">
				<!-- Section title -->
				<h2 class="section-title">내역 확인</h2>
				<!-- /Section title -->

				</span><h2 class="section-title2"><i class="fa fa-won (alias)" id="totalCount"></i> 원&nbsp;</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">내 역</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">계산 내역을 확인하세요. (부담기초액 : 월 945,000원)</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: left;">
						<input type="hidden" id="hiddenTotalCount"/>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>고용인원 충족 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOver100" ></span>
							</div>		
						</div>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>3/4이상~4/4미만 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOver75" ></span>
							</div>		
						</div>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>1/2이상~3/4미만 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOver50" ></span>
							</div>			
						</div>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>1/4이상~1/2미만 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOver25" ></span>
							</div>		
						</div>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>1/4미만~1명이상 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOver0" ></span>
							</div>		
						</div>
						<div>
							<div style="display: inline-block; width: 35%; margin-top: 13px">
								<span>장애인 미고용 : </span>
							</div>
							<div style="display: inline-block; width: 60%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCountOverNone" ></span>
							</div>		
						</div>
					</div>

						<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

		<!-- PAGE: RESUME -->
		<div class="section-vcardbody section-page" id="page-total">

			<!-- SECTION: Education -->
			<div class="section-education">
				<!-- Section title -->
				<h2 class="section-title">금액 확인</h2>
				<!-- /Section title -->

				</span><h2 class="section-title2"><i class="fa fa-won (alias)" id="totalLastCountTitle"></i> 원&nbsp;</h2>

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">내 역</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">필요 시 연계고용감면액을 입력하세요.</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: left;">
						<input type="hidden" id="hiddenTotalCount"/>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>부담 금액 : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="textTotalCount" ></span>
							</div>							
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span style="width: 30%">연계 고용 감면액 : </span>	
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<input id="inputLastDiscount" style="width: 100%" value="0"/>
							</div>
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
						
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>실 납부금액 : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="inputLastTotalCount"></span>
							</div>
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
					</div>

						<!-- /Content -->
				</div>
				<!-- /Resume Item -->

				<!-- Resume Item -->
				<div class="resume-item">
					<!-- Graduation title -->
					<h3 class="section-item-title-1">납부 방법</h3>
					<!-- /Graduation title -->
					<!-- Graduation time -->
					<h4 class="graduation-time">
						일시납 / 분납을 선택하세요. (일시납은 3% 공제)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
						<input type="radio" name="chk_info" value="0" checked>일시납
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="chk_info" value="1">분납
					</h4>
					<!-- /Graduation time -->
					<!-- content -->
					<div class="graduation-description" style="text-align: left;">
						<input type="hidden" id="hiddenLastTotalCount"/>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>제1기분(1.31) : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="payTax01" ></span>
							</div>							
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>제2기분(4.30) : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="payTax02" ></span>
							</div>							
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>제3기분(7.31) : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="payTax03" ></span>
							</div>							
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
						<div>
							<div style="display: inline-block; width: 40%; margin-top: 13px">
								<span>제4기분(10.31) : </span>
							</div>
							<div style="display: inline-block; width: 40%; margin-left: 6px; margin-top: 13px">
								<span id="payTax04" ></span>
							</div>							
							<div style="display: inline-block; width: 10%; float:right; margin-top: 13px">
								<span> 원</span>
							</div>
						</div>
					</div>

						<!-- /Content -->
				</div>
				<!-- /Resume Item -->
			</div>
			<!--/ SECTION: Education -->
		</div>
		<!-- /PAGE: RESUME  -->	

	</div>

</section>
<!-- /Main Content
================================================== -->

<!-- Contact Form - Ajax Messages
========================================================= -->
<!-- Form Sucess -->
<div class="form-result modal-wrap" id="contactSuccess">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <h4 class="modal-title"><i class="fa fa-check-circle"></i> Success!</h4>
    <p>Your message has been sent to us.</p>
  </div>
</div>
<!-- /Form Sucess -->
<!-- form-error -->
<div class="form-result modal-wrap" id="contactError">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <h4 class="modal-title"><i class="fa fa-times"></i> Error</h4>
    <p>There was an error sending your message.</p>
  </div>
</div>
<!-- /form-error -->

<!-- Contact Form - Ajax Messages
========================================================= -->


<!-- >> JS
============================================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/calculator/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/calculator/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/calculator/vendor/validate.js"></script>
<!-- Holder JS -->
<script src="/calculator/vendor/holder.js"></script>
<!-- Modal box-->
<script src="/calculator/vendor/nivo-lightbox/nivo-lightbox.min.js"></script>
<!-- /Modal Box -->
<!-- Perfect ScrolBar -->
<script src="/calculator/vendor/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
<!-- /Perfect ScrolBar -->
<!-- Owl Caroulsel -->
<script src="/calculator/vendor/owl.carousel/owl-carousel/owl.carousel.js"></script>
<!-- Cross-browser -->
<script src="/calculator/vendor/cross-browser.js"></script>
<!-- Main Scripts -->
<script src="/calculator/js/main.js"></script>

<script  language="javascript" type="text/javascript">

	// 전체
	// $('#inputTotalDisabled12').change(function(){
	$('#doCalc').click(function(){
		console.log("button click!!")
		// $("#btnGetDownReport").attr("href", '/reportlists/' + $('#selectMonthReportYear').val() + '/' + $('#selectMonthReportMonth').val() + '/' + $('#selectMonthReportWeek').val());
		// Math.floor( $('#inputTotalDisabled1').val() / (($('#inputTotalPerson1').val() - $('#inputExceptPerson1').val()) * 29 / 1000) * 100 )
		var totalPerson = Number($('#inputTotalPerson1').val()) + Number($('#inputTotalPerson2').val()) + Number($('#inputTotalPerson3').val()) + 
							Number($('#inputTotalPerson4').val()) + Number($('#inputTotalPerson5').val()) + Number($('#inputTotalPerson6').val()) + 
							Number($('#inputTotalPerson7').val()) + Number($('#inputTotalPerson8').val()) + Number($('#inputTotalPerson9').val()) + 
							Number($('#inputTotalPerson10').val()) + Number($('#inputTotalPerson11').val()) + Number($('#inputTotalPerson12').val()) -

							Number($('#inputExceptPerson1').val()) - Number($('#inputExceptPerson2').val()) - Number($('#inputExceptPerson3').val()) -
							Number($('#inputExceptPerson4').val()) - Number($('#inputExceptPerson5').val()) - Number($('#inputExceptPerson6').val()) -
							Number($('#inputExceptPerson7').val()) - Number($('#inputExceptPerson8').val()) - Number($('#inputExceptPerson9').val()) -
							Number($('#inputExceptPerson10').val()) - Number($('#inputExceptPerson11').val()) - Number($('#inputExceptPerson12').val()) ;
		
		console.log("Number($('#inputTotalPerson1').val()) = " + Number($('#inputTotalPerson1').val()));
		console.log("$('#inputExceptPerson1').val() = " + $('#inputExceptPerson1').val());
		console.log("totalPerson = " + totalPerson);

		// 상시 고용율
		var RegularWorkers = Math.floor(totalPerson / 12);
		console.log("상시 고용율 = " + RegularWorkers);

		// 장애인 의무 고용수
		var MandatoryEmploymentRate = Math.floor(RegularWorkers *29 /1000)
		$("#mustCount").text("     (의무 고용인원 : " + MandatoryEmploymentRate + "명)");
		console.log("장애인 의무 고용수 = " + MandatoryEmploymentRate);
		
		// 월별 장애인 고용 인정 수
		var disabledPerson01 = Number($('#inputMildlyDisabled1').val()) + (Number($('#inputSeverelyDisabled1').val()*2));
		var disabledPerson02 = Number($('#inputMildlyDisabled2').val()) + (Number($('#inputSeverelyDisabled2').val()*2));
		var disabledPerson03 = Number($('#inputMildlyDisabled3').val()) + (Number($('#inputSeverelyDisabled3').val()*2));
		var disabledPerson04 = Number($('#inputMildlyDisabled4').val()) + (Number($('#inputSeverelyDisabled4').val()*2));
		var disabledPerson05 = Number($('#inputMildlyDisabled5').val()) + (Number($('#inputSeverelyDisabled5').val()*2));
		var disabledPerson06 = Number($('#inputMildlyDisabled6').val()) + (Number($('#inputSeverelyDisabled6').val()*2));
		var disabledPerson07 = Number($('#inputMildlyDisabled7').val()) + (Number($('#inputSeverelyDisabled7').val()*2));
		var disabledPerson08 = Number($('#inputMildlyDisabled8').val()) + (Number($('#inputSeverelyDisabled8').val()*2));
		var disabledPerson09 = Number($('#inputMildlyDisabled9').val()) + (Number($('#inputSeverelyDisabled9').val()*2));
		var disabledPerson10 = Number($('#inputMildlyDisabled10').val()) + (Number($('#inputSeverelyDisabled10').val()*2));
		var disabledPerson11 = Number($('#inputMildlyDisabled11').val()) + (Number($('#inputSeverelyDisabled11').val()*2));
		var disabledPerson12 = Number($('#inputMildlyDisabled12').val()) + (Number($('#inputSeverelyDisabled12').val()*2));
		console.log("1월 장애인 고용 인정 수 = " + disabledPerson01);

		// 월별 장애인 비율
		var EmploymentRate01 = Math.floor(disabledPerson01 / MandatoryEmploymentRate *100 );
		var EmploymentRate02 = Math.floor(disabledPerson02 / MandatoryEmploymentRate *100 );
		var EmploymentRate03 = Math.floor(disabledPerson03 / MandatoryEmploymentRate *100 );
		var EmploymentRate04 = Math.floor(disabledPerson04 / MandatoryEmploymentRate *100 );
		var EmploymentRate05 = Math.floor(disabledPerson05 / MandatoryEmploymentRate *100 );
		var EmploymentRate06 = Math.floor(disabledPerson06 / MandatoryEmploymentRate *100 );
		var EmploymentRate07 = Math.floor(disabledPerson07 / MandatoryEmploymentRate *100 );
		var EmploymentRate08 = Math.floor(disabledPerson08 / MandatoryEmploymentRate *100 );
		var EmploymentRate09 = Math.floor(disabledPerson09 / MandatoryEmploymentRate *100 );
		var EmploymentRate10 = Math.floor(disabledPerson10 / MandatoryEmploymentRate *100 );
		var EmploymentRate11 = Math.floor(disabledPerson11 / MandatoryEmploymentRate *100 );
		var EmploymentRate12 = Math.floor(disabledPerson12 / MandatoryEmploymentRate *100 );
		console.log("1월 장애인 비율 = " + EmploymentRate01 + "%");

		// 장애인 범위 별 수
		var EmploymentCount75 = Math.floor(MandatoryEmploymentRate /100 *75 );
		var EmploymentCount50 = Math.floor(MandatoryEmploymentRate /100 *50 );
		var EmploymentCount25 = Math.floor(MandatoryEmploymentRate /100 *25 );
		console.log("고용 의무인원 = " + MandatoryEmploymentRate + "명");
		console.log("고용 75% = " + EmploymentCount75 + "명");
		console.log("고용 50% = " + EmploymentCount50 + "명");
		console.log("고용 25% = " + EmploymentCount25 + "명");

		var overCount100 = 0;
		var overCount75 = 0;
		var overCount50 = 0;
		var overCount25 = 0;
		var overCount0 = 0;
		var overCountNone = 0;
		
		// 1월 차트 출력
		$("#showEmploy1").attr("data-percent", Math.floor( EmploymentRate01 ) + "%");
		$("#showEmploy1").css("width", (Math.floor( EmploymentRate01 ) + "%"));
		$("#showSpanEmploy1").html((Math.floor( EmploymentRate01 ) + "% Complete"));
		$("#showSpanPerEmploy1").html((Math.floor( EmploymentRate01 ) + "%") + " ("+disabledPerson01+"명)");
		// $("#showSpanPerEmploy1").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson01 >= MandatoryEmploymentRate)
		{
			$("#showEmploy1").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson01);
		}
		else if(disabledPerson01 >= EmploymentCount75 && disabledPerson01 < MandatoryEmploymentRate)
		{
			$("#showEmploy1").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson01);
		}
		else if(disabledPerson01 >= EmploymentCount50 && disabledPerson01 < EmploymentCount75)
		{
			$("#showEmploy1").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson01);
		}
		else if(disabledPerson01 >= EmploymentCount25 && disabledPerson01 < EmploymentCount50)
		{
			$("#showEmploy1").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson01);
		}
		else if(disabledPerson01 > 0 && disabledPerson01 < EmploymentCount25)
		{
			$("#showEmploy1").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson01);
		}
		else
		{
			$("#showEmploy1").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson01);
		}

		// 2월 차트 출력
		$("#showEmploy2").attr("data-percent", Math.floor( EmploymentRate02 ) + "%");
		$("#showEmploy2").css("width", (Math.floor( EmploymentRate02 ) + "%"));
		$("#showSpanEmploy2").html((Math.floor( EmploymentRate02 ) + "% Complete"));
		$("#showSpanPerEmploy2").html((Math.floor( EmploymentRate02 ) + "%") + " ("+disabledPerson02+"명)");
		// $("#showSpanPerEmploy2").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson02 >= MandatoryEmploymentRate)
		{
			$("#showEmploy2").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson02);
		}
		else if(disabledPerson02 >= EmploymentCount75 && disabledPerson02 < MandatoryEmploymentRate)
		{
			$("#showEmploy2").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson02);
		}
		else if(disabledPerson02 >= EmploymentCount50 && disabledPerson02 < EmploymentCount75)
		{
			$("#showEmploy2").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson02);
		}
		else if(disabledPerson02 >= EmploymentCount25 && disabledPerson02 < EmploymentCount50)
		{
			$("#showEmploy2").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson02);
		}
		else if(disabledPerson02 > 0 && disabledPerson02 < EmploymentCount25)
		{
			$("#showEmploy2").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson02);
		}
		else
		{
			$("#showEmploy2").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson02);
		}

		// 3월 차트 출력
		$("#showEmploy3").attr("data-percent", Math.floor( EmploymentRate03 ) + "%");
		$("#showEmploy3").css("width", (Math.floor( EmploymentRate03 ) + "%"));
		$("#showSpanEmploy3").html((Math.floor( EmploymentRate03 ) + "% Complete"));
		$("#showSpanPerEmploy3").html((Math.floor( EmploymentRate03 ) + "%") + " ("+disabledPerson03+"명)");
		// $("#showSpanPerEmploy3").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson03 >= MandatoryEmploymentRate)
		{
			$("#showEmploy3").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson03);
		}
		else if(disabledPerson03 >= EmploymentCount75 && disabledPerson03 < MandatoryEmploymentRate)
		{
			$("#showEmploy3").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson03);
		}
		else if(disabledPerson03 >= EmploymentCount50 && disabledPerson03 < EmploymentCount75)
		{
			$("#showEmploy3").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson03);
		}
		else if(disabledPerson03 >= EmploymentCount25 && disabledPerson03 < EmploymentCount50)
		{
			$("#showEmploy3").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson03);
		}
		else if(disabledPerson03 > 0 && disabledPerson03 < EmploymentCount25)
		{
			$("#showEmploy3").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson03);
		}
		else
		{
			$("#showEmploy3").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson03);
		}

		// 4월 차트 출력
		$("#showEmploy4").attr("data-percent", Math.floor( EmploymentRate04 ) + "%");
		$("#showEmploy4").css("width", (Math.floor( EmploymentRate04 ) + "%"));
		$("#showSpanEmploy4").html((Math.floor( EmploymentRate04 ) + "% Complete"));
		$("#showSpanPerEmploy4").html((Math.floor( EmploymentRate04 ) + "%") + " ("+disabledPerson04+"명)");
		// $("#showSpanPerEmploy4").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson04 >= MandatoryEmploymentRate)
		{
			$("#showEmploy4").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson04);
		}
		else if(disabledPerson04 >= EmploymentCount75 && disabledPerson04 < MandatoryEmploymentRate)
		{
			$("#showEmploy4").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson04);
		}
		else if(disabledPerson04 >= EmploymentCount50 && disabledPerson04 < EmploymentCount75)
		{
			$("#showEmploy4").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson04);
		}
		else if(disabledPerson04 >= EmploymentCount25 && disabledPerson04 < EmploymentCount50)
		{
			$("#showEmploy4").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson04);
		}
		else if(disabledPerson04 > 0 && disabledPerson04 < EmploymentCount25)
		{
			$("#showEmploy4").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson04);
		}
		else
		{
			$("#showEmploy4").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson04);
		}

		// 5월 차트 출력
		$("#showEmploy5").attr("data-percent", Math.floor( EmploymentRate05 ) + "%");
		$("#showEmploy5").css("width", (Math.floor( EmploymentRate05 ) + "%"));
		$("#showSpanEmploy5").html((Math.floor( EmploymentRate05 ) + "% Complete"));
		$("#showSpanPerEmploy5").html((Math.floor( EmploymentRate05 ) + "%") + " ("+disabledPerson05+"명)");
		// $("#showSpanPerEmploy5").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson05 >= MandatoryEmploymentRate)
		{
			$("#showEmploy5").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson05);
		}
		else if(disabledPerson05 >= EmploymentCount75 && disabledPerson05 < MandatoryEmploymentRate)
		{
			$("#showEmploy5").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson05);
		}
		else if(disabledPerson05 >= EmploymentCount50 && disabledPerson05 < EmploymentCount75)
		{
			$("#showEmploy5").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson05);
		}
		else if(disabledPerson05 >= EmploymentCount25 && disabledPerson05 < EmploymentCount50)
		{
			$("#showEmploy5").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson05);
		}
		else if(disabledPerson05 > 0 && disabledPerson05 < EmploymentCount25)
		{
			$("#showEmploy5").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson05);
		}
		else
		{
			$("#showEmploy5").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson05);
		}

		// 6월 차트 출력
		$("#showEmploy6").attr("data-percent", Math.floor( EmploymentRate06 ) + "%");
		$("#showEmploy6").css("width", (Math.floor( EmploymentRate06 ) + "%"));
		$("#showSpanEmploy6").html((Math.floor( EmploymentRate06 ) + "% Complete"));
		$("#showSpanPerEmploy6").html((Math.floor( EmploymentRate06 ) + "%") + " ("+disabledPerson06+"명)");
		// $("#showSpanPerEmploy6").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson06 >= MandatoryEmploymentRate)
		{
			$("#showEmploy6").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson06);
		}
		else if(disabledPerson06 >= EmploymentCount75 && disabledPerson06 < MandatoryEmploymentRate)
		{
			$("#showEmploy6").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson06);
		}
		else if(disabledPerson06 >= EmploymentCount50 && disabledPerson06 < EmploymentCount75)
		{
			$("#showEmploy6").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson06);
		}
		else if(disabledPerson06 >= EmploymentCount25 && disabledPerson06 < EmploymentCount50)
		{
			$("#showEmploy6").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson06);
		}
		else if(disabledPerson06 > 0 && disabledPerson06 < EmploymentCount25)
		{
			$("#showEmploy6").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson06);
		}
		else
		{
			$("#showEmploy6").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson06);
		}

		// 7월 차트 출력
		$("#showEmploy7").attr("data-percent", Math.floor( EmploymentRate07 ) + "%");
		$("#showEmploy7").css("width", (Math.floor( EmploymentRate07 ) + "%"));
		$("#showSpanEmploy7").html((Math.floor( EmploymentRate07 ) + "% Complete"));
		$("#showSpanPerEmploy7").html((Math.floor( EmploymentRate07 ) + "%") + " ("+disabledPerson07+"명)");
		// $("#showSpanPerEmploy7").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson07 >= MandatoryEmploymentRate)
		{
			$("#showEmploy7").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson07);
		}
		else if(disabledPerson07 >= EmploymentCount75 && disabledPerson07 < MandatoryEmploymentRate)
		{
			$("#showEmploy7").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson07);
		}
		else if(disabledPerson07 >= EmploymentCount50 && disabledPerson07 < EmploymentCount75)
		{
			$("#showEmploy7").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson07);
		}
		else if(disabledPerson07 >= EmploymentCount25 && disabledPerson07 < EmploymentCount50)
		{
			$("#showEmploy7").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson07);
		}
		else if(disabledPerson07 > 0 && disabledPerson07 < EmploymentCount25)
		{
			$("#showEmploy7").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson07);
		}
		else
		{
			$("#showEmploy7").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson07);
		}

		// 8월 차트 출력
		$("#showEmploy8").attr("data-percent", Math.floor( EmploymentRate08 ) + "%");
		$("#showEmploy8").css("width", (Math.floor( EmploymentRate08 ) + "%"));
		$("#showSpanEmploy8").html((Math.floor( EmploymentRate08 ) + "% Complete"));
		$("#showSpanPerEmploy8").html((Math.floor( EmploymentRate08 ) + "%") + " ("+disabledPerson08+"명)");
		// $("#showSpanPerEmploy8").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson08 >= MandatoryEmploymentRate)
		{
			$("#showEmploy8").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson08);
		}
		else if(disabledPerson08 >= EmploymentCount75 && disabledPerson08 < MandatoryEmploymentRate)
		{
			$("#showEmploy8").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson08);
		}
		else if(disabledPerson08 >= EmploymentCount50 && disabledPerson08 < EmploymentCount75)
		{
			$("#showEmploy8").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson08);
		}
		else if(disabledPerson08 >= EmploymentCount25 && disabledPerson08 < EmploymentCount50)
		{
			$("#showEmploy8").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson08);
		}
		else if(disabledPerson08 > 0 && disabledPerson08 < EmploymentCount25)
		{
			$("#showEmploy8").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson08);
		}
		else
		{
			$("#showEmploy8").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson08);
		}

		// 9월 차트 출력
		$("#showEmploy9").attr("data-percent", Math.floor( EmploymentRate09 ) + "%");
		$("#showEmploy9").css("width", (Math.floor( EmploymentRate09 ) + "%"));
		$("#showSpanEmploy9").html((Math.floor( EmploymentRate09 ) + "% Complete"));
		$("#showSpanPerEmploy9").html((Math.floor( EmploymentRate09 ) + "%") + " ("+disabledPerson09+"명)");
		// $("#showSpanPerEmploy9").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson09 >= MandatoryEmploymentRate)
		{
			$("#showEmploy9").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson09);
		}
		else if(disabledPerson09 >= EmploymentCount75 && disabledPerson09 < MandatoryEmploymentRate)
		{
			$("#showEmploy9").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson09);
		}
		else if(disabledPerson09 >= EmploymentCount50 && disabledPerson09 < EmploymentCount75)
		{
			$("#showEmploy9").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson09);
		}
		else if(disabledPerson09 >= EmploymentCount25 && disabledPerson09 < EmploymentCount50)
		{
			$("#showEmploy9").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson09);
		}
		else if(disabledPerson09 > 0 && disabledPerson09 < EmploymentCount25)
		{
			$("#showEmploy9").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson09);
		}
		else
		{
			$("#showEmploy9").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson09);
		}

		// 10월 차트 출력
		$("#showEmploy10").attr("data-percent", Math.floor( EmploymentRate10 ) + "%");
		$("#showEmploy10").css("width", (Math.floor( EmploymentRate10 ) + "%"));
		$("#showSpanEmploy10").html((Math.floor( EmploymentRate10 ) + "% Complete"));
		$("#showSpanPerEmploy10").html((Math.floor( EmploymentRate10 ) + "%") + " ("+disabledPerson10+"명)");
		// $("#showSpanPerEmploy10").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson10 >= MandatoryEmploymentRate)
		{
			$("#showEmploy10").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson10);
		}
		else if(disabledPerson10 >= EmploymentCount75 && disabledPerson10 < MandatoryEmploymentRate)
		{
			$("#showEmploy10").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson10);
		}
		else if(disabledPerson10 >= EmploymentCount50 && disabledPerson10 < EmploymentCount75)
		{
			$("#showEmploy10").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson10);
		}
		else if(disabledPerson10 >= EmploymentCount25 && disabledPerson10 < EmploymentCount50)
		{
			$("#showEmploy10").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson10);
		}
		else if(disabledPerson10 > 0 && disabledPerson10 < EmploymentCount25)
		{
			$("#showEmploy10").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson10);
		}
		else
		{
			$("#showEmploy10").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson10);
		}

		// 11월 차트 출력
		$("#showEmploy11").attr("data-percent", Math.floor( EmploymentRate11 ) + "%");
		$("#showEmploy11").css("width", (Math.floor( EmploymentRate11 ) + "%"));
		$("#showSpanEmploy11").html((Math.floor( EmploymentRate11 ) + "% Complete"));
		$("#showSpanPerEmploy11").html((Math.floor( EmploymentRate11 ) + "%") + " ("+disabledPerson11+"명)");
		// $("#showSpanPerEmploy11").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson11 >= MandatoryEmploymentRate)
		{
			$("#showEmploy11").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson11);
		}
		else if(disabledPerson11 >= EmploymentCount75 && disabledPerson11 < MandatoryEmploymentRate)
		{
			$("#showEmploy11").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson11);
		}
		else if(disabledPerson11 >= EmploymentCount50 && disabledPerson11 < EmploymentCount75)
		{
			$("#showEmploy11").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson11);
		}
		else if(disabledPerson11 >= EmploymentCount25 && disabledPerson11 < EmploymentCount50)
		{
			$("#showEmploy11").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson11);
		}
		else if(disabledPerson11 > 0 && disabledPerson11 < EmploymentCount25)
		{
			$("#showEmploy11").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson11);
		}
		else
		{
			$("#showEmploy11").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson11);
		}

		// 12월 차트 출력
		$("#showEmploy12").attr("data-percent", Math.floor( EmploymentRate12 ) + "%");
		$("#showEmploy12").css("width", (Math.floor( EmploymentRate12 ) + "%"));
		$("#showSpanEmploy12").html((Math.floor( EmploymentRate12 ) + "% Complete"));
		$("#showSpanPerEmploy12").html((Math.floor( EmploymentRate12 ) + "%") + " ("+disabledPerson12+"명)");
		// $("#showSpanPerEmploy12").attr("class", "progress-bar progress-bar-2");
		// 그레프 색상 및 과세 범위 별 미달인원 수
		if(disabledPerson12 >= MandatoryEmploymentRate)
		{
			$("#showEmploy12").attr("class", "progress-bar");
			overCount100 += (MandatoryEmploymentRate - disabledPerson12);
		}
		else if(disabledPerson12 >= EmploymentCount75 && disabledPerson12 < MandatoryEmploymentRate)
		{
			$("#showEmploy12").attr("class", "progress-bar");
			overCount75 += (MandatoryEmploymentRate - disabledPerson12);
		}
		else if(disabledPerson12 >= EmploymentCount50 && disabledPerson12 < EmploymentCount75)
		{
			$("#showEmploy12").attr("class", "progress-bar progress-bar-3");
			overCount50 += (MandatoryEmploymentRate - disabledPerson12);
		}
		else if(disabledPerson12 >= EmploymentCount25 && disabledPerson12 < EmploymentCount50)
		{
			$("#showEmploy12").attr("class", "progress-bar progress-bar-3");
			overCount25 += (MandatoryEmploymentRate - disabledPerson12);
		}
		else if(disabledPerson12 > 0 && disabledPerson12 < EmploymentCount25)
		{
			$("#showEmploy12").attr("class", "progress-bar progress-bar-3");
			overCount0 += (MandatoryEmploymentRate - disabledPerson12);
		}
		else
		{
			$("#showEmploy12").attr("class", "progress-bar progress-bar-3");
			overCountNone += (MandatoryEmploymentRate - disabledPerson12);
		}


		console.log("overCount100 = " + (overCount100));
		console.log("overCount75 = " + (overCount75));
		console.log("overCount50 = " + (overCount50));
		console.log("overCount25 = " + (overCount25));
		console.log("overCount0 = " + (overCount0));
		console.log("overCountNone = " + (overCountNone));

		$("#textTotalCountOver100").text(overCount100 + "명 x 0원");
		$("#textTotalCountOver75").text(overCount75 + "명 x 월 945,000원");
		$("#textTotalCountOver50").text(overCount50 + "명 x 월 1,001,700원 (+6%)");
		$("#textTotalCountOver25").text(overCount25 + "명 x 월 1,134,000원 (+20%)");
		$("#textTotalCountOver0").text(overCount0 + "명 x 월 1,323,000원 (+40%)");
		$("#textTotalCountOverNone").text(overCountNone + "명 x 월 1,573,770원 (최저임금)");

		$("#textTotalCount").text(
			(
				(overCount75 * 945000) + (overCount50 * 1001700) + (overCount25 * 1134000) + 
				(overCount0 * 1323000) + (overCountNone * 1573770)
			).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		);
		$("#totalCount").text(
			(
				(overCount75 * 945000) + (overCount50 * 1001700) + (overCount25 * 1134000) + 
				(overCount0 * 1323000) + (overCountNone * 1573770)
			).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		);
		$("#inputLastTotalCount").text(
			(
				(overCount75 * 945000) + (overCount50 * 1001700) + (overCount25 * 1134000) + 
				(overCount0 * 1323000) + (overCountNone * 1573770)
			).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		);
		$("#totalLastCountTitle").text(
			(
				(overCount75 * 945000) + (overCount50 * 1001700) + (overCount25 * 1134000) + 
				(overCount0 * 1323000) + (overCountNone * 1573770)
			).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		);
		$('#hiddenLastTotalCount').val(
			(overCount75 * 945000) + (overCount50 * 1001700) + (overCount25 * 1134000) + 
			(overCount0 * 1323000) + (overCountNone * 1573770)
		)
		
		// if($('#hiddenLastTotalCount').val() === 0)
		{
			$('#payTax01').text(
				"(-3%) " + 
				($("#hiddenLastTotalCount").val() /100 * 97)
				.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
			);
			$('#payTax02').text("0");
			$('#payTax03').text("0");
			$('#payTax04').text("0");
		}

	})

	$('#inputLastDiscount').change(function(){
		$('#inputLastTotalCount').html(($('#hiddenLastTotalCount').val() - $('#inputLastDiscount').val()).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
		$('#totalCount').html(($('#hiddenLastTotalCount').val() - $('#inputLastDiscount').val()).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
		$('#hiddenLastTotalCount').val($('#hiddenLastTotalCount').val() - $('#inputLastDiscount').val());
	})

	$('input[name=chk_info]').change(function(){
		if($('input[name=chk_info]:checked').val() == 1)
		{
			console.log("$('#hiddenLastTotalCount').val() = " + $('#hiddenLastTotalCount').val());
			$("#payTax01").text(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax02").text(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax03").text(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax04").text(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
		}
		else
		{
			$('#payTax01').text(
				"(-3%) " + 
				( $('#hiddenLastTotalCount').val() /100 * 97)
				.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
			);
			$('#payTax02').text("0");
			$('#payTax03').text("0");
			$('#payTax04').text("0");
		}
	})

	$('#inputLastTotalCount').change(function(){
		if($('input[name=chk_info]:checked').val() == 1)
		{
			console.log("$('#hiddenLastTotalCount').val() = " + $('#hiddenLastTotalCount').val());
			$("#payTax01").html(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax02").html(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax03").html(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
			$("#payTax04").html(($('#hiddenLastTotalCount').val()/4).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
		}
		else
		{
			$('#payTax01').html(
				"(-3%) " + 
				( $('#hiddenLastTotalCount').val() /100 * 97)
				.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
			);
			$('#payTax02').html("0");
			$('#payTax03').html("0");
			$('#payTax04').html("0");
		}
	})
	
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="vendor/html5shiv.js"></script>
  <script src="vendor/respond.min.js"></script>
<![endif]-->
<!-- >> /JS

============================================================================= -->
</body>
</html>