<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/index">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">
				<li class="navigation-header">
					<span style="color:#ffffff">정보</span> 
					<i class="zmdi zmdi-more"></i>
				</li>		
						
				<li>
					<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-dashboard mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">대시보드</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-comment mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">공지사항</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>	

				<li class="navigation-header">
					<span style="color:#ffffff">자료</span> 
					<i class="zmdi zmdi-more"></i>
				</li>	

				<li>
					<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-save (alias) mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">자료실</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>		

				<li>
					<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-file-text mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">서식다운</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li class="navigation-header">
					<span style="color:#ffffff">내 정보</span> 
					<i class="zmdi zmdi-more"></i>
				</li>		

				<li>
					<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-pencil-square-o mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">업무일지</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-check-square-o mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-user mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">내 정보</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li class="navigation-header" id="adminMenu1">
					<span style="color:#ffffff">관리자</span> 
					<i class="zmdi zmdi-more"></i>
				</li>


				<li>
					<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1" id="adminMenu2">
						<div class="pull-left">
							<i class="fa fa-file-excel-o mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1" id="adminMenu3">
						<div class="pull-left">
							<i class="fa fa-users mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li class="navigation-header">
					<span style="color:#ffffff">시스템</span> 
					<i class="zmdi zmdi-more"></i>
				</li>		

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-sitemap mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-laptop mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-comments mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-desktop mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">근무실황 파악
							</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa-puzzle-piece mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">적성검사</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>
				

				<li>
					<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
						<div class="pull-left">
							<i class="fa fa fa-question-circle-o mr-20"></i>
							<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
						</div>
						<div class="clearfix"></div>
					</a>
				</li>
			</ul>
		</div>
		<!-- /Left Sidebar Menu -->		

        <!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid pt-25">
				<!-- Row -->
				<!-- 공지사항 -->
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-light" style="font-size: 20px">공지사항</h6>
								</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body row" id="widgtNotice">
								
							</div>
						</div>
					</div>
				</div>

				<!-- 업무보고 -->
				<div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-light" style="font-size: 20px">업무보고</h6>
								</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body row" id="widgtReport">
								
							</div>
						</div>
					</div>
				</div>

				<!-- 근태관리 -->
				<div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-light" style="font-size: 20px">출퇴근 기록</h6>
								</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body row" id="widgtAtti">
								
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-light" style="font-size: 20px">근태관리</h6>
								</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body row">
								<div class="">
									<div class="pl-15 pr-15 mb-15">
										<div class="pull-left">
											<i class="zmdi zmdi-collection-folder-image inline-block mr-10 font-16"></i>
											<span class="inline-block txt-dark">출 근</span>
										</div>	
										<span class="inline-block txt-success pull-right weight-500">19</span>
										<div class="clearfix"></div>
									</div>
									<hr class="light-grey-hr mt-0 mb-15"/>
									<div class="pl-15 pr-15 mb-15">
										<div class="pull-left">
											<i class="zmdi zmdi-format-list-bulleted inline-block mr-10 font-16"></i>
											<span class="inline-block txt-dark">퇴 근</span>
										</div>	
										<span class="inline-block txt-success pull-right weight-500">0</span>
										<div class="clearfix"></div>
									</div>
									<hr class="light-grey-hr mt-0 mb-15"/>
									<div class="pl-15 pr-15 mb-15">
										<div class="pull-left">
											<i class="zmdi zmdi-ticket-star inline-block mr-10 font-16"></i>
											<span class="inline-block txt-dark">지 각</span>
										</div>	
										<span class="inline-block txt-danger pull-right weight-500">1</span>
										<div class="clearfix"></div>
									</div>
									<hr class="light-grey-hr mt-0 mb-15"/>
									<div class="pl-15 pr-15 mb-15">
										<div class="pull-left">
											<i class="zmdi zmdi-ticket-star inline-block mr-10 font-16"></i>
											<span class="inline-block txt-dark">전 체</span>
										</div>	
										<span class="inline-block txt-primary pull-right weight-500">20</span>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<!-- 출근률 -->
				<div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-light" style="font-size: 20px">근로자 접속률</h6>
								</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div>
								<div class="panel-body sm-data-box-1">
								<span class="uppercase-font weight-500 font-14 block text-center txt-dark">출근</span>	
								<div class="cus-sat-stat weight-500 txt-primary text-center mt-5">
									<!-- <span class="counter-anim" id="userCheckedPercent"></span><span>%</span> -->
									<span class="" id="userCheckedPercent"></span><span>%</span>
								</div>
								<div class="progress-anim mt-20">
									<div class="progress">
									<div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
								<ul class="flex-stat mt-5">
									<li>
										<span class="block">전 체</span>
										<span class="block txt-dark weight-500 font-15" id="userTotal"></span>
									</li>
									<li>
										<span class="block">출 근</span>
										<span class="block txt-dark weight-500 font-15" id="userChecked"></span>
									</li>
									<li>
										<span class="block">지 각</span>
										<span class="block txt-dark weight-500 font-15" id="userLated"></span>
									</li>
								</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->


				
			</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
					</div>
				</div>
				<!-- 사용자 정보 값 -->
				<input type="hidden" id="isadmin" value=<%= user.admin%>>
				<input type="hidden" id="userid" value=<%= user.userid%>>
				<input type="hidden" id="userindex" value=<%= user.id%>>
				<input type="hidden" id="username" value=<%= user.name%>>
				<input type="hidden" id="companyid" value=<%= user.companyid%>>
			</footer>
			<!-- /Footer -->
			
		</div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Counter Animation JavaScript -->
	<script src="/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Data table JavaScript -->
	<script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/dist/js/productorders-data.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Sparkline JavaScript -->
	<script src="/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- EChartJS JavaScript -->
	<script src="/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
	<script src="/vendors/echarts-liquidfill.min.js"></script>
	
	<!-- Toast JavaScript -->
	<script src="/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/dist/js/init.js"></script>
	<script src="/dist/js/dashboard3-data.js"></script>

	<script language="javascript" type="text/javascript" >
	// 공지사항 미리보기
	function readNotice(param=0){
		var req = new XMLHttpRequest();
		if(document.getElementById('userid').value === 'admin')
			{url = "/notices";}
		else
			{url = "/notices2/" + document.getElementById('companyid').value;}
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].title +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writer +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						div.setAttribute("onclick", "setChildValueNotice(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtNotice').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 업무보고 미리보기
	function readReport(param=0){
		var url = '';
		var url='';
		if(document.getElementById('userid').value === 'admin')
			{url = "/reports";}
		else
			{url = "/reports2/" + document.getElementById('userindex').value;}

		var req = new XMLHttpRequest();
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].title +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writer +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						div.setAttribute("onclick", "setChildValueReport(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtReport').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 근태관리 미리보기
	function readAttitudes(param=0){
		var url = '';
		if(document.getElementById('userid').value === 'admin')
			{url = "/attitudes";}
		else
			{url = "/attitudes2/" + document.getElementById('userindex').value;}

		var req = new XMLHttpRequest();
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].status +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writer +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						div.setAttribute("onclick", "setChildValueAtti()");
						document.getElementById('widgtAtti').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 근태카운트 미리보기
	function readChecked(){
		var url='/dashboards';
		var req = new XMLHttpRequest();
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					const jsonResponse = JSON.parse(req.responseText);
					let total ='';
					let checked = '';
					let lated = '';

					for(var i=0; i<3; i++)
					{
						if(i===0)
						{
							total = jsonResponse[i].data
						}
						if(i===1)
						{
							checked = jsonResponse[i].data
						}
						if(i===2)
						{
							lated = jsonResponse[i].data
						}
					}

					$('#userTotal').html(total + " 명");
					$('#userChecked').html(checked + " 명");
					$('#userLated').html(lated + " 명");
					$('#userCheckedPercent').html(Math.round(checked/total*100));
				}
			// console.log(dataSet);
			} else {
			console.log("Error!");
			}
		}
	};	

	// 클릭 한 공지사항 ID값을 태워 상세보기페이지 호출
	function setChildValueNotice(index) {
		window.location.href = "/notice-detail?index=" + index;
	}
	function setChildValueReport(index) {
	window.location.href = "/report-detail?index=" + index;
	}
	function setChildValueAtti(index) {
	window.location.href = "/attitude";
	}

	// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

	// 관리자 페이지 표시
	function managementViewpage() {

		console.log(document.getElementById('isadmin').value);
		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#payments').css('display','');		
			
			// 메뉴
			$('#adminMenu1').css('display','');
			$('#adminMenu2').css('display','');
			$('#adminMenu3').css('display','');		
			adminMenu3
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#payments').css('display','none');

			$('#adminMenu1').css('display','none');
			$('#adminMenu2').css('display','none');
			$('#adminMenu3').css('display','none');		
		}
	}

	$(document).ready(function() {
		managementViewpage();
		readNotice();
		readReport();
		readAttitudes();
		readChecked();
	});
	</script>
</body>
</html>
