<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko-KR" lang="ko-KR"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Keep Log by 써포트라인</title>

	<meta name="author" content="김명준">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Boostrap style -->
	<link rel="stylesheet" type="text/css" href="/front/stylesheets/bootstrap.min.css">

	<!-- Theme style -->
	<link rel="stylesheet" type="text/css" href="/front/stylesheets/style.css">

	<!-- Reponsive -->
	<link rel="stylesheet" type="text/css" href="/front/stylesheets/responsive.css">

	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="/front/stylesheets/colors/color1.css" id="colors">

	<!-- Favicon -->
    <link href="/front/images/icons/favicon.png" rel="shortcut icon">

</head>
<body class="header_sticky ">

	<div class="preloader">
		<div class="dizzy-gillespie"></div>
	</div><!-- /.preloader -->

	<div class="boxed">

		<section id="header" class="header">
			<div class="container-fluid">
				<div id="logo" class="logo float-left">
					<a href="index.html" title="Keep Log">
						<img src="/front/images/logo.png" border="0" alt="Keep Log">
					</a>
				</div><!-- /.logo -->
				<div class="menu-extra">

				</div><!-- /.icon-header -->
				<ul class="flat-infomation">
		
				</ul><!-- /.flat-infomation -->
				<div class="nav-wrap">
					<div class="btn-menu">
				        <span></span>
				    </div><!-- //mobile menu button -->
					<div id="mainnav" class="mainnav">
						<ul class="menu">
							<li class="has-menu-mega">
								<a href="/login" title="">
									로그인 
								</a>
			
							</li><!-- /.has-menu-mega -->
						</ul><!-- /.menu -->
					</div><!-- /.mainnav -->
				</div><!-- /.nav-wrap -->
				<div class="clearfix"></div>
			</div><!-- /.container-fluid -->
			<div class="menu-canvas">
				<div class="close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="widget-about">
					<h5>고객센터</h5>
					<p>KeepLog 서비스를 사용중에 궁금하신 점이나 문제가 있는 경우, 전화로 문의주세요.</p>
				</div>
				<div class="widget-contact">
					<h5>서비스센터</h5>
					<ul>

						<li>02-1111-2222</li>
						<li><a href="#" title="">support@gmail.comß</a></li>
					</ul>
				</div>
				<div class="share-link"><!--
					<ul class="social-ft">
						<li>
							<a href="" title="Facebook">
								<i class="ti-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="" title="Twitter">
								<i class="ti-twitter-alt" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="" title="Google Plus">
								<i class="ti-google" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="" title="Instagram">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="" title="Dribble">
								<i class="ti-dribbble" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="" title="Pinterest">
								<i class="ti-pinterest" aria-hidden="true"></i>
							</a>
						</li>
					</ul> -->
					<p class="copyright">Copyright ©2018 Keep Log by Supportline. All Rights Reserved</p>
				</div>
			</div>
		</section><!-- /.header -->

		<section class="page-title parallax parallax2">
			<div class="title-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="box-title style1">
								<h1 style="color: #000000;">
									ONE-CLICK 업무보고 서비스
								</h1>
								<div class="breadcrumbs">
									<ul>

										<li><a href="/login" title="" style="color: #000000;">로그인 하기</a></li>
									</ul>
								</div><!-- /.breadcrumbs -->
							</div><!-- /.box-title -->
						</div><!-- /.col-md-12 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.title-heading -->
		<div class="overlay-black"></div>
		</section><!-- /.page-title parallax -->

		<section class="background">
			<div class="container full-width">
				<div class="row">
					<div class="column-4 no-padding">
						<div class="iconbox center style1 v1 no-border color-black background info-1">
							<div class="box-header">
								<div class="icon">
									<span class="ti-desktop font-size-48"></span>
									<span class="ti-desktop two font-size-48"></span>
								</div>
								<div class="box-title">
									<a href="#" title="">출퇴근기록부 서비스</a>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>한국장애인고용공단에 제공하기 위한 출퇴근기록부 정보를 전산화하였습니다.</p>
								<div class="more-link">
									<a href="#" title="">VIEW SERVICES</a>
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.column-4 no-padding -->
					<div class="column-4 no-padding">
						<div class="iconbox center style1 v1 no-border background-blue color-white info-1">
							<div class="box-header">
								<div class="icon">
									<span class="ti-desktop font-size-48"></span>
									<span class="ti-desktop two font-size-48"></span>
								</div>
								<div class="box-title">
									<a href="#" title="">주간업무보고 서비스</a>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>고용주들이 쉽게 보고 출력할 수 있는 주간업무보고 서비스입니다.</p>
								<div class="more-link">
									<a href="#" title="">VIEW SERVICES</a>
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.column-4 no-padding -->
					<div class="column-4 no-padding">
						<div class="iconbox center style1 v1 no-border background info-1">
							<div class="box-header">
								<div class="icon">
									<span class="ti-desktop font-size-48"></span>
									<span class="ti-desktop two font-size-48"></span>
								</div>
								<div class="box-title">
									<a href="#" title="">고용부담금 절감</a>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>최소의 인원배치로 고용부담금을 절감해 드립니다</p>
								<div class="more-link">
									<a href="/ersmSemi" title="">VIEW SERVICES</a>
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.column-4 no-padding -->
					<div class="column-4 no-padding">
						<div class="iconbox center style1 v1 no-border color-white bg-image overlay-02 info-1">
							<div class="box-header">
								<div class="icon">
									<span class="ti-desktop font-size-48"></span>
									<span class="ti-desktop two font-size-48"></span>
								</div>
								<div class="box-title">
									<a href="#" title="">간단한 사용방법</a>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>로그인 후, 간단한 사용방법을 통해 중증장애인도 쉽게 사용할 수 있는 서비스입니다.</p>
								<div class="more-link">
									<a href="#" title="">VIEW SERVICES</a>
								</div>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox style1 -->
					</div><!-- /.column-4 no-padding -->
				</div><!-- /.row -->
			</div><!-- /.container full-width -->
		</section><!-- /.flat-iconbox -->


		<div class="divider100"></div>

		<section class="flat-info-box">
			<div class="row-box overflow">
				<div class="one-half info-box info-image v1 no-padding">
					<img src="/front/images/page/box-4.jpg" alt="">
				</div><!-- /.info-box info-image -->
				<div class="one-half info-box info-text v1 background">
					<h4>What is the code quality?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim <br />id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
					<div class="more-link">
						<a href="#" title="" class="base center background-blue color-white border-radius-23 box-shadow">READ MORE</a>
					</div>
				</div><!-- /.info-box info-text -->
			</div><!-- /.row-box -->
			<div class="row-box overflow">
				<div class="one-half info-box info-text v1 background">
					<h4>What is the code quality?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
					<div class="more-link">
						<a href="#" title="" class="base center background-blue color-white border-radius-23 box-shadow">READ MORE</a>
					</div>
				</div><!-- /.info-box info-text -->
				<div class="one-half info-box info-image v1 no-padding">
					<img src="/front/images/page/box-5.jpg" alt="">
				</div><!-- /.info-box info-image -->
			</div><!-- /.row-box -->
		</section><!-- /.flat-info-box -->


		<section class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<p class="copyright">Copyright ©2018 Keep Log. All Rights Reserved</p>
					</div>
				</div>
			</div><!-- /.container -->
		</section><!-- /.footer-bottom -->

		<div class="button-go-top">
			<a href="#" title="" class="go-top">
				<i class="fa fa-chevron-up"></i>
			</a><!-- /.go-top -->
		</div><!-- /.button-go-top -->

	</div><!-- /.boxed -->

		<!-- Javascript -->
		<script type="text/javascript" src="/front/javascript/jquery.min.js"></script>
		<script type="text/javascript" src="/front/javascript/tether.min.js"></script>
		<script type="text/javascript" src="/front/javascript/bootstrap.min.js"></script>
		<script type="text/javascript" src="/front/javascript/jquery-validate.js"></script>
		<script type="text/javascript" src="/front/javascript/waypoints.min.js"></script>
		<script type="text/javascript" src="/front/javascript/jquery.circlechart.js"></script>
		<script type="text/javascript" src="/front/javascript/easing.js"></script>
		<script type="text/javascript" src="/front/javascript/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="/front/javascript/owl.carousel.js"></script>
		
		<script type="text/javascript" src="/front/javascript/parallax.js"></script>
	   	
	   	<script type="text/javascript" src="/front/javascript/jquery.countdown.js"></script>
	   	<script type="text/javascript" src="/front/javascript/kinetic.js"></script>
	   	<script type="text/javascript" src="/front/javascript/jquery.final-countdown.js"></script>
		<script type="text/javascript" src="/front/javascript/jquery.cookie.js"></script>
		<script type="text/javascript" src="/front/javascript/switcher.js"></script>
		<script type="text/javascript" src="/front/javascript/jquery-countTo.js"></script>

		<script type="text/javascript" src="/front/javascript/main.js"></script>

</body>	
</html>