<!DOCTYPE html>
<html lang="en">
    <style>
        @font-face{
            font-family:"FREEBOOTER SCRIPT";
            src:url('/front2/assets/fonts/freebooterscript-webfont.eot');
            src:url('/front2/assets/fonts/freebooterscript-webfont.eot?#iefix') format('embedded-opentype'),
            url('/front2/assets/fonts/freebooterscript-webfont.woff') format('woff'),
            url('/front2/assets/fonts/freebooterscript-webfont.ttf') format('truetype');
            src:local(※), url('/front2/assets/fonts/freebooterscript-webfont.woff') format('woff');
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keeplog</title>
        <link rel="icon" type="image/x-icon" href="/front2/assets/images/favicons/favicon.ico" />
        <link rel="icon" type="image/png" href="/front2/assets/images/favicons/favicon.png" />
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/front2/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/front2/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="/front2/assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/front2/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/front2/assets/css/theme.min.css">
        <link rel="stylesheet" href="/front2/assets/css/color-defaults.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-beige-black.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-black-beige.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-black-white.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-black-yellow.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-blue-white.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-green-white.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-red-white.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-white-black.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-white-blue.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-white-green.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-white-red.min.css">
        <link rel="stylesheet" href="/front2/assets/css/swatch-yellow-black.min.css">
        <link rel="stylesheet" href="/front2/assets/css/fonts.min.css" media="screen">

        
    </head>
    <body style="height:100%">
        <header id="masthead" class="navbar navbar-sticky swatch-blue-white" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../index.html" class="navbar-brand">
                        <img src="/front2/assets/images/logo.png" border="0" alt="Keep Log" height="260" width="140">
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="/login" class="dropdown-toggle">로그인</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="content" role="main">
            <section class="section swatch-blue-white" style="padding-bottom: 0px">
                <div class="container">
                    <header class="section-header underline">
                        <h1 class="headline hyper hairline" style="font-family:FREEBOOTER SCRIPT; margin-left: -70px; font-size: 50px">TELECOMMUTING SOLUTION</h1>
                        <p class="" style="font-size: 40px">在宅勤務</p>
                    </header>
                    <div class="row">
                        <ul class="list-unstyled row box-list">
                            <li class="col-md-4 os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                                <div class="box-hex flat-shadow box-huge" style="height:50%; width:50%" onclick="window.location='/login'"> 
                                    <div class="box-dummy"></div>
                                    <figure class="box-inner ">
                                        <img class="svg-inject" src="/front2/img/home.jpg" style="height:100%"/>
                                        <figcaption class="box-caption">
                                            <h4 href="/login">근로자</h4>
                                            <p>업무보고</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <h3 class="text-center">
                                    <a href="/login">근로자</a>
                                    <small class="block">로그인</small>
                                </h3>
                            </li>
                            <li class="col-md-4 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                <div class="box-hex flat-shadow box-huge" style="height:50%; width:50%" onclick="window.location='/calculator'">
                                    <div class="box-dummy"></div>
                                    <figure class="box-inner ">
                                        <img class="svg-inject" src="/front2/img/calc.jpg" style="height:100%"/>
                                        <figcaption class="box-caption">
                                            <h4 href="/calculator">고용부담금 계산</h4>
                                            <p>간편 계산</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <h3 class="text-center">
                                    <a href="/calculator">고용부담금 계산</a>
                                    <small class="block">바로가기</small>
                                </h3>
                            </li>
                            <li class="col-md-4 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                <div class="box-hex flat-shadow box-huge" style="height:50%; width:50%" onclick="window.location='/login'">
                                    <div class="box-dummy"></div>
                                    <figure class="box-inner ">
                                        <img class="svg-inject" src="/front2/img/office.jpg" style="height:100%"/>
                                        <figcaption class="box-caption">
                                            <h4>사업주</h4>
                                            <p>업무관리</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <h3 class="text-center">
                                    <a href="/login">사업주</a>
                                    <small class="block">로그인</small>
                                </h3>                                
                            </li>
                        </ul>
                        <ul class="list-unstyled row box-list">
                            <li class="col-md-12 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                <blockquote class="fancy-blockquote">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>근무자 현황실 / 적성검사 / 업무일지 시스템 / 원격제어 시스템 / 공지사항 / 자료실 / 이용안내 서비스</p>
                                            <p>출퇴근 기록부 / 실시간 업무교류 시스템  / 근무실황 파악 시스템 / 근무실적 출력서비스 / 서식다운 서비스</p>
                                        </div>
                                    </div>
                                </blockquote>                              
                            </li>
                        </ul>
                    </div>
                </div>
            </section>   
            <footer id="footer" role="contentinfo">
                <section class="section swatch-white-red has-top" style="padding:0px">
                    <div class="decor-top">
                        <svg class="decor hidden-xs hidden-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                            stroke-width="0"></path>
                        </svg>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="text-4" class="sidebar-widget widget_text">
                                    <div style="float:left;">
                                        <div class="textwidget" style="text-align:left">&nbsp;</div>
                                        <div class="textwidget" style="text-align:left">07283 서울시 영등포구 국회대로 70길 19 (여의도동 대하빌딩 5층)</div>
                                        <div class="textwidget" style="text-align:left">&nbsp;</div>
                                        <div class="textwidget" style="text-align:left">Tel) 070-7495-6051 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax) 02-782-6042 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   E-mail) compass5941@gmail.com</div>
                                    </div>
                                    <div style="float:right; vertical-align: bottom">
                                        <div class="textwidget">&nbsp;</div>
                                        <div class="textwidget">&nbsp;</div>
                                        <div class="textwidget">&nbsp;</div>
                                        <div class="textwidget">Copyright ©2018 Keep Log. All Rights Reserved</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
        
        <!-- <a class="go-top hex-alt" href="javascript:void(0)">
            <i class="fa fa-angle-up"></i>
        </a> -->
        <script src="/front2/assets/js/packages.min.js"></script>
        <script src="/front2/assets/js/theme.min.js"></script>
    </body>
</html>
