<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>피플씨엔에스</title>
		<meta name="description" content="Elmer is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Elmer Admin, Elmeradmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>
				
		<!-- Custom CSS -->
		<link href="/dist/css/style.css" rel="stylesheet" type="text/css">

		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="/dist/magnific-popup.css">

		<!-- 폰트 -->
		<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper  pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left"></div>
				<div class="clearfix"></div>
			</header>

			<!-- <div class="mt-20 mb-20 ml-15 mr-15"> -->
				<!-- <a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">사용자 추가</a> -->
				<!-- Modal -->
				<!-- 사용자 추가 모달 -->
				<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
					<div class="modal-dialog">
						<!-- sample modal content -->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h5 class="modal-title" id="myLargeModalLabel">알림</h5>
							</div>
							<div class="modal-body">
								<h5 class="mb-15">현재 Internet Explorer로 접속하셨습니다.</h5>
								<p>KeepLog사이트는 Google Chrome, Firefox 브라우저를 권장합니다. </p>
								<p>Microsoft Internet Explorer는 보안문제로 인해 권장하지 않습니다.</p>
								<p>아래 버튼을 클릭하여 크롬 다운로드 사이트에서 [Chrome 다운로드]버튼을 클릭하여 설치를 하시기 바랍니다.</p>
								<p>설치후 Chrome을 실행하여 http://keeplog.kr 사이트를 접속 바랍니다. </p>
							</div>
							<div class="modal-footer">
								<!-- <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button> -->
								<a class="btn btn-danger text-left" href="https://www.google.co.kr/chrome/">크롬 다운</a>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
				</div>
				<!-- /.modal -->
			<!-- </div> -->

			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<img class="brand-img" style="text-align:center" src="/dist/img/keeplog_logo_login.png" alt="brand"/>
											<h6 class="text-center nonecase-font txt-grey">Telecommuting Solution</h6>
										</div>	
										<div class="form-wrap">
											<form action="/login" method="post">
												<div class="form-group">
													<label class="control-label mb-10" for="exampleInputId">아이디</label>
													<input type="text" class="form-control" required="" id="exampleInputEmail_2" name="username" placeholder="아이디를 입력하세요.">
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">비밀번호</label>
													<div class="clearfix"></div>
													<input type="password" class="form-control" required="" id="exampleInputpwd_2" name="password" placeholder="비밀번호를 입력하세요.">
												</div>
												<div class="form-group">
													<!-- <div class="checkbox checkbox-primary pr-10 pull-left">
														<input id="checkbox_2" type="checkbox">
														<label for="checkbox_2">Remember Me</label>
													</div> -->
													<div class="clearfix"></div>
												</div>
												<div class="form-group text-center">
													<button type="submit" class="btn btn-primary  btn-rounded">로그인</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/dist/js/jquery.slimscroll.js"></script>
		
		<!-- Init JavaScript -->
		<script src="/dist/js/init.js"></script>

		<!-- Magnific Popup core JS file -->
		<script src="/dist/jquery.magnific-popup.js"></script>

		<script>
		function login()
		{
			var req = new XMLHttpRequest();
			req.open('POST', '/userinfo');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
					username: document.getElementById('exampleInputEmail_2').value,
					password: document.getElementById('exampleInputpwd_2').value
				})
			);
		
			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 201) 
					{
						// console.log("addReports() : " + req.responseText);
						var req = new XMLHttpRequest();
						req.open('POST', '/attitudes');
						req.setRequestHeader('Content-type', 'application/json');
						req.send(JSON.stringify(
							{
								userid: document.getElementById('exampleInputEmail_2').value
							})
						);
					
						req.onreadystatechange = function (e) 
						{
							if (req.readyState === XMLHttpRequest.DONE) 
							{
								if(req.status === 201) 
								{
									//readAttitude();
									// window.location.reload()

									// updateUserState();

									// $('#datable_1').DataTable().ajax.reload(null, false);
									// console.log("addAttitude() : " + req.responseText);
								} 
								else 
								{
									console.log("Error!");
								}
							}
						}
					} 
					else 
					{
						alert('계정을 다시 확인해주세요.');
						console.log("Error!");
					}
				}
			}
		}

		function fnPopup() {
			var popupOption = 'directories=no, toolbar=no, location=no, menubar=no, status=no, scrollbars=no, resizable=no, left=400, top=200, width=440, height=550';
			window.open(URL, name, popupOption);
		}


		$(document).ready(function() {
			"use strict";
			// fnPopup();


			var agent = navigator.userAgent.toLowerCase();

			if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ) {
				// alert("인터넷 익스플로러 브라우저 입니다.");
				$('#myModal').modal('show');
			}
			else {
				// alert("인터넷 익스플로러 브라우저가 아닙니다.");
				// $('#myModal').modal('show');
			}

			
		});
		</script>
	</body>
</html>
