<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- 달력 -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
						<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->		
		
		
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h3 class="txt-dark">소속/근로자 관리</h3>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
							<li class="active"><a href="/manageuser"><span>소속/근로자 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">근로자 추가</a>
														<!-- Modal -->
														<!-- 사용자 추가 모달 -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">근로자 추가</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<div class="col-md-12 mb-20">
																					<p style="color:black">소속</p>
																					<select class="form-control" id="companySelectList" required>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">이름</p>
																					<input type="text" class="form-control" placeholder="Name" id="inputUserName">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">아이디</p>
																					<input type="text" class="form-control" placeholder="ID" id="inputUserID">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">비밀번호</p>
																					<input type="password" class="form-control" placeholder="Password" id="inputUserPassword">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">핸드폰</p>
																					<input type="text" class="form-control" placeholder="휴대전화" id="inputUserPhone">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">주 소</p>
																					<input type="text" class="form-control" placeholder="집 주소" id="inputUserAddress">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">근무시간</p>
																					<select class="form-control" id="selectUserTime">
																						<option value="1">1시간</option>
																						<option value="2">2시간</option>
																						<option value="3">3시간</option>
																						<option value="4">4시간</option>
																						<option value="5">5시간</option>
																						<option value="6">6시간</option>
																						<option value="7">7시간</option>
																						<option value="8">8시간</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">장애등급</p>
																					<select class="form-control" id="selectUserUnuselevel">
																						<option value="1">1급</option>
																						<option value="2">2급</option>
																						<option value="3">3급</option>
																						<option value="4">4급</option>
																						<option value="5">5급</option>
																						<option value="6">6급</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">입사 날짜</p>
																					<input class="form-control" type="text" id="startDtpicker">
																				</div>
																				<!-- <div class="col-md-12 mb-20">
																					<p style="color:black">권한</p>
																					<select class="form-control" id="selectUserLevel">
																						<option value="0">근로자</option>
																						<option value="1">관리자</option>
																					</select>
																				</div> -->
																			</div>
																		</form>
																		<div class="modal-footer">
																			<div style="float:left"> 
																				<div class="checkbox">
																					<input id="checkbox1" type="checkbox">
																					<label for="checkbox1" style="color:black">관리자</label>
																				</div>
																			</div>
																			<div style="float:right">
																				<button type="button" class="btn btn btn-primary" id="btnCheckID" onclick="checkID()">ID 중복 확인</button>
																				<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id="btnAddUser" onclick="addUser()" style="display:none">추 가</button>
																				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																			</div>
																		</div>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>

													<div class="mt-20 mb-20 ml-15 mr-15">
														<!-- Modal -->
														<!-- 사용자 수정 모달 -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="editUserModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">근로자 정보 수정</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<div class="col-md-12 mb-20">
																					<p style="color:black">아이디</p>
																					<input type="text" class="form-control" placeholder="ID" id="inputEditUserID" disabled>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">이름</p>
																					<input type="text" class="form-control" placeholder="Name" id="inputEditUserName" disabled>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">비밀번호</p>
																					<input type="password" class="form-control" placeholder="Password" id="inputEditUserPassword">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">휴대전화</p>
																					<input type="text" class="form-control" placeholder="휴대전화" id="inputEditUserPhone">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">주 소</p>
																					<input type="text" class="form-control" placeholder="Team" id="inputEditUserAddress">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">근무시간</p>
																					<select class="form-control" id="selectEditUserTime">
																						<option value="4">4시간</option>
																						<option value="6">6시간</option>
																						<option value="8">8시간</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">장애등급</p>
																					<select class="form-control" id="selectEditUserUnuselevel">
																						<option value="1">1급</option>
																						<option value="2">2급</option>
																						<option value="3">3급</option>
																					</select>
																				</div>
																				<!-- <div class="col-md-12 mb-20">
																					<p style="color:black">권한</p>
																					<select class="form-control" id="selectEditUserLevel">
																						<option value="0">근로자</option>
																						<option value="1">관리자</option>
																					</select>
																				</div> -->
																				<div class="col-md-12 mb-20">
																					<p style="color:black">퇴사 날짜</p>
																					<input class="form-control" type="text" id="endDtpicker">
																				</div>
																				<input type="hidden" id="inputEditID"/>
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<div style="float:left"> 
																			<div class="checkbox">
																				<input id="checkbox2" name="checkbox2" type="checkbox">
																				<label for="checkbox2" style="color:black">관리자</label>
																			</div>
																		</div>
																		<div style="float:right">
																			<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id="btnEditUser" onclick="editUser()">수 정</button>
																			<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																		</div>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>

													<ul class="inbox-nav mb-30" id="companyList">
													</ul>
													
													<a class="txt-success create-label  pa-15" href="javascript:void(0)" data-toggle="modal" data-target="#newCompanyModal" id="addComp">+ 회사 추가</a>													
													<!-- 회사추가 Modal -->
													<div id="newCompanyModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">회사 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="form-group">
																			<label class="control-label mb-10">회사 이름</label>
																			<input id="inputCampanyName" type="text" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="addCompany()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 회사추가 Modal -->

													<!-- 회사수정 Modal -->
													<div id="editCompanyModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myEditModalLabel">회사 수정</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="form-group">
																			<label class="control-label mb-10">회사 이름</label>
																			<input id="inputEditCampanyName" type="text" class="form-control" value="">
																			<input id="inputEditCampanyId" type="hidden" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="editCompany()">수 정</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 회사수정 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30">
															<table id="datable_1" class="table  display table-hover mb-30" data-page-size="10">
																<thead>
																	<tr>
																		<th>근로자 명</th>
																		<th>아이디</th>
																		<th>연락처</th>
																		<th>주 소</th>
																		<th>장애등급</th>
																		<th>근무조건(시간)</th>
																		<th>입사일자</th>
																	</tr>
																</thead>
																<tbody id="userList">
																	<!-- 사용자 리스트 동적추가 -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													</div>
												</aside>
												<div style="text-align:right; margin:15px">
													<!-- <div class="btn btn-primary btn-anim">
														<i class="fa fa-cloud-download"></i>
														<span class="btn-text">다 운</span>
													</div> -->
													<!-- <div class="btn btn-primary"> -->
														<!-- <a href="/userlists/1" download="">다 운</a> -->
														<!-- <a href="/userlists/" +  download="">다 운</a> -->
													<!-- </div> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
					</div>
				</div>
				<!-- 사용자 정보 값 -->
				<input type="hidden" id="isadmin" value=<%= user.admin%>>
				<input type="hidden" id="userid" value=<%= user.userid%>>
				<input type="hidden" id="userindex" value=<%= user.id%>>
				<input type="hidden" id="username" value=<%= user.name%>>
				<input type="hidden" id="companyid" value=<%= user.companyid%>>
				<input type="hidden" id="nowcompanyid" value="">
			</footer>
			<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="dist/js/init.js"></script>

	<!-- 달력 -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<!-- 회사 추가 -->
	<script language="javascript" type="text/javascript">

	var url = '';
	if($('#userid').val() === "admin")
	{
		console.log($('#userid').val());
		url = '/users';
	}
	else
	{
		console.log($('#companyid').val());
		url = '/users/' + $("#companyid").val();
	}
	var table = '';
	var tableOpt = {
				dom: 'Bfrtip',
				buttons: [
					{ extend: 'copy' }, 
					{ extend: 'csv' }, 
					{ extend: 'excel' }, 
					{ extend: 'pdf' }, 
					{ extend: 'print' }
				],
				select: true,
				oLanguage : {
					"sProcessing" : "처리중...",
					"sZeroRecords" : "데이터가 없습니다.",
					"sLengthMenu" : "_MENU_ 건 표시",
					"oPaginate" : {
						"sFirst" : "처음",
						"sNext" : "다음",
						"sPrevious" : "이전",
						"sLast" : "끝"
					},
					"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
					"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
					'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
					"sSearch" : "검색 : "
				}, 
				processing : true,
				bPaginate : true,  	// 페이징
				iDisplayLength : 10,	// 기본 표시행
				bLengthChange : true,	// 보여주는 건수 선택
				bFilter : true,		// 검색
				bSort : true,			// 소트
				bAutoWidth : true,			
			
				
				// sAjaxSource: "/notices",
				// sAjaxDataProp: "data", 
				// ajax: {
				// 	type : "GET",
				// 	url : "/notices",
				// 	contentType : "application/json",
				// 	// dataType: "JSON",
				// 	dataSrc: "",
				// 	data : {
				// 	}
				// },
				ajax : 
				{
					url : url
				},
				columns: [
					{ 
						data: "name",
						render: function(data, type, row)
						{
							var name = data;
							if(row.admin == '1')
							{
								name+=" [관리자]";
							}
							return '<a onclick="changeUserInfo(\''+row.id+'\',\''+row.userid+'\',\''+row.name+'\', \''+row.team+'\', \''+row.email+'\', \''+row.phone+'\', \''+row.admin+'\')">'+name+'</a>';
							// id, userid, username, team, email, phone, level
						} 
					},	
					{ 
						data: "userid" ,
						render: function(data, type, row)
						{
							return '<a onclick="changeUserInfo(\''+row.id+'\',\''+row.userid+'\',\''+row.name+'\', \''+row.team+'\', \''+row.email+'\', \''+row.phone+'\', \''+row.admin+'\')">'+data+'</a>';
						}
					},
					{ 
						data: "phone",
						render: function(data, type, row)
						{
							return '<a onclick="changeUserInfo(\''+row.id+'\',\''+row.userid+'\',\''+row.name+'\', \''+row.team+'\', \''+row.email+'\', \''+row.phone+'\', \''+row.admin+'\')">'+data+'</a>';
						}
					},
					{ 
						data: "address",
						render: function(data, type, row)
						{
							return '<a onclick="changeUserInfo(\''+row.id+'\',\''+row.userid+'\',\''+row.name+'\', \''+row.team+'\', \''+row.email+'\', \''+row.phone+'\', \''+row.admin+'\')">'+data+'</a>';
						} 
					},
					
					
					{ data: "unuselevel" },
					{ data: "worktime"},
					{ data: "inday"}
				],
				order : [[6, 'asc']]
			};


	// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

		// 회사 추가
		function addCompany(){
				var req = new XMLHttpRequest();
				req.open('POST', '/companys');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
				name: document.getElementById('inputCampanyName').value
			}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				// console.log("addCompany() : " + req.responseText);
				document.getElementById('inputCampanyName').value = ''
				readCompany();
				} else {
				console.log("Error!");
				}
			}
			};
		}

		function editCompany(){
		if(confirm("회사 명을 수정 하시겠습니까?"))
		{
			var name = document.getElementById('inputEditCampanyName').value;
			var id = document.getElementById('inputEditCampanyId').value;	

			var req = new XMLHttpRequest();
			req.open('PUT', '/companys');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
					id: id,
					name: name
				})
			);
		
			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						readCompany();
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	}

	function deleteCompany(id){
		if(confirm("회사를 삭제하시겠습니까?"))
		{
			if(confirm("관련된 관리자, 근무자, 자료가 모두 삭제 됩니다.\r삭제 후에는 복원이 불가능 합니다.\r계속 진행하시겠습니까?"))
			{
				var req = new XMLHttpRequest();
				req.open('DELETE', '/companys');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						id: id
					})
				);
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							readCompany();
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
			reloadUser();
		};
	}

		// 회사 리스트 불러오기
		function readCompany(){
			var req = new XMLHttpRequest();
			var url = '';
			if($('#userid').val() === "admin")
			{
				console.log($('#userid').val());
				url = '/companys';
			}
			else
			{
				console.log($('#companyid').val());
				url = '/companys/' + $("#companyid").val();
				console.log(url);
			}
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 업체 리스트 초기화
						var parent = document.getElementById("companyList");
						var parentSelect = document.getElementById("companySelectList");
						parentSelect.options.length = 0;
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}


						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);						
						console.log(jsonResponse);
						// 전체 그룹 생성
						// var li = document.createElement("li");
						// li.innerHTML = '<a onclick="reloadUser(0)"> 전 체';
						// document.getElementById('companyList').appendChild(li);

						for(var i=0; i<jsonResponse.length; i++){	
							// 그룹 리스트
							var li = document.createElement("li");
							
							if($('#userid').val() === 'admin')
							{	
								li.innerHTML += '<a class="btn btn-primary btn-outline" style="width:70%" onclick="reloadUser(' + jsonResponse[i].id + ')"> '+jsonResponse[i].name+'</a>';
								li.innerHTML += '<i class="fa fa-pencil-square-o" style="position:relative; left:25px" name="btnCompanyEdit" onclick="changeModalValue('+jsonResponse[i].id+',\''+jsonResponse[i].name+'\')"></i>';
								li.innerHTML += '<i class="fa fa fa-minus-square" style="position:relative; left:30px" name="btnCompanyEdit" onclick="deleteCompany('+jsonResponse[i].id+')"></i>';
							}
							else
							{
								li.innerHTML += '<a class="btn btn-primary btn-outline" style="width:100%" onclick="reloadUser(' + jsonResponse[i].id + ')"> '+jsonResponse[i].name+'</a>';
							}
							li.innerHTML += '</a>';
							document.getElementById('companyList').appendChild(li);
							$('#companyList').attr('class', 'mt-20 mb-20 ml-15 mr-15');
							

							// 사용자 추가페이지 업체 리스트
							var option = document.createElement("option");
							option.innerHTML = jsonResponse[i].name;
							option.setAttribute('value', jsonResponse[i].id);
							document.getElementById("companySelectList").appendChild(option);
						}
					} else {
					console.log("Error!");
					}
				}
			};	
		}

		// 사용자 추가
		function addUser(){
			var selectbox = document.getElementById("companySelectList");
			var req = new XMLHttpRequest();
			req.open('POST', '/users');
			req.setRequestHeader('Content-type', 'application/json');
			console.log(selectbox.options[selectbox.selectedIndex].text);
			req.send(JSON.stringify({
				companyid : selectbox.options[selectbox.selectedIndex].value,
				companyname : selectbox.options[selectbox.selectedIndex].text,
				inday: document.getElementById('startDtpicker').value,
				address: document.getElementById('inputUserAddress').value,
				name: document.getElementById('inputUserName').value,
				userid: document.getElementById('inputUserID').value,
				phone: document.getElementById('inputUserPhone').value,
				password: document.getElementById('inputUserPassword').value,
				admin: $('input:checkbox[id="checkbox1"]').is(":checked") == true?1:0,
				worktime: document.getElementById('selectUserTime').value,
				unuselevel: document.getElementById('selectUserUnuselevel').value				
		}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
					document.getElementById('startDtpicker').value = '';
					document.getElementById('inputUserAddress').value = '',
					document.getElementById('inputUserName').value = '';
					document.getElementById('inputUserID').value = '';
					document.getElementById('inputUserPhone').value = '';
					document.getElementById('inputUserPassword').value = '';
					// document.getElementById('selectUserLevel').value = 0;
					document.getElementById('selectUserUnuselevel').value = '';

					$('#btnAddUser').css('display','none');
					$('#btnCheckID').css('display','');
					// readUsers();

					$('#datable_1').DataTable().ajax.reload(null, false);
				} 
				else {
					alert(req.responseText.console.error());
				}}
			};
		}

		// 사용자 수정
		function editUser(){
			// var selectbox = document.getElementById("companySelectList");
			console.log($('#inputEditID').val());
			var req = new XMLHttpRequest();
			req.open('PUT', '/users/' + $('#inputEditID').val());
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify({
				phone: document.getElementById('inputEditUserPhone').value,
				password: document.getElementById('inputEditUserPassword').value,
				worktime: document.getElementById('selectEditUserTime').value,
				address: document.getElementById('inputEditUserAddress').value,
				outday: document.getElementById('selectEditUserTime').value,
				unuselevel: document.getElementById('selectEditUserUnuselevel').value,
				admin: $('input:checkbox[id="checkbox2"]').is(":checked") == true?1:0,
				inday: document.getElementById('endDtpicker').value
		}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					document.getElementById('inputEditUserPhone').value = '';
					document.getElementById('inputEditUserPassword').value = '';
					document.getElementById('selectEditUserTime').value = '';
					document.getElementById('inputEditUserAddress').value = '';
					document.getElementById('selectEditUserTime').value = '4';
					document.getElementById('selectEditUserUnuselevel').value = '';
					$('input:checkbox[id="checkbox2"]').checked = false;
					document.getElementById('endDtpicker').value  = '';

					$('#datable_1').DataTable().ajax.reload(null, false);
				} 
				else {
					alert(req.responseText.error());
				}}
			};
		}

		// 사용자 리스트 불러오기
		// function readUsers(param=0){
		// 	var req = new XMLHttpRequest();
		// 	var url = '/users';
		// 	if(param!=0)
		// 	{
		// 		url += '/' + param;	
		// 	}
		// 	req.open('GET', url);
		// 	req.send();

		// 	req.onreadystatechange = function (e) {
		// 		if (req.readyState === XMLHttpRequest.DONE) {
		// 			if(req.status === 200) {
		// 				// 유져 리스트 초기화
		// 				var parent = document.getElementById("userList");
		// 				while(parent.hasChildNodes())
		// 				{
		// 					parent.removeChild(parent.firstChild);
		// 				}


		// 				// 리스트 만들기
		// 				var jsonResponse = JSON.parse(req.responseText);
		// 				for(var i=0; i<jsonResponse.length; i++){	
		// 					// 그룹 리스트
		// 					var tr = document.createElement("tr");
		// 					var strHtml = "";
		// 					strHtml += "<td>" + jsonResponse[i].team + "</td>";
		// 					strHtml += "<td>" + jsonResponse[i].userid + "</td>";
		// 					strHtml += "<td>" + jsonResponse[i].email + "</td>";
		// 					strHtml += "<td>" + jsonResponse[i].name + "</td>";
		// 					strHtml += "<td>" + jsonResponse[i].phone + "</td>";
		// 					tr.innerHTML = strHtml;
		// 					tr.onclick = "location.href='#userUpdateModal'";
		// 					document.getElementById('userList').appendChild(tr);
		// 				}
		// 			} else {
		// 			console.log("Error!");
		// 			}
		// 		}
		// 	};	
		// }

		// 파일 다운
		function getFileDown(){
			// var req = new XMLHttpRequest();
			var url = '/download/' + $("#nowcompanyid").val();
			// console.log(url);
			return url;
			// req.open('GET', url);
			// req.send();

			// console.log(req.response.filepath);
			// window.location = '/download/' + JSON.parse(req.responseText).filepath;
		}

		// 클레스 수정 모달 값 입력
		function changeModalValue(id, name){
			document.getElementById('inputEditCampanyName').value = name;
			document.getElementById('inputEditCampanyId').value = id;		

			$("#editCompanyModal").modal("show");
		}

		// 사용자 수정 모달 값 입력
		function changeUserInfo(id, userid, username, team, email, phone, level){
			// document.getElementById('inputEditID').value = id;	
			// document.getElementById('inputEditUserID').value = userid;	
			// document.getElementById('inputEditUserName').value = username;	
			// document.getElementById('inputEditUserTeam').value = team;	
			// document.getElementById('inputEditUserEmail').value = email;	
			// document.getElementById('inputEditUserPhone').value = phone;	
			// document.getElementById('selectEditUserLevel').value = level;
			
			$.get("/users2/" + userid, function(jqXHR){
				document.getElementById('inputEditID').value = jqXHR.id;	
				document.getElementById('inputEditUserID').value = jqXHR.userid;
				document.getElementById('inputEditUserPassword').value = jqXHR.password;	
				document.getElementById('inputEditUserName').value = jqXHR.name;	
				document.getElementById('selectEditUserTime').value = jqXHR.worktime;		
				document.getElementById('inputEditUserPhone').value = jqXHR.phone;	
				document.getElementById('inputEditUserAddress').value = jqXHR.address;	
				
				$('input:checkbox[name="checkbox2"]').each(function() {
					if(jqXHR.admin)
					{
						this.checked = true;
					}
				})

				$('#selectEditUserUnuselevel').val(jqXHR.unuselevel).prop("selected", true);

			}, 'json')
			.done(function(jqXHR){
				$("#editUserModal").modal("show");
			})
		}

		function reloadUser(param=0) {
		if(param === 0)
			{
				url = '/users';
			}
		else
			{
				url = '/users/'+ param;	
			}
			
		$("#nowcompanyid").val(param);
		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	};

		// 사용자 ID 확인
		function checkID() {
			var req = new XMLHttpRequest();
			var url = '/users2/' + document.getElementById('inputUserID').value;
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						alert("ID가 사용 중입니다.");
					} else {
						alert("사용 하실수 있는 ID입니다.");
						$('#btnAddUser').css('display','');
						$('#btnCheckID').css('display','none');
					}
				}
			};
		}

		// 관리자 페이지 표시
		function managementViewpage() {

			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#payments').css('display','');
				if($("#userid").val() === "admin")
				{
					$('#addComp').css('display','');
				}
				else
				{
					$('#addComp').css('display','none');
				}
			}
			else
			{
				$('#manageusers').css('display','none');;
				$('#manageusersline').css('display','none');;
				$('#payments').css('display','none');
			}
		}

		$(function ()
 	{
		const dtpickerOpt = {
            dateFormat: 'yy-mm-dd', // 데이터는 yyyy-MM-dd로 나옴
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: 'Wk',
            firstDay: 0,
            isRTL: false,
            duration: 200,
            showAnim: 'show',
            // maxDate: dtNow,       // 오늘 날자이후 데이터 클릭은 막기위해
            //changeMonth: true,
            //changeYear: true,
            //yearRange: 'c-10:c',
            showMonthAfterYear: true,
            yearSuffix: '년',
            showOtherMonths: true, // 나머지 날짜도 화면에 표시
            selectOtherMonths: true, // 나머지 날짜에도 선택을 하려면 true
            // defaultDate: dtAsk,

            onChangeMonthYear: function (year, month, inst) {
    			// 년 또는 월이 변경시 이벤트 발생
                EvtChangeMonthYear(year, month);
            },

            beforeShow: function (input, inst) {
    			// 일자 선택되기전 이벤트 발생
            },
            onSelect: function (dateText, inst) {
				// 일자 선택된 후 이벤트 발생
            }
        };

		$("#startDtpicker").datepicker(dtpickerOpt);
		$("#endDtpicker").datepicker(dtpickerOpt);
        $.datepicker.setDefaults($.datepicker.regional['ko']);
    });

		$(document).ready(function() {
			"use strict";
			//readNotice();
			readCompany();
			managementViewpage();
			// dataInit();

			// $('#datable_1').DataTable({
			// 	data: dataSet
			// });

			table = $('#datable_1').DataTable(tableOpt);
		});
	</script>
	
</body>

</html>
