<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

	<!-- Summernote css -->
	<link rel="stylesheet" href="vendors/bower_components/summernote/dist/summernote.css" />
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->	
			
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">공지사항</h3>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
									<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
									<li><a href="/notice"><span>공지 사항</span></a></li>
									<li class="active"><a href="/notice-detail"><span>확 인</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					<!-- Row -->
					<div class="row" item-height="100%">
						<div class="col-md-12"> 
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-light" style="font-size: 30px; padding: 15px;" id="noticeTitle"></h6>
									</div>
									<div class="pull-right">
										<h6 class="txt-light" id="noticeTime"></h6>
										<h6 class="txt-light" id="noticeWriter"></h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in" style="height: 500px; font-size: 20px">
									<div class="panel-body">
										<div style="margin-bottom: 100px" id="noticeContent">
										</div>		
									</div>
								</div>
								<div class="panel panel-default panel-dropdown card-view" id="fileView">
									<div class="panel-heading">
										<div class="pull-left">
											<h6 class="panel-title txt-light">첨부 파일</h6>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="panel-wrapper collapse in">
										<div class="panel-body"  id="fileinfo">
											<!-- <a href="" download=""></a> -->
											<!-- <input type="button" value="fileDown" id="btn" onclick="getFileDown()" /> -->
										</div>
									</div>
								</div>
								<div align="right">
									<button class="btn  btn-primary btn-rounded" id="btnUpdate" onclick="updateNotice()">수 정</button>
									<button class="btn  btn-primary btn-rounded" id="btnDelete" onclick="deleteNotice()">삭 제</button>
								</div>
							</div>

							<!--댓글-->
							<div>
								<div class="panel panel-default panel-dropdown card-view">
									<div class="panel-heading">
										<div class="pull-left">
											<h6 class="panel-title txt-light">댓 글</h6>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="panel-wrapper collapse in">
										<div class="panel-body">
											<input type="text" class="form-control" style="width:100%" id="inputNotiReply">
										</div>
										<div align="right" width=30px;>
											<button class="btn  btn-primary btn-rounded" style="padding:10px; margin-bottom: 10px" onclick="addNotice()">저 장</button>
										</div>
									</div>
								</div>
							</div>
							<div id="viewNotiReply">

							</div>
							<!--댓글-->
						</div>
					</div>
					<!-- /Row -->
					
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="filepath" value="">
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
			
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
		
		<!-- Switchery JavaScript -->
		<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
		
		<!-- Init JavaScript -->
		<script src="/dist/js/init.js"></script>

		<script src="dist/js/moment/min/moment.min.js"></script>
		
		<script  language="javascript" type="text/javascript">
		// 로그 아웃
		function logout(){
			var req = new XMLHttpRequest();
			var url = '/logout';
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

		// 공통변수
		var noticeId = "";

		// 공지사항 상세내용
		function readNotice()
		{
			var req = new XMLHttpRequest();
			var url = '/notices/' + noticeId;
			console.log(url);
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						var jsonResponse = JSON.parse(req.responseText);

						// console.log(jsonResponse);

						// 데이터 세팅
						document.getElementById('noticeTitle').innerHTML = jsonResponse.title;
						document.getElementById('noticeContent').innerHTML = jsonResponse.content;
						document.getElementById('noticeWriter').innerHTML = jsonResponse.writer;
						document.getElementById('noticeTime').innerHTML = moment(jsonResponse.createdAt).format("YYYY-MM-DD HH:mm:ss");
						

						// 시간 계산
						//document.getElementById('noticeTime').innerHTML = jsonResponse.createdAt;
						// const time = new Date(jsonResponse.createdAt);
						// document.getElementById('noticeTime').innerHTML = 
						// 	time.getFullYear() + '-' + 
						// 	(time.getMonth()>=10 ? time.getMonth() : '0'+time.getMonth()) + '-' + 
						// 	(time.getDate()>=10 ? time.getdate() : '0'+time.getDate()) + '  ' + 
						// 	(time.getHours()>=10 ? time.getHours() : '0'+time.getHours()) + ':' +
						// 	(time.getMinutes()>=10 ? time.getMinutes() : '0'+time.getMinutes()) + ":" +
						// 	(time.getSeconds()>=10 ? time.getSeconds() : '0'+time.getSeconds());
						
						document.getElementById('filepath').value = jsonResponse.filepath;
						

						var fileName = jsonResponse.filepath.split("\\");
						var nLength = fileName.length;

						console.log(jsonResponse.filepath);
						if(jsonResponse.filepath != '')
						{
							$('#fileView').css('display','')
							var div = document.createElement("div");
							div.innerHTML = '<a href="' + getFileDown() + '" download="">' + fileName[nLength-1] + '</a>';					
							document.getElementById('fileinfo').appendChild(div);
						}
						else
						{
							$('#fileView').css('display','none')
						}
					}
				} 
				else 
				{
					console.log("Error!");
				}
			}
		};	

		// 공지사항 삭제
		function deleteNotice() {
			var check = confirm("공지사항을 삭제하시겠습니까?")
			if(check)
			{
				var req = new XMLHttpRequest();
				req.open('DELETE', '/notices/' + noticeId);
				req.setRequestHeader('Content-type', 'application/json');
				req.send();
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							location.href="/notice";
							// console.log("deleteNotice() : " + req.responseText);
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			};
		}

		// 공지사항 업데이트 페이지
		function updateNotice()
		{
			window.location.href = "/notice-update?index=" + noticeId;
		}

		function getFileDown(){
			var req = new XMLHttpRequest();
			var url = '/download/' + document.getElementById('filepath').value;
			// console.log(url);
			return url;
			// req.open('GET', url);
			// req.send();

			// console.log(req.response.filepath);
			// window.location = '/download/' + JSON.parse(req.responseText).filepath;
		}

		// 리플 추가
		function addNotice()
		{
			var check = confirm("댓글을 등록하시겠습니까?")
			if(check)
			{
				var req = new XMLHttpRequest();
				req.open('POST', '/notireplys');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						boardid: noticeId,
						content: document.getElementById('inputNotiReply').value,
						writer: document.getElementById('username').value
					})
				);

				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 201) 
						{
							document.getElementById('inputNotiReply').value = '';
							readNoticeReply();
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
		};
		
		// 댓글 목록을 호춯
		function readNoticeReply()
		{
			var req = new XMLHttpRequest();
			var url = '/notireplys/' + noticeId;
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						// 댓글 리스트 초기화
						var parent = document.getElementById("viewNotiReply");
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);
						for(var i=0; i<jsonResponse.length; i++)
						{						
							// 그룹 리스트
							var div = document.createElement("div");
							var strHtml = "";
							strHtml += ' <div class="panel panel-default panel-dropdown card-view">';
							strHtml += ' 	<div class="panel-heading">';
							strHtml += ' 		<div class="pull-left">';
							strHtml += ' 			<h6 class="panel-title txt-light">'+ jsonResponse[i].writer +'</h6>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="pull-right">';
							strHtml += ' 			<div class="dropdown  pull-left">';
							strHtml += ' 				<a class="dropdown-toggle weight-500" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">';
							// strHtml += ' 					<i class="zmdi zmdi-edit inline-block mr-5"></i>';
							strHtml += ' 					<span class="panel-title txt-light">'+ moment(jsonResponse[i].createdAt).format("YYYY-MM-DD HH:mm:ss") +'</span> ';
							strHtml += ' 					<i class="zmdi zmdi-chevron-down caret-down"></i>';
							strHtml += ' 				</a>';
							// strHtml += ' 				<ul class="dropdown-menu bullet dropdown-menu-right" role="menu">';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> 수정</a></li>';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i> 삭제</a></li>';
							// strHtml += ' 				</ul>';
							strHtml += ' 			</div>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="clearfix"></div>';
							strHtml += ' 	</div>';
							strHtml += ' 	<div class="panel-wrapper collapse in">';
							strHtml += ' 		<div class="panel-body">';
							strHtml += ' 			<p>'+ jsonResponse[i].content +'</p>';
							strHtml += ' 		</div>';
							strHtml += ' 	</div>';
							strHtml += ' </div>';
							

							div.innerHTML = strHtml;
							//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
							document.getElementById('viewNotiReply').appendChild(div);
						}
					} 
					else 
					{
						console.log("Error!");
					}
				}
			};	
		}

		// 관리자 페이지 표시
		function managementViewpage() {

			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#btnUpdate').css('display','');
				$('#btnDelete').css('display','');
				$('#payments').css('display','');
			}
			else
			{
				$('#manageusers').css('display','none');
				$('#manageusersline').css('display','none');
				$('#btnUpdate').css('display','none');
				$('#btnDelete').css('display','none');
				$('#payments').css('display','none');
			}
		}

		$(document).ready(function() {
			var val = location.href.substr(
				location.href.lastIndexOf('=') + 1
			);
			noticeId = val;

			readNotice();
			readNoticeReply();
			managementViewpage();
		});
		</script>
	</body>
</html>