<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<!-- <link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/> -->

	<!-- Bootstrap Wysihtml5 css -->
	<link rel="stylesheet" href="vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->		
			
			
				
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">공지사항</h3>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
								<li><a href="/notice">공지 사항</a></li>
								<li class="active"><a href="/notice-new"><span>공지사항 작성</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->
					
				<!-- Row -->
				<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left" style="width:100%">
										<input id="inputTitle" style="width:100%" placeholder="제 목">
									</div>
									<div class="clearfix"></div>
								</div>

								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<form method="post">
											<div class="form-group">
												<textarea id="textareaContent" class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
											</div>
										</form>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="control-label col-md-1">첨 부</label>
													<div class="col-md-10">
														<form action="/uploads", method="POST", enctype="multipart/form-data" id="fileForm">
															<input type="file" name="userfile" id="fileInput" 
															accept="image/*, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/plain, .pdf"/>
															<!-- <input type="submit" name="Upload"/> -->
															<input type="hidden" name="resultUpload" id="filepath"/>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-offset-3 col-md-8" style="text-align: right">
											<button type="submit" class="btn btn-success  mr-10" onclick="addNotice()">등 록</button>
											<button type="button" class="btn btn-default" onclick="location.href='/notice'">취 소</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->

					<!-- Row -->
					<!-- <div class="row">						
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left" style="width:100%">
										<input id="inputTitle" style="width:100%" placeholder="제 목">
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="summernote"></div>
										<div class="col-md-offset-3 col-md-8" style="text-align: right">
											<button type="submit" class="btn btn-success  mr-10" onclick="addNotice()">등 록</button>
											<button type="button" class="btn btn-default" onclick="location.href='/report'">취 소</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- /Row -->
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="usercompany" value=<%= user.companyid%>>
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
				
		<!-- wysuhtml5 Plugin JavaScript -->
		<script src="vendors/bower_components/wysihtml5x/dist/wysihtml5x.min.js"></script>
		
		<script src="vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js"></script>
		
		<!-- Bootstrap Wysuhtml5 Init JavaScript -->
		<script src="dist/js/bootstrap-wysuhtml5-data.js"></script>
		
		<!-- Summernote Plugin JavaScript -->
		<!-- <script src="/vendors/bower_components/summernote/dist/summernote.min.js"></script> -->
			
		<!-- Summernote Wysuhtml5 Init JavaScript -->
		<!-- <script src="/dist/js/summernote-data.js"></script> -->
		
		<!-- Slimscroll JavaScript -->
		<script src="/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
		<!-- Switchery JavaScript -->
		<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
		
		<!-- Init JavaScript -->
		<script src="/dist/js/init.js"></script>
		

		<script  language="javascript" type="text/javascript">
		// 로그 아웃
		function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

		function addNotice()
		{
			var check = confirm("공지사항을 등록하시겠습니까?")
			if(check)
			{
				var form = $('#fileForm')[0];
				var formData = new FormData(form);
				let array = [];
				if(document.getElementById('fileInput').value.indexOf('\\') != -1)
				{
					array = document.getElementById('fileInput').value.split('\\');
				}
				else
				{
					array = document.getElementById('fileInput').value.split('/');
				}

				var req = new XMLHttpRequest();
				req.open('POST', '/notices');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						title: document.getElementById('inputTitle').value,
						// content: $('.note-editable').children('p').html(),
						content: document.getElementById('textareaContent').value,
						writer: document.getElementById('username').value,
						companyid: document.getElementById('usercompany').value,
						filepath: array[array.length-1]
					})
				);
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 200) 
						{
							if($('#filepath').val())
							{
								$('#filepath').val(JSON.parse(req.response));
								var form = $('#fileForm')[0];
								var formData = new FormData(form);
								// formData.append('imagePath', JSON.parse(req.response).image);

								// document.getElementById('filepath').value = JSON.parse(req.response).image;
								// $('#filepath').val(JSON.parse(req.response).image);
								// console.log(JSON.parse(req.response).image);
								$.ajax({
									type: 'post',
									url: '/uploads',
									data: formData,
									processData: false,
									contentType: false,
									success: function (data) {
										console.log("Success!!");
										$('#filepath').val(data);
									},
									error: function (err) {
										console.log(err);
									}
								});
							}
							
							location.href="/notice";
							// console.log("addNotice() : " + req.responseText);
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			};
		}

		// 관리자 페이지 표시
		function managementViewpage() {

			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#payments').css('display','');
			}
			else
			{
				$('#manageusers').css('display','none');;
				$('#manageusersline').css('display','none');;
				$('#payments').css('display','none');
			}
		}

		$(document).ready(function() {
			managementViewpage();
		});
		</script>
	</body>
</html>