<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->		
		
		
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h3 class="txt-dark">업무일지</h3>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
							<li class="active"><a href="/report"><span>업무일지</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h3 class="panel-title txt-light"><%= user.companyname %> 업무일지 페이지입니다.</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="table-wrap">
											<div class="form-group" id="companyListDiv">
												<label class="control-label mb-10">회사 선택 &nbsp;&nbsp;&nbsp;</label>
												<select class="selectpicker" data-style="form-control btn-default btn-outline" id="companyList">
													<option value="0">전 체</option>
													<!-- <option>Ketchup</option>
													<option>Relish</option> -->
												</select>
											</div>
											<div class="">
												<table id="datable_1" class="table table-hover display" >
													<thead>
														<tr>
															<th style="width:5%">No</th>
															<th style="width:65%">업무일지 이름</th>
															<th style="width:15%">작성자</th>
															<th style="width:15%">작성 시간</th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div style="text-align:right; padding:15px">
									<button class="btn  btn-primary btn-rounded" onclick="location.href='/report-new'">작 성</button>
								</div>
							</div>	
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
					</div>
				</div>
				<!-- 사용자 정보 값 -->
				<input type="hidden" id="isadmin" value=<%= user.admin%>>
				<input type="hidden" id="userid" value=<%= user.userid%>>
				<input type="hidden" id="userindex" value=<%= user.id%>>
				<input type="hidden" id="username" value=<%= user.name%>>
				<input type="hidden" id="companyid" value=<%= user.companyid%>>
			</footer>
			<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/dist/js/init.js"></script>

	<script src="/dist/js/moment/min/moment.min.js"></script>
	
	<script  language="javascript" type="text/javascript">
	var t = '';
	var url = '';
	// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

	function readReport(){
		var req = new XMLHttpRequest();
		var url = '/reports';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("reportList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}

					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						
						// 그룹 리스트
						var tr = document.createElement("tr");
						const time = new Date(jsonResponse[i].createdAt);
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].writer + "</td>";
						strHtml += "<td onclick='setChildValue(" + jsonResponse[i].id + ")'>" + jsonResponse[i].title + "</td>";
						strHtml += "<td>" + 
							time.getFullYear() + '-' + 
							(time.getMonth()>=10 ? time.getMonth() : '0'+time.getMonth()) + '-' + 
							(time.getDate()>=10 ? time.getdate() : '0'+time.getDate()) + '  ' + 
							(time.getHours()>=10 ? time.getHours() : '0'+time.getHours()) + ':' +
							(time.getMinutes()>=10 ? time.getMinutes() : '0'+time.getMinutes()) + ":" +
							(time.getSeconds()>=10 ? time.getSeconds() : '0'+time.getSeconds()) +
							"</td>";

						tr.innerHTML = strHtml;
						//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
						document.getElementById('reportList').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 클릭 한 공지사항 ID값을 태워 상세보기페이지 호출
	function setChildValue(index) {
		window.location.href = "/report-detail?index=" + index;
	   }
	   
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#payments').css('display','');
			if(document.getElementById('userid').value === 'admin')
			{
				$('#companyListDiv').show();
			}
			else
			{
				$('#companyListDiv').hide();
			}
		}
		else
		{
			$('#manageusers').css('display','none');;
			$('#manageusersline').css('display','none');;
			$('#payments').css('display','none');
			$('#companyListDiv').hide();
		}
	}

	// 화면 로드 시 업무보고 목록을 호출
	$(document).ready(function() {
		url='';
		var indexNumber = 0;

		if(document.getElementById('userid').value === 'admin')
		{
			url = "/reports";
		}
		else if(document.getElementById('isadmin').value == 'true')
		{
			url = "/reports3/" + document.getElementById('companyid').value + "/0";
		}
		else
		{
			url = "/reports2/" + document.getElementById('userindex').value;
		}
		console.log(url);
		


		//readReport();
		managementViewpage();

		$.get('/companys', function(jqXHR){
			console.log("get!!");
			for(var i=0; i<jqXHR.length; i++)
			{
				$('#companyList').append("<option value='"+jqXHR[i].id+"'>"+jqXHR[i].name+"</option>");
			}
		}, 'json')
		.done(function(jqXHR){
			
		})

		t = $('#datable_1').DataTable({
			oLanguage : {
				"sProcessing" : "처리중...",
				"sZeroRecords" : "데이터가 없습니다.",
				"sLengthMenu" : "_MENU_ 건 표시",
				"oPaginate" : {
					"sFirst" : "처음",
					"sNext" : "다음",
					"sPrevious" : "이전",
					"sLast" : "끝"
				},
				"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
				"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
				'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
				"sSearch" : "검색 : "
			}, 
			processing : true,
			bPaginate : true,  	// 페이징
			iDisplayLength : 10,	// 기본 표시행
			bLengthChange : true,	// 보여주는 건수 선택
			bFilter : true,		// 검색
			bSort : true,			// 소트
			bAutoWidth : true,			
		
			
			// sAjaxSource: "/notices",
			// sAjaxDataProp: "data", 
			// ajax: {
			// 	type : "GET",
			// 	url : "/notices",
			// 	contentType : "application/json",
			// 	// dataType: "JSON",
			// 	dataSrc: "",
			// 	data : {
			// 	}
			// },
			ajax : 
			{
				url : url
			},
			columns: [
				{ 
					data: "id",
					render: function(data, type, row) {
						return '<a>' + (indexNumber+=1) + '</a>';
					}
				},
				{ 
					data: "title",
					render: function(data, type, row) {
						return '<a style="cursor:pointer" onclick="setChildValue(\''+ row.id +'\')">' + data + '</a>';
					}
				},
				{ data: "writer" },
				{ 
					data: "createdAt",
					render: function ( data, type, row ) 
					{
						// If display or filter data is requested, format the date
						if ( type === 'display' || type === 'filter' ) 
						{
							var rowvalue = row["EventDate"];
							var rowvalueallday = row["AllDayEvent"];
							return (moment(data).format("YYYY-MM-DD HH:mm:ss"));
						}
					return data;
					}
				}
			],
			order : [[0, 'desc']]
		});
		// t.on( 'order.dt search.dt', function () {
		// 	t.column(0, {
		// 		search:'applied', order:'applied'
		// 	}).nodes().each( function (cell, i) {
		// 	cell.innerHTML = i+1;
		// 	});
		// }).draw();
		$('#datable_1').load( 'draw.dt', function () {
			indexNumber=0;
		});

		$('#datable_1').on( 'draw.dt', function () {
			indexNumber=0;
		});
	});

	$('#companyList').change(function(){
		if(document.getElementById('companyList').value == '0')
		{
			url = "/reports";
		}
		else
		{
			url = "/reports3/" + document.getElementById('companyList').value + "/0";
		}
		console.log(url);

		// t.ajax.url = url;
		// indexNumber=0;
		t.ajax.url(url).load(null, false);
	})
	</script>
	
</body>

</html>
