<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->		
			
			
				
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">업무보고</h3>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
								<li><a href="/report"><span>업무 보고</span></a></li>
								<li class="active"><a href="/report-new"><span>작 성</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->
					
					
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left" style="width:100%;">
										<!--h6 class="panel-title txt-dark">1월 2주차 주간보고</h6-->
										<!-- <input id="inputTitle" style="width:100%" placeholder="제 목"> -->
										<!-- <div class="col-md-11 mb-20"> -->
										<div >
											<div style="display:flex; align-items: center; justify-content: flex-start; float:left">
												<p style="font-size: 32px; color: ghostwhite;">[<%= user.companyname%>] </p>
												<p style="font-size: 32px; color: ghostwhite;" id="nowDateReport"> </p>
											</div>
											<div style="display:flex; align-items: center; justify-content: flex-end; float: right">
												<select class="form-control" id="selectReportYear" style="width: 200px; margin-right: 10px">
													<option value="2018">2018년</option>
												</select>

												<select class="form-control" id="selectReportMonth" style="width: 200px; margin-right: 10px">
													<option value="1">01월</option>
													<option value="2">02월</option>
													<option value="3">03월</option>
													<option value="4">04월</option>
													<option value="5">05월</option>
													<option value="6">06월</option>
													<option value="7">07월</option>
													<option value="8">08월</option>
													<option value="9">09월</option>
													<option value="10">10월</option>
													<option value="11">11월</option>
													<option value="12">12월</option>
												</select>

												<select class="form-control" id="selectReportWeek"  style="width: 200px">
													<option value="1">01주</option>
													<option value="2">02주</option>
													<option value="3">03주</option>
													<option value="4">04주</option>
													<option value="5">05주</option>
												</select>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-12">
												<div class="form-wrap">
													<div class="form-horizontal">
														<div class="form-body">
															<h6 class="txt-dark capitalize-font"><i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;주의 기준은 매주 월요일을 시작으로 기준합니다.</h6>															
															<hr class="light-grey-hr"/>
															<div class="row" >
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div>
																		<label class="control-label col-md-1"></label>
																		<p style="font-size:16px; color:red;">정해진 범위가 넘어갈 시, 내용이 일부 저장되지 않을 수도 있습니다.</p>
																	</div>
																</div>
															</div>
															<div class="row" >
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">월</label>
																		<div class="col-md-10">																			
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thismon" onKeyUp="checkByte(this.form)"></textarea>
																			<!-- <p class="data_count"><em id="messagebyte1">0</em>/400 byte</p> -->
																			<!-- <p class="text-right"><span class="count">0</span>/<span class="maxcount">80</span> Byte</p> -->
																			   <!-- <p id="over2" class="off text-right bg-danger">글자수가 초과되었습니다.</p> -->
																			<p class="data_count"><em id="messagebyte2">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">화</label>
																		<div class="col-md-10">
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thistue" onKeyUp="checkByte(this.form)"></textarea>
																			<p class="data_count"><em id="messagebyte2">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">수</label>
																		<div class="col-md-10">
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thiswed" onKeyUp="checkByte(this.form)"></textarea>
																			<p class="data_count"><em id="messagebyte3">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">목</label>
																		<div class="col-md-10">
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thisthu" onKeyUp="checkByte(this.form)"></textarea>
																			<p class="data_count"><em id="messagebyte4">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">금</label>
																		<div class="col-md-10">
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thisfri" onKeyUp="checkByte(this.form)"></textarea>
																			<p class="data_count"><em id="messagebyte5">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-2"></div>
																<div class="col-md-7">
																	<div class="form-group">
																		<label class="control-label col-md-1">비 고</label>
																		<div class="col-md-10">
																			<textarea type="text" class="form-control" name="textBox" style="width:100%" cols="7" rows="6" id="thisetc" onKeyUp="checkByte(this.form)"></textarea>
																			<p class="data_count"><em id="messagebyte6">0</em>/400 byte</p>
																		</div>
																	</div>
																</div>
															</div>
															<!-- /Row -->
														</div>
														<div class="row">
															<div class="col-md-2"></div>
															<div class="col-md-7">
																<div class="form-group">
																	<label class="control-label col-md-1">첨 부</label>
																	<div class="col-md-10">
																		<form action="/uploads", method="POST", enctype="multipart/form-data" id="fileForm">
																			<input type="file" name="userfile" id="fileInput" 
																			accept="image/*, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/plain, .pdf"/>
																			<!-- <input type="submit" name="Upload"/> -->
																			<input type="hidden" name="resultUpload" id="filepath"/>
																		</form>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-actions mt-10">
															<div class="row">
																<div class="col-md-12">
																	<div class="row">
																		<div class="col-md-offset-3 col-md-8" style="text-align: right">
																			<button type="submit" class="btn btn-success  mr-10" onclick="addReport()">등 록</button>
																			<button type="button" class="btn btn-default" onclick="location.href='/report'">취 소</button>
																		</div>
																	</div>
																</div>
																<div class="col-md-6"> </div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="reportindex" value="">
					<input type="hidden" id="startday" value="">
					<input type="hidden" id="endday" value="">
					<input type="hidden" id="companyid" value=<%= user.companyid%>>
					<input type="hidden" id="companyname" value=<%= user.companyname%>>
				</footer>
				<!-- /Footer -->
			
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
		<!-- Switchery JavaScript -->
		<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
		<!-- Init JavaScript -->
		<script src="/dist/js/init.js"></script>

		<script  language="javascript" type="text/javascript">
		// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		var limitByte = 400;

		
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

		function addReport()
		{
			var check = confirm("업무보고를 등록하시겠습니까?")
			console.log(document.getElementById('startday').value);
			console.log(document.getElementById('endday').value);
			if(check)
			{
				var form = $('#fileForm')[0];
				var formData = new FormData(form);
				let array = [];
				if(document.getElementById('fileInput').value.indexOf('\\') != -1)
				{
					array = document.getElementById('fileInput').value.split('\\');
				}
				else
				{
					array = document.getElementById('fileInput').value.split('/');
				}

				var req = new XMLHttpRequest();
				if($('#reportindex').val())
					req.open('PUT', '/reports/' + $('#reportindex').val());
				else
					req.open('POST', '/reports');
				req.setRequestHeader('Content-type', 'application/json');
				console.log("week = " + document.getElementById('selectReportWeek').value);
				req.send(JSON.stringify(
					{
						userindex: document.getElementById('userindex').value,
						userid: document.getElementById('userid').value,
						writer: document.getElementById('username').value,
						companyid: document.getElementById('companyid').value,
						companyname: document.getElementById('companyname').value,
						year: document.getElementById('selectReportYear').value,
						month: document.getElementById('selectReportMonth').value,
						week: document.getElementById('selectReportWeek').value,
						thismon: document.getElementById('thismon').value,
						thistue: document.getElementById('thistue').value,
						thiswed: document.getElementById('thiswed').value,
						thisthu: document.getElementById('thisthu').value,
						thisfri: document.getElementById('thisfri').value,
						thisetc: document.getElementById('thisetc').value,
						startday: document.getElementById('startday').value,
						endday: document.getElementById('endday').value,
						filepath: array[array.length-1]
					})
				);
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 200 || req.status === 201) 
						{
							// location.href="/report";
							// console.log("addReports() : " + req.responseText);

							if($('#filepath').val())
							{
								$('#filepath').val(JSON.parse(req.response));
								var form = $('#fileForm')[0];
								var formData = new FormData(form);
								// formData.append('imagePath', JSON.parse(req.response).image);

								// document.getElementById('filepath').value = JSON.parse(req.response).image;
								// $('#filepath').val(JSON.parse(req.response).image);
								// console.log(JSON.parse(req.response).image);
								$.ajax({
									type: 'post',
									url: '/uploads',
									data: formData,
									processData: false,
									contentType: false,
									success: function (data) {
										console.log("Success!!");
										$('#filepath').val(data);
									},
									error: function (err) {
										console.log(err);
									}
								});
							}
							location.href="/report";
						}
						else 
						{
							console.log("Error!");
						}
					}
				}
			};
		};

		//function addFile(){
			// $('#fileInput').on('change', function () {
			// 	var form = $('#fileForm')[0];
			// 	var formData = new FormData(form);

			// 	console.log(formData);
		
			// 	$.ajax({
			// 		type: 'post',
			// 		url: '/uploads',
			// 		data: formData,
			// 		processData: false,
			// 		contentType: false,
			// 		success: function (data) {
			// 			// $('#filePath').val(data);
			// 			console.log(data);
			// 			$('#filepath').val(data);
			// 		},
			// 		error: function (err) {
			// 			console.log(err);
			// 		}
			// 	});
			// });
		//}

		// 관리자 페이지 표시
		function managementViewpage() {

			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#payments').css('display','');
			}
			else
			{
				$('#manageusers').css('display','none');;
				$('#manageusersline').css('display','none');;
				$('#payments').css('display','none');
			}
		}

		$('#selectReportYear').on('change', function () {
			$.get("/reports2/" + $('#userid').val() + "/" + $('#selectReportYear').val() + "/" + $('#selectReportMonth').val() + "/" + $('#selectReportWeek').val(), function(jqXHR){
				$('#thismon').val(jqXHR.data.thismon);
				$('#thistue').val(jqXHR.data.thistue);
				$('#thiswed').val(jqXHR.data.thiswed);
				$('#thisthu').val(jqXHR.data.thisthu);
				$('#thisfri').val(jqXHR.data.thisfri);
				$('#thisetc').val(jqXHR.data.thisetc);
				$('#reportindex').val(jqXHR.data.id);
			}, 'json')
			.fail(function(jqXHR){
				$('#thismon').val('');
				$('#thistue').val('');
				$('#thiswed').val('');
				$('#thisthu').val('');
				$('#thisfri').val('');
				$('#thisetc').val('');
				$('#reportindex').val('');
			})
		});

		$('#selectReportMonth').on('change', function () {
			$.get("/reports2/" + $('#userid').val() + "/" + $('#selectReportYear').val() + "/" + $('#selectReportMonth').val() + "/" + $('#selectReportWeek').val(), function(jqXHR){
				$('#thismon').val(jqXHR.data.thismon);
				$('#thistue').val(jqXHR.data.thistue);
				$('#thiswed').val(jqXHR.data.thiswed);
				$('#thisthu').val(jqXHR.data.thisthu);
				$('#thisfri').val(jqXHR.data.thisfri);
				$('#thisetc').val(jqXHR.data.thisetc);
				$('#reportindex').val(jqXHR.data.id);
			}, 'json')
			.fail(function(jqXHR){
				$('#thismon').val('');
				$('#thistue').val('');
				$('#thiswed').val('');
				$('#thisthu').val('');
				$('#thisfri').val('');
				$('#thisetc').val('');
				$('#reportindex').val('');
			})
		});

		$('#selectReportWeek').on('change', function () {
			$.get("/reports2/" + $('#userid').val() + "/" + $('#selectReportYear').val() + "/" + $('#selectReportMonth').val() + "/" + $('#selectReportWeek').val(), function(jqXHR){
				$('#thismon').val(jqXHR.data.thismon);
				$('#thistue').val(jqXHR.data.thistue);
				$('#thiswed').val(jqXHR.data.thiswed);
				$('#thisthu').val(jqXHR.data.thisthu);
				$('#thisfri').val(jqXHR.data.thisfri);
				$('#thisetc').val(jqXHR.data.thisetc);
				$('#reportindex').val(jqXHR.data.id);
			}, 'json')
			.fail(function(jqXHR){
				$('#thismon').val('');
				$('#thistue').val('');
				$('#thiswed').val('');
				$('#thisthu').val('');
				$('#thisfri').val('');
				$('#thisetc').val('');
				$('#reportindex').val('');
			})
		});

		function reloadDate(){
			var currentDay = new Date();  
			var theYear = currentDay.getFullYear();
			var theMonth = currentDay.getMonth();
			var theDate  = currentDay.getDate();
			var theDayOfWeek = currentDay.getDay();

			// 이번 주 날짜 구하기
			for(var i=0; i<7; i++) {
				var resultDay = new Date($('#selectReportYear').val(), $('#selectReportMonth').val(), theDate + (i - theDayOfWeek));
				var yyyy = resultDay.getFullYear();
				var mm = Number(resultDay.getMonth()) + 1;
				var dd = resultDay.getDate();
				
				mm = String(mm).length === 1 ? '0' + mm : mm;
				dd = String(dd).length === 1 ? '0' + dd : dd;
				
				thisWeek[i] = yyyy + '-' + mm + '-' + dd;
			}

			$("#nowDateReport").text(thisWeek[1] + " ~ " + thisWeek[5] + " 업무보고");
		}

		$(document).ready(function() {
			var currentDay = new Date();  
			var theYear = currentDay.getFullYear();
			var theMonth = currentDay.getMonth();
			var theDate  = currentDay.getDate();
			var theDayOfWeek = currentDay.getDay();

			var thisWeek = [];
				
			// 이번 주 날짜 구하기
			for(var i=0; i<7; i++) {
				var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
				var yyyy = resultDay.getFullYear();
				var mm = Number(resultDay.getMonth()) + 1;
				var dd = resultDay.getDate();
				
				mm = String(mm).length === 1 ? '0' + mm : mm;
				dd = String(dd).length === 1 ? '0' + dd : dd;
				
				thisWeek[i] = yyyy + '-' + mm + '-' + dd;

				
				if(i==1)
				{
					$('#startday').val(dd);
				}
				if(i==5)
				{
					$('#endday').val(dd);
				}
			}
			
			managementViewpage();

			// $("#nowDateReport").text(date.getFullYear() + "년 " + (date.getMonth()+1) + "월 " + date.getDate() + "일");
			$("#nowDateReport").text(thisWeek[1] + " ~ " + thisWeek[5] + " 업무보고");
			$('#selectReportYear').val(theYear);
			$('#selectReportMonth').val(theMonth+1);
			// console.log(getThisWeek(thisWeek[1]));
			$('#selectReportWeek').val(getThisWeek(thisWeek[1]));
		});

		// 주차 구하기
		function getWeek(year) {
			// var day = document.getElementById("day").value;
			// var splitDay = day.split("-");
			var startYearDay = '1/1/'+year;
			// var today = splitDay[1] + '/' + splitDay[2] + '/' + splitDay[0];
			var dt = new Date(startYearDay);
			var tDt = new Date();
			var diffDay = (tDt-dt) / 86400000;    // Date 함수 기준 하루를 뭔 초로 나눴는지 모르겠음.
			
			// 1월 1일부터 현재날자까지 차이에서 7을 나눠서 몇주가 지났는지 확인을 함
			var weekDay = parseInt(diffDay / 7) + 1;

			// 요일을 기준으로 1월 1일보다 이전 요일이라면 1주가 더 늘었으므로 +1 시켜줌.
			if( tDt.getDay() < dt.getDay() )
				weekDay += 1;

			return weekDay;
		}

		//월요일을 중심으로한 주차 구하기
		function getThisWeek(today){
			today = today.replace('-', '');
			today = today.replace('-', '');

			//차일 변수
			var minusDay = 0;

			//주차를 계산하고픈 일
			var wkDtStr = today;
			console.log(wkDtStr);

			//계산하고픈달 시작일 1일
			var stDtStr = wkDtStr.substring(0,6) + "01";
			var stDtCal = new Date( stDtStr.substring(0,4) , stDtStr.substring(4,6) , stDtStr.substring(6,8) );
			
			//요일 구하기
			var weekCal = new Date( wkDtStr.substring(0,4) , ( wkDtStr.substring(4,6) - 1 ) , wkDtStr.substring(6,8) );

			//주차를 계산하고픈 일 달력 생성
			var wkDtCal = new Date( wkDtStr.substring(0,4) , wkDtStr.substring(4,6) , wkDtStr.substring(6,8) );

			//매달 시작일에 따른 빼줘야 하는 값
			var week = new Array( 1, 0, 5, 4, 3, 2, 1 );

			minusDay = wkDtCal.getDate() - stDtCal.getDate() - week[ weekCal.getDay() ] ;

			//만약 2일부터 1주차인데 1일을 입력했을경우 혹은 년도가 바뀔경우
			if( ( minusDay - week[ weekCal.getDay() ] ) < 0 ){

				wkDtCal.setDate( stDtCal.getDate() - 1 );
				stDtCal.setDate( stDtCal.getDate() - wkDtCal.getDate() );

				minusDay = wkDtCal.getDate() - stDtCal.getDate();
			}
			
			console.log(minusDay);
			var weekNm = minusDay / 7 + 1;

			return Math.floor(weekNm);
		}

		$('#filepath').change(function(){
			console.log($('#filepath').val());
		})

		function checkByte(frm) {
        var totalByte = 0;
        var message = frm.messagebox.value;

        for(var i =0; i < message.length; i++) {
			var currentByte = message.charCodeAt(i);
			if(currentByte > 128) totalByte += 2;
			else totalByte++;
			}



			// 현재 입력한 문자의 바이트 수를 체크하여 표시
			$('#messagebyte').text(totalByte);



			// 입력된 바이트 수가 limitByet를 초과 할 경우 경고창 
			if(totalByte > limitByte) {
					alert( limitByte+"바이트까지 전송가능합니다.");
			frm.messagebox.value = message.substring(0,limitByte);
			}
		}


		$(function () {
			$('#thismon').each(function () {
				// count 정보 및 count 정보와 관련된 textarea/input 요소를 찾아내서 변수에 저장한다.
				var $maxcount = $('.maxcount', this);
				var $count = $('.count', this);
				var $input = $(".contents", this);

				// .text()가 문자열을 반환하기에 이 문자를 숫자로 만들기 위해 1을 곱한다.
				var maximumByte = $maxcount.text() * 1;
				// update 함수는 keyup, paste, input 이벤트에서 호출한다.
				var update = function () {
					var before = $count.text() * 1;
					var str_len = $input.val().length;
					var cbyte = 0;
					var li_len = 0;
					for (i = 0; i < str_len; i++) {
						var ls_one_char = $input.val().charAt(i);
						if (escape(ls_one_char).length > 4) {
							cbyte += 2; //한글이면 2를 더한다
						} else {
							cbyte++; //한글아니면 1을 다한다
						}
						if (cbyte <= maximumByte) {
							li_len = i + 1;
						}
					}
					// 사용자가 입력한 값이 제한 값을 초과하는지를 검사한다.
					if (parseInt(cbyte) > parseInt(maximumByte)) {
						// alert('허용된 글자수가 초과되었습니다.\r\n\n초과된 부분은 자동으로 삭제됩니다.');
						var str = $input.val();
						var str2 = $input.val().substr(0, li_len);
						$input.val(str2);
						var cbyte = 0;
						for (i = 0; i < $input.val().length; i++) {
							var ls_one_char = $input.val().charAt(i);
							if (escape(ls_one_char).length > 4) {
								cbyte += 2; //한글이면 2를 더한다
							} else {
								cbyte++; //한글아니면 1을 다한다
							}
						}
					}
					$count.text(cbyte);
				};
				// input, keyup, paste 이벤트와 update 함수를 바인드한다
				$input.bind('input keyup keydown paste change', function () {
					setTimeout(update, 0)
				});
				update();
			});
		});
		</script>
	</body>
</html>
