<!DOCTYPE html>
<html>
	<head>
		<title>파일 업로드</title>
	</head>
	<body>
		<form action="/uploads", method="POST", enctype="multipart/form-data" id="fileForm">
			<input type="file" name="userfile" id="fileInput"/>
			<input type="text" name="resultUpload" id="filepath"/>
			<input type="submit" name="Upload"/>
		</form>

		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		<script>
		$('#fileInput').on('change', function () {
			var form = $('#fileForm')[0];
			var formData = new FormData(form);
	
			$.ajax({
				type: 'post',
				url: '/uploads',
				data: formData,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log("Success!!");
					$('#filePath').val(data);
				},
				error: function (err) {
					console.log(err);
				}
			});
		});
		</script>
	</body>
</html>