<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>피플씨엔에스</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	
	<!-- Custom CSS -->
	<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="mobile-only-brand pull-left">
				<div class="nav-header pull-left">
					<div class="logo-wrap" style="cursor: pointer" onclick="window.location='/'">
						<img class="brand-img" style="margin:auto" src="/dist/img/keeplog_logo.png" alt="brand"/>
						<!-- <a href="/dashboard">
							<img class="brand-img" src="/dist/img/logo.png" alt="brand"/>
							<span class="brand-text">피플씨엔에스</span>
						</a> -->
					</div>
				</div>	
				<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
				<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
				<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
			</div>
			<div id="mobile_only_nav" class="mobile-only-nav pull-right" style="height: 100%; width:300px;  text-align: center">
				<div style="float:right; text-align: center">
					<ul class="nav navbar-right top-nav pull-right">
						<li class="dropdown auth-drp">
							<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="/dist/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/></a>
							<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
								<li>
									<a href="/userinfo"><i class="fa fa-user mr-20 text-primary"></i><span>내 정보</span></a>
								</li>
								<!-- <li>
									<a href="/manual"><i class="fa fa-group mr-20 text-primary"></i><span>도움말</span></a>
								</li> -->
								<li>
									<a onclick="logout()"><i class="zmdi zmdi-power mr-20 text-danger"></i><span>Log Out</span></a>
								</li>
								<li class="divider"  id="manageusersline" style="display:none"></li>
								<li id="manageusers" style="display:none">
									<a href="/manageuser"><i class="fa fa-group mr-20 text-success"></i><span>소속/근로자 관리</span></a>
								</li>
								<li id="payments" style="display:none">
									<a href="/payment"><i class="fa fa-group mr-20 text-success"></i><span>보고문서 관리</span></a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
				<div style="float:left; text-align: center; vertical-align: middle; height:66px;">
					<span style="position: absolute; bottom: 15px"><string>[<%= user.companyname %>] <%= user.name %></string></span>
				</div>
			</div>	
		</nav>
		<!-- /Top Menu Items -->
		
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
				<ul class="nav navbar-nav side-nav nicescroll-bar">
					<li class="navigation-header">
						<span style="color:#ffffff">정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
							
					<li>
						<a href="/dashboard" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-dashboard mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">대시보드</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comment mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">공지사항</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>	
	
					<li class="navigation-header">
						<span style="color:#ffffff">자료</span> 
						<i class="zmdi zmdi-more"></i>
					</li>	
	
					<li>
						<a href="/fileroom" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-save (alias) mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">자료실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>		
	
					<li>
						<a href="/reference" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-text mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">서식다운</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">내 정보</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="/report" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-pencil-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">업무일지</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/attitude" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-check-square-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">출퇴근 기록부</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-user mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">내 정보</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">관리자</span> 
						<i class="zmdi zmdi-more"></i>
					</li>
	
	
					<li>
						<a href="/payment" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-file-excel-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실적 출력</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="/manageuser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-users mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근로자 관리</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li class="navigation-header">
						<span style="color:#ffffff">시스템</span> 
						<i class="zmdi zmdi-more"></i>
					</li>		
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-sitemap mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무자 현황실</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-laptop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">원격제어 시스템</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-comments mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">실시간 업무교류</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-desktop mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">근무실황 파악
								</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa-puzzle-piece mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">적성검사</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					
	
					<li>
						<a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
							<div class="pull-left">
								<i class="fa fa fa-question-circle-o mr-20"></i>
								<span class="right-nav-text" style="color:#ffffff">이용안내 서비스</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /Left Sidebar Menu -->	
			
			
				
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">사용자 정보</h3>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
								<li><a href="userinfo"><span>사용자 정보</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h3 class="panel-title txt-light">사용자 정보를 수정합니다.</h3>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-wrap">
													<!-- <form data-toggle="validator" role="form"  method="post" action="/users" + <% user.id %></form> -->
													<form data-toggle="validator" role="form"></form>
														<input type="hidden" id="indexUserId" value=<%= user.id %>>
														<div class="form-group">
															<label for="inputName" class="control-label mb-10">이 름</label>
															<input type="text" class="form-control" id="inputName" required value=<%= user.name %>>
														</div>
														<div class="form-group">
															<label for="inputID" class="control-label mb-10">ID</label>
															<input type="text" class="form-control" id="inputID" disabled value=<%= user.userid %>>
														</div>
														<div class="form-group">
															<label for="inputPhone" class="control-label mb-10">팀</label>
															<input type="text" class="form-control" id="inputTeam" disabled value=<%= user.team %>>
														</div>
														<div class="form-group">
															<label for="inputPhone" class="control-label mb-10">연락처</label>
															<input type="text" class="form-control" id="inputPhone" value=<%= user.phone %>>
														</div>
														<div class="form-group">
															<label for="inputEmail" class="control-label mb-10">이메일</label>
															<input type="email" class="form-control" id="inputEmail" data-error="이메일을 확인 해 주세요." value=<%= user.email %>>
															<div class="help-block with-errors"></div>
														</div>
														<div class="form-group">
															<label for="inputPassword" class="control-label mb-10">비밀번호</label>
															<div class="row">
																<div class="form-group col-sm-12">
																	<input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="비밀번호" required>
																</div>
																<div class="form-group col-sm-12">
																	<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="비밀번호가 일치하지 않습니다." placeholder="비밀번호 확인" required>
																	<div class="help-block with-errors"></div>
																</div>
															</div>
														</div>
														<div class="form-group mb-0">
															<button type="submit" class="btn btn-success btn-anim" onclick="userInfoUpdate()"><i class="icon-rocket"></i><span class="btn-text">수 정</span></button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="usercompany" value=<%= user.companyid%>>
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/vendors/bower_components/bootstrap-validator/dist/validator.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
		<!-- Switchery JavaScript -->
		<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
		<!-- Init JavaScript -->
		<script src="/dist/js/init.js"></script>

		<script language="javascript" type="text/javascript">
		// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

			function userInfoUpdate() {
				var check = confirm("정보를 수정하시겠습니까?")
				if(check)
				{
					var req = new XMLHttpRequest();
					req.open('PUT', '/users/' +document.getElementById('indexUserId').value);
					req.setRequestHeader('Content-type', 'application/json');
					req.send(JSON.stringify(
						{
							companyid: document.getElementById('usercompany').value,
							team: document.getElementById('inputTeam').value,
							userid: document.getElementById('inputID').value,
							email: document.getElementById('inputEmail').value,
							name: document.getElementById('inputName').value,
							phone: document.getElementById('inputPhone').value,
							password: document.getElementById('inputPassword').value
						})
					);
				
					req.onreadystatechange = function (e) 
					{
						if (req.readyState === XMLHttpRequest.DONE) 
						{
							if(req.status === 200) 
							{
								alert("정보가 변경되어 다시 로그인 해주세요.")
								location.href="/";
							} 
							else 
							{
								console.log("Error!");
							}
						}
					}
				};
			}

			// 관리자 페이지 표시
			function managementViewpage() {

				if(document.getElementById('isadmin').value === 'true')
				{
					$('#manageusers').css('display','');
					$('#manageusersline').css('display','');
					$('#payments').css('display','');
				}
				else
				{
					$('#manageusers').css('display','none');;
					$('#manageusersline').css('display','none');;
					$('#payments').css('display','none');
				}
			}

			$(document).ready(function() {
				managementViewpage();
			});
		</script>
	</body>
</html>