@charset "utf-8";

/* 요소(element) 여백 초기화  */
html,body,div,h1,h2,h3,h4,h5,h6,p,span,ul,ol,dl,form,dt,dd{margin:0; padding:0;}
body { color: #6d6c5d; font-size:12px; font-family:굴림, Gulim, AppleGothic, Sans-serif; line-height:1.5; } 
a, a:link { color: #747474; text-decoration: none;}
a:visited { color: #747474; }
a:hover, a:active, a:focus { color: #000000; text-decoration:underline;}
img {border:0;}

/* 목록 */
ol, ul {list-style:none;}

/* 텍스트 관련 요소 초기화 */
address, caption, em, cite {font-weight:normal; font-style:normal;}

/* 테두리 없애기 */
fieldset, img, abbr, acronym { border:none; margin:0; padding:0;} 
legend {visibility:hidden; overflow:hidden; height:0px; width:0px; font-size:0; line-height:0; margin:0; padding:0;}

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table { border-collapse:collapse; border-spacing:0;}

/* 수평선*/
hr { display:none; }

/* 숨김(전역클래스) */
.hidden {visibility:hidden; overflow:hidden; height:0px; width:0px;}
.dt_none {display:none;}

#sessionerror {width:400px; color:#444;padding-bottom:40px; position: absolute;left:300px;top:100px;background-color: #FFFFFF;}
#sessionerror p.error_title{font-size:18px; height:62px; padding:50px 0 0 139px; background:url(../../images/06_etc/log_bg.gif) no-repeat 0 -22px; font-weight:bold; letter-spacing:-1px;}
#sessionerror p.session_login{margin-top:12px; padding-top:20px; text-align:center; border-top:1px solid #dedede;}
.ok_col3{font-size:18px; color:#003a91; font-weight:bold; letter-spacing:-1px;}