	@charset "utf-8";
	
/* board list css */
.board_list {width:100%; border-collapse:collapse; margin:10px 0 5px 0; text-align:center;}
.board_list caption {overflow:hidden; height:0px; width:0px; text-indent:-9999px;}
.board_list thead th {color:#003a90; padding:2px 0 6px 0; background:url(../../images/board/Br_hdbg.gif) repeat-x;}
.board_list td {border-bottom:1px solid #d2deeb; padding:4px 0 3px 0;}
.board_list td a,.board_list td a:active,.board_list td a:visited{font-weight:normal;}
.board_list td a:hover{font-weight:normal; text-decoration:underline;}
.board_list tbody td.tx_al {text-align:left; padding:8px 4px 8px 10px; }
.board_list tbody td.tx_b {font-weight:bold;}

/* paging */
.paging {margin:15px 0 0 0; text-align:center;}
.paging li{display:inline; padding:0 3px;}
.paging li.btncl{padding:0;}
.paging li img{vertical-align:bottom; margin-bottom:4px;}
.paging li strong{color:#1656b5;}


/* view css */
.board_view {width:100%; border-collapse:collapse; margin:10px 0 5px 0; border-top:2px solid #a3c1df; border-bottom:1px solid #a3c1df;}
.board_view caption {overflow:hidden; height:0px; width:0px; text-indent:-9999px;}
.board_view th{background:#e2ebf4; color:#003a90; font-weight:bold; padding:8px 0 8px 0; text-align:center; border-bottom:1px solid #d2deeb;}
.board_view td{padding:8px 10px 8px 10px; text-align:left ; border-bottom:1px solid #d2deeb;}
.board_view td.con{border-bottom:none; padding:30px 10px; color:#727272;}
.board_view td.title{font-weight:bold;}
.board_view td a{font-weight:normal;}
.board_view td a:hover,.board_view td a:active,.board_view td a:visited{font-weight:normal; text-decoration:underline;}
p.btn_list {text-align:right; margin-top:15px;}
p.btn_list1 {text-align:right; margin-top:0;}

p.question {padding:10px 0; background:#f4f4f4; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
p.question span{display:block; padding-left:40px; background:url(../../images/05_center/icon_q.gif) no-repeat 0 2px; font-weight:bold; line-height:20px; }
p.answer {margin-top:45px; padding-left:40px; background:url(../../images/05_center/icon_a.gif) no-repeat 0 2px; line-height:20px;}