@charset "utf-8";

/* join_stap3 */
.join_step3{width:646px; height:188px; margin:15px 0 10px 0; padding:0; background:url(../../images/06_etc/join3_bg.gif) no-repeat 77px 0;}
.join_step3 ul{padding:46px 0 0 227px; margin:0;}
.join_step3 ul li img{vertical-align:top;}

/* page_ok */
.page_ok{width:574px; height:148px; padding:0; margin:100px 0 0 30px; border-top:2px solid #84a7d6; border-bottom:1px solid #84a7d6; background:url(../../images/common/page_ok_bg.gif) no-repeat 7px 18px;}
.page_ok ul{padding:30px 0 0 143px; margin:0;}
.page_ok ul li{padding-top:3px; color:#56739d;}
.ok_col1{font-size:14px; color:#6ec635; font-weight:bold;}
.ok_col2{font-size:14px; color:#01255b; font-weight:bold;}
.ok_col3{font-size:18px; color:#003a91; font-weight:bold; letter-spacing:-1px;}
.ok_col4{font-size:18px; color:#ff7200; font-weight:bold; letter-spacing:-1px;}
.ok_col5{font-size:18px; color:#3c3c3c; font-weight:bold; letter-spacing:-1px;}


/* notmail */
#notmail{width:403px; height:235px; padding:19px; margin:0; border:3px solid #0583c9;}
#notmail h3{padding:0 0 8px 0; width:400px; border-bottom:1px solid #dddee4;}
#notmail h3 span{padding-bottom:8px; border-bottom:3px solid #4782ce; font-size:14px;}
#notmail .notmail_bg{width:400px; padding:0; margin-top:29px; background:url(../../images/08_popup/notmail_bg.gif) no-repeat 15px 0;}
.notmail_bg p{padding-left:135px; margin:0;}
.notmail_bg p span{font-weight:bold;}
.notmail_bg p.btn_cl{padding-top:10px; text-align:right;}

/* idcheck */
#idcheck{width:403px; height:190px; padding:19px; margin:0; border:3px solid #0583c9;}
#idcheck h3{padding:0 0 8px 0; width:400px; border-bottom:1px solid #dddee4;}
#idcheck h3 span{padding-bottom:8px; border-bottom:3px solid #4782ce; font-size:14px;}
#idcheck .idcheck_bg{width:400px; height:39px; padding:0; margin-top:10px; background:url(../../images/08_popup/idcheck_bg.gif) no-repeat 5px 0;}
.idcheck_bg dl{float:left; padding:7px 0 0 20px; margin:0;}
.idcheck_bg p{float:left; padding:7px 3px; margin:0;}
#idcheck .idcheck_view{width:385px; height:21px; padding:0; margin:10px 0 0 5px; background-color:#cddff3; text-align:center;}
.idcheck_view p{padding-top:3px;}
.idcheck_view p span{color:#00499a; font-weight:bold;}
#idcheck .idcheck_ok{padding:0; margin-top:10px; text-align:center;}
.idcheck_ok p{padding-top:10px; color:#00499a;}

/* FAQ */
#f_list{width:646px; padding:0; margin:0; border-top:2px solid #a3c1df; border-bottom:1px solid #a3c1df;}
#f_list dl{width:646px; padding:0; margin:0;}
#f_list dl .f_dt1{width:636px; padding:5px; margin:0; border-bottom:1px solid #d2deeb; background-color:#e2ebf4; color:#56739d; font-weight:bold;}
#f_list dl .f_dt2{width:636px; padding:5px; margin:0; border-bottom:1px solid #d2deeb; background-color:#f1f5f9; color:#56739d; font-weight:bold;}
#f_list dl dt a, #f_list dl dt a:hover{font-weight:bold; color:#56739d !important;}
#f_list dl dd{width:636px; padding:10px 5px; margin:0; border-bottom:1px solid #d2deeb; font-weight:bold; line-height:170%;}
#f_list dl dd p{padding:3px 15px; font-weight:normal;}

/* join_out */
#joinout_top{width:646px; height:100px; padding-top:30px; margin:0; border-bottom:1px solid #d7e0eb; background:url(../../images/06_etc/joinout_top_img.gif) no-repeat 0 25px;}
#joinout_top p{padding-left:145px; margin:0;}

#joinout_box{width:615px; padding:10px; margin-top:30px; border:3px solid #d2deeb;}
#joinout_box span{font-size:14px; font-weight:bold; color:#589000;}

#joinout_from{width:646px; padding:0; margin-top:20px;}
#joinout_from h3{padding-top:5px; width:646px;}
#joinout_from h3 span{padding-bottom:15px; margin-bottom:0; border-bottom:3px solid #4782ce; font-size:14px;}
#join_area span{font-weight:bold;}

#info_top{width:640px; height:100px; padding:8px 0 5px 0; margin-top:20px; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb;}
#info_top p{width:140px; float:left;}
#info_top ul{width:500px; float:left; letter-spacing:-1px;}
#info_top ul li{letter-spacing:-1px;}
#info_top span{font-weight:bold;}

#info_back{width:620px; padding:10px; margin-top:10px; background-color:#f4f4f4;}