@charset "utf-8";

/* inherit */
.fr {float:right;}
.fl {float:left;}
.wd_full {width:60%;}
.wd_full1 {width:95%;}
.vab {vertical-align:bottom;}
.pc_b {color:#1c5bb8;}
.mg_30 {margin-left:36px;}
.m5 {margin:5px;}
.m5 img{vertical-align:middle;}
.hsytle h5 {color:#1c5bb8; font-size:14px; font-weight:bold; padding:10px 0 0 15px; background:url(../../images/common/s_blet.gif) no-repeat 0 16px;}
.link a {color:#1c5bb8; font-size:14px; font-weight:bold;}
.bul h5 {height:20px; font-size:14px; font-weight:bold; color:#616161; padding:10px 0 0 15px; background:url(../../images/common/s_blet.gif) no-repeat 0 12px;}

/* 통합서식 관련 css ----------------------------------------------------------------------------------------------------------------------------------------- */
#contents_pop {width:954px; overflow:hidden; padding:0 5px; border-right:8px solid #a4c8ec; border-left:8px solid #a4c8ec; border-bottom:8px solid #a4c8ec;}
	#contents_pop h2 ,#contents_pop p.page_title{background:url(../../images/common/h4_bul.gif) no-repeat 0 2px; color:#1c5bb8; padding:3px 0 0 23px; font-size:15px; font-weight:bold;}
	#contents_pop .con_title h2{background:url(../../images/common/h4_bul.gif) no-repeat 0 2px; float:left; color:#1c5bb8; padding:3px 0 0 23px; font-size:15px;}

	/* popup center */
	#center_info {text-align:right;font-weight:bold; background:#a4c8ec; width:965px; height:23px; color:#fff; padding-right:15px;}
	#center_info span.center_group{color:#fff; background:#1e5db9; width:74px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.center_group_session{color:#fff; background:#1e5db9; width:100px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.center_tel{color:#0044a7; width:170px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.center_tel_plan{color:#0044a7; width:100px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.center_session_view{color:#0044a7; width:40px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.extension{color:#0044a7; width:75px; height:18px; font-weight:bold; display:inline-block; text-align:center; padding:5px 0 0 0; margin:0 5px}
	#center_info span.extension a{padding:0; margin:0;}
	#center_info img{vertical-align:top; padding:3px 0 0 0; margin:0;}
	#center_info span.center_area{color:#0044a7;}
	#center_info span.center_title{color:#0044a7;font-weight:bold;text-align:left; padding:5px 0 0 0;position: absolute; left: 15px;}

	 /* con center */
	#top_pop{width:980px; height:86px; padding:0; margin:0; background:url(../../images/07_form/pop_top_bg.gif) repeat-x;}
	#top_pop h1{width:157px; height:64px; padding:11px 0 0 8px; float:left;}
	#top_pop ul.popstep{height:64px; padding:11px 0 0 0; float:left;}
	#top_pop ul.popstep li{float:left; padding-left:3px;}

	#con_center_info {text-align:right; height:23px; border-top:1px solid #c6d2e3; border-bottom:1px solid #c6d2e3;color:#666; padding-right:15px; margin-bottom:20px;}
	#con_center_info span.center_group{background:#2365a6; width:64px; height:18px; font-weight:bold; display:inline-block; text-align:center; color:#fff; padding:5px 0 0 0; margin:0 5px}
	#con_center_info span.center_area{color:#0044a7;}

	/* con , title,  h css*/
	h4 {background:url(../../images/common/h4_bul.gif) no-repeat 0 5px; color:#1c5bb8; padding:3px 0 0 23px; font-size:15px; margin:15px 0 10px 0;}
	.btn_control {text-align:right; margin:7px 0 6px 0; overflow:hidden;}
	.con_title {overflow:hidden; height:1%;}
	.con_title h4{background:url(../../images/common/h4_bul.gif) no-repeat 0 2px; float:left; color:#1c5bb8; padding:3px 0 0 23px; font-size:15px; margin:0;}

	/* list_area */
	.list_area {_width:98%; height:106px; overflow-y:scroll;}

	/* ie6 input class */
	.ip_text{border:1px solid #c4d6e9;ime-mode:active; }
	.ip_text1{border:1px solid #F28E00;ime-mode:active; }

	/* 신고서 확인 */
	ul#type {background:#e2ebf4; border:1px solid #d2deeb; overflow:hidden; margin:5px 0; padding:5px 0 4px 0; height:1%;}
	ul#type li{float:left; width:32%; text-align:center; color:#003a90; font-weight:bold;}
	ul#type img{vertical-align:middle;}
	ul#type2 {background:#e2ebf4; border:1px solid #d2deeb; overflow:hidden; margin:5px 0; padding:5px 0 4px 0; height:1%;}
	ul#type2 li{float:left; width:100%; text-align:center; color:#003a90;}
	ul#type2 img{vertical-align:middle;}
	ul#type3 {background:#e2ebf4; border:1px solid #d2deeb; overflow:hidden; margin:5px 0; padding:5px 0px 4px 350px; height:1%;}
	ul#type3 li{float:left; width:100%; text-align:left; color:#003a90; font-weight:bold; font-size: 16px;}
	ul#type3 img{vertical-align:middle;}

/* /통합서식 관련 css ----------------------------------------------------------------------------------------------------------------------------------------- */
/* base table css */
.tb_base {width:100%; margin:3px 0 5px 0;border: 2px solid #d2deeb;}
.tb_base caption  {top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_base th {padding:3px 0 3px 0; background:#e2ebf4;border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_base th.pc_1,.tb_base td.pc_1 {color:#8c0fc6;}
.tb_base th.pc_2,.tb_base td.pc_2 {color:#b50606;}
.tb_base td.pt1 {background:url(../../images/08_popup/pattern_01.gif) repeat-x;}
.tb_base td.pt2 {background:url(../../images/08_popup/pattern_02.gif) repeat-x;}
.tb_base td{background:#fff; border-right:1px solid #d2deeb; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:left;}
.tb_base td.subtitle{background:#f1f4fd; padding:3px 5px 3px 3px; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#003a90; text-align:center;}
.tb_base td.subcenter{background:#fff; padding:3px 5px 3px 3px; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center;}
.tb_base td.disabled {background:#dfdfdf;}
.tb_base td.btb {border-top:2px solid #0000ff;}
.tb_base td.blb {border-left:2px solid #0000ff;}
.tb_base td.brb {border-right:2px solid #0000ff;}
.tb_base td.bbb {border-bottom:2px solid #0000ff;}

.tb_base td input[type="text"]{border:1px solid #c4d6e9; }
.tb_base td input[type="password"]{border:1px solid #c4d6e9; height:15px; vertical-align:bottom;}
.tb_base td input[type="checkbox"],.tb_base td input[type="radio"]{vertical-align:middle;}
.tb_base td input[type="text"]:focus,.tb_base td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

.tb_base td textarea{border:1px solid #90b3e8; background:#f5f5f5;}
.tb_base td img{vertical-align:bottom;}

.tb_base td.back_01 {padding:3px 0 3px 0; background:#e2ebf4; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:left; font-weight:bold; color:#003a90;}
.tb_base td.ac {text-align:center;}
.tb_base td.ar {text-align:right;}
.tb_base tfoot td{background:#e2ebf4; text-align:right;}

/* mini table css */
.tb_mini {width:32%; border-collapse:collapse; border:2px solid #d2deeb; float:left; margin:3px 0 5px 7px;}
.tb_mini caption {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_mini th {padding:3px 0 3px 0; background:#e2ebf4; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_mini td{background:#fff; padding:3px 5px 3px 3px; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:left;}

.tb_mini td input[type="text"]{border:1px solid #c4d6e9; }
.tb_mini td input[type="password"]{border:1px solid #c4d6e9; height:18px; vertical-align:bottom;}
.tb_mini td input[type="checkbox"],.tb_mini td input[type="radio"]{vertical-align:bottom;}
.tb_mini td input[type="text"]:focus,.tb_mini td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* no padding table css */
.tb_style1 {width:100%; clear:both; margin:3px 0 5px 0; border: 2px solid #d2deeb;}
.tb_style1 caption  {top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_style1 th {padding:3px 0; background:#e2ebf4; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_style1 td{background:#fff; padding:3px 0; border-right:1px solid #d2deeb; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}

.tb_style1 td input[type="text"]{border:1px solid #c4d6e9; }
.tb_style1 td input[type="password"]{border:1px solid #c4d6e9; height:18px; vertical-align:bottom;}
.tb_style1 td input[type="checkbox"],.tb_style1 td input[type="radio"]{vertical-align:bottom;}
.tb_style1 td input[type="text"]:focus,.tb_style1 td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* list table css */
.tb_list {width:100%; margin:3px 0 5px 0;border: 2px solid #d2deeb;}
.tb_list caption  {top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_list th {padding:3px 0; background:#e2ebf4; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_list td{background:#fff; padding:3px 5px; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}
.tb_list td.al{text-align:left;}
.tb_list td.ar{text-align:right;}
.tb_list tfoot td{background:#e2ebf4; text-align:center;}
.tb_list th.pc_1,.tb_list td.pc_1 {color:#8c0fc6;}
.tb_list th.pc_2,.tb_list td.pc_2 {color:#b50606;}
.tb_list td input[type="text"]{border:1px solid #c4d6e9; }
.tb_list td input[type="text"]:focus,.tb_list td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* list table css */
.tb_list2 {width:100%; clear:both; border: 2px solid #d2deeb;}
.tb_list2 caption {top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_list2 th {background:#e2ebf4; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_list2 td {background:#fff; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}
.tb_list2 td.al{text-align:left;}
.tb_list2 td.ar{text-align:right;}
.tb_list2 tfoot td{background:#e2ebf4; text-align:center;}
.tb_list2 th.pc_1,.tb_list td.pc_1 {color:#8c0fc6;}
.tb_list2 th.pc_2,.tb_list td.pc_2 {color:#b50606;}
.tb_list2 td input[type="text"]{border:1px solid #c4d6e9; }
.tb_list2 td input[type="text"]:focus,.tb_list td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* list table css */
.tb_list3 {width:100%; clear:both; margin:10px 0 5px 0;border: 2px solid #d2deeb;}
.tb_list3 caption  {top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_list3 th {padding:7px 0; background:#e2ebf4; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
.tb_list3 td{background:#fff; padding:8px 5px; border-left:1px solid #d2deeb; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}
.tb_list3 td.al{text-align:left;}
.tb_list3 td.ar{text-align:right;}
.tb_list3 tfoot td{background:#e2ebf4; text-align:center;}
.tb_list3 th.pc_1,.tb_list td.pc_1 {color:#8c0fc6;}
.tb_list3 th.pc_2,.tb_list td.pc_2 {color:#b50606;}
.tb_list3 td input[type="text"]{border:1px solid #F28E00; }
.tb_list3 td input[type="text"]:focus,.tb_list td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* 장애인근로자명부 관련 콘텐츠 css*/
#content_over {text-align:left; width:740px; margin:10px 0; overflow-x:scroll;}
	.tb_over {width:460%; border-collapse:collapse; border:2px solid #d2deeb; clear:both; margin:3px 0 5px 0;}
	.tb_over caption {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
	.tb_over th {padding:3px 0; background:#e2ebf4; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
	.tb_over td{background:#fff; padding:3px 0; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}
	.tb_over th.pc_3,.tb_over td.pc_3 {border-left:2px solid #8fb3e5;}

/* 장애인 기기정보등록 css*/
#content_over1 {text-align:left; width:740px; height:110px; margin:10px 0; overflow-y:scroll;}
	.tb_over1 {width:100%; border-collapse:collapse; border:2px solid #d2deeb; clear:both; margin:3px 0 5px 0;}
	.tb_over1 caption {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
	.tb_over1 th {padding:3px 0; background:#e2ebf4; border-right:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; text-align:center; font-weight:bold; color:#003a90;}
	.tb_over1 td{background:#fff; padding:3px 0; border-left:1px solid #d2deeb; border-bottom:1px solid #d2deeb; border-top:1px solid #d2deeb; color:#666; text-align:center;}
	.tb_over1 th.pc_3,.tb_over td.pc_3 {border-left:2px solid #8fb3e5;}

/* zip css*/
#zip_search {width:818px; height:22px; margin:0 auto; background:url(../../images/08_popup/new_zip_search_bg.gif) no-repeat; text-align:center; padding:8px 0;}
#zip_search input[type="text"]{border:1px solid #d2deeb; }
.inquiry_number {width:798px; overflow:hidden; margin:11px auto 0 auto; background:#cddff3; padding:5px 10px; text-align:left; color:#333; line-height:200%;}
.inquiry_number2 {width:398px; overflow:hidden; margin:11px auto 0 auto; background:#cddff3; padding:5px 10px; text-align:left; color:#333; line-height:200%;}
	.mini_box {float:left; width:385px; margin:5px 0 0 10px; line-height:180%;}
.inquiry_number1 {background:#cddff3; padding:5px 10px; text-align:right; width:400px; margin:11px 0;}
.addr_sel {width:818px; margin:11px auto; }
.addr_sel label{display:inline-block; width:110px; text-align:center; background:#edf3fa; border:1px solid #becbd9; _zoom:1; _display:inline;}
.addr_sel select{ width:120px; height:22px; margin-right:15px; vertical-align:middle;}
.addr_sel input{ width:186px; height:16px;  vertical-align:middle;}
.addr_sel2 {width:418px; margin:11px auto; }
.addr_sel2 label{display:inline-block; width:80px; text-align:center; background:#edf3fa; border:1px solid #becbd9; _zoom:1; _display:inline;}
.addr_sel2 select{ width:120px; height:22px; vertical-align:middle;}
.addr_sel2 input{ width:186px; height:16px;  vertical-align:middle;}
#post_code {width:418px; height:442px; overflow-y:scroll; margin:0 auto;}
#post_tbarea {width:800px;}
#group_area {width:420px; overflow-y:scroll; height:170px;}
.zip_control {width:788px; height:22px; margin:0 auto; padding:8px 15px; font-size:13px; background:url(../../images/08_popup/new_zip_search_bg.gif) no-repeat;}
.zip_control img{vertical-align:bottom;}
.zip_control2 {width:398px; height:22px; margin:0 auto; padding:8px 15px; font-size:13px; background:url(../../images/08_popup/new_zip_search_bg.gif) no-repeat;}
.zip_control2 img{vertical-align:bottom;}

.filefield {margin-top:10px; height:55px; border:2px solid #d2deeb;}
	.fieldL {margin-right:10px; padding-top:15px; width:284px; height:40px; background:#e2ebf4; border-right:1px solid #d2deeb; text-align:center; color:#003a90; font-weight:bold; float:left;}
	.fieldR {margin:3px 0; width:320px;}

/* select css*/
#select_warp{width:930px;}
.select_list{width:285px; height:385px; float:left; margin:0 23px 10px 0; border:1px solid #ccc; text-align:center;}


/*join */
#join_area {position:relative; margin:15px 0 10px 0; padding:18px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.join_btn_control {text-align:center;}
.tb_member {width:100%; border-collapse:collapse;}
.tb_member caption  {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0}
.tb_member th {padding:3px 5px 3px 7px; background:url(../images/07_form/join_icon.html) no-repeat 0 50%; text-align:left; color:#666; font-weight:normal; height:25px}
.tb_member td{ padding:3px 5px;color:#666; text-align:left; height:25px}
.tb_member td img{vertical-align:bottom;}
.tb_member td input[type="text"]{border:1px solid #c4d6e9; }
.tb_member td input[type="password"]{border:1px solid #c4d6e9; height:16px; vertical-align:bottom;}
.tb_member td input[type="checkbox"],.tb_member td input[type="radio"]{vertical-align:bottom;}
.tb_member td input[type="text"]:focus,.tb_member td input[type="password"]:focus {border:1px solid #90b3e8; background:#f5f5f5;}

/* 도움말(툴팁)관련 css */
#help_real_name {position:absolute; top:293px; right:76px; width:240px; height:64px; padding:5px; background:#fff; border:2px solid #f28e00; text-align:left; line-height:140%;}
#help_real_name p{width:95%;}
.help_close {position:absolute; top:3px; right:5px;}

#help_real_name1 {position:absolute; top:125px; right:10px; width:590px; height:50px; padding:5px; background:#fff; border:2px solid #f28e00; text-align:left; line-height:140%; font-weight:normal;}
#help_real_name1 p{width:97%;}
.help_close1 {position:absolute; top:3px; right:5px;}

#help_real_name2 {position:absolute; top:293px; right:76px; width:240px; height:64px; padding:5px; background:#fff; border:2px solid #f28e00; text-align:left; line-height:140%;}
#help_real_name2 p{width:95%;}
.help_close2 {position:absolute; top:3px; right:5px;}

#help_real_name3 {position:absolute; top:293px; right:76px; width:380px; height:64px; padding:5px; background:#fff; border:2px solid #f28e00; text-align:left; line-height:140%;}
#help_real_name3 p{width:95%;}
.help_close3 {position:absolute; top:3px; right:5px;}

/* 신청하기 */
.request2{margin:0; padding:0; width:740px; height:76px; background:url(../../images/common/request_bg.gif) no-repeat;}
.request2 p.re_text{padding-left:5px; margin-top:16px; width:437px; height:44px; float:left; letter-spacing:-1px; font-weight:bold; color:#000;}
.request2 p.re_text span{color:#2365a6; font-weight:bold;}
.request{margin:0; padding:0; width:740px; height:76px; background:url(../../images/common/request_bg.gif) no-repeat;}
.request p.re_text{padding-left:30px; margin-top:23px; width:337px; height:44px; float:left; letter-spacing:-1px; font-weight:bold; color:#000;}
.request p.re_text span{color:#2365a6; font-weight:bold;}
.request p.re_text2{padding-left:5px; margin-top:18px; width:337px; height:44px; float:left; letter-spacing:-1px; font-weight:bold; color:#000;}
.request p.re_text2 .re01{color:#2365a6;}
.request p.re_text2 .re02{color:#2365a6; font-weight:bold;}
.request p.re_text2 .re03{color:#d20000; font-weight:bold;}
.request p.re_text3{padding-left:5px; margin-top:8px; width:337px; height:44px; float:left; letter-spacing:-1px; font-weight:bold; color:#000;}
.request p.re_text3 .re01{color:#2365a6;}
.request p.re_text3 .re02{color:#2365a6; font-weight:bold;}
.request p.re_text3 .re03{color:#d20000; font-weight:bold;}
.request .re{padding-top:12px; margin:0; width:350px; height:63px; float:right; position:relative;}
.request .re dl{width:113px; margin-top:12px; padding:0; float:left;}
.request .re dt{margin:0; padding:0px 0 0 3px; float:left; letter-spacing:-1px;}
.request .re dd{margin:0; padding-left:3px; padding-top:3px;  float:left;}
.request .re .re_btn1{height:48px; margin:0; padding-right:30px; float:right;}
.request .re select{letter-spacing:-1px;}

/* certificate*/
h6 {background:url(../../images/common/h6_bul.gif) no-repeat 0 5px; color:#2a68bf; font-size:13px; font-weight:normal; padding-left:7px; margin:5px 0;}
#certificate_help {width:700px; border:2px solid #d2deeb; padding:17px 18px;}
#certificate_help span{font-size:15px; color:#589000; font-weight:bold; letter-spacing:-1px;}
#certificate_help span.pc_b{color:#1c5bb8; font-size:12px; font-weight:normal; letter-spacing:0;}

/* 콘텐츠 공통 리스트 디자인 */
.list_style01 li{background:url(../../images/common/con_list_bul.gif) no-repeat 0 9px; margin:15px 8px; padding-left:15px;}
.list_style02 li{background:url(../../images/common/s_blet.gif) no-repeat 0 6px; margin:15px 0; padding-left:15px; color:#616161; font-weight:bold;}
.list_style03 li{background:url(../../images/common/con_list_bul.gif) no-repeat 0 9px; margin:2px 0; padding-left:8px; color:#616161;}
.list_style04 li{margin:2px 0 !important; padding-left:8px; color:#616161;}
.list_style05 li{margin:5px 0 15px 0;}

.add_file_txt {color:#21a4aa; margin:5px 0;}
.add_file_down {background:url(../../images/common/icon_hwp.gif) no-repeat 0 3px; padding-left:18px;}

/* 검색관련 css (나의 신청내역 , 게시판 검색)*/
#breakdown_search {background:url(../../images/common/breakdown_search_bg.gif) no-repeat; margin-bottom:15px;}
#breakdown_search h4{background:none; margin:7px 0 10px 0; padding-left:10px; float:left;}
	#breakdown_sel {float:right; padding-right:10px; margin:9px 0 10px 10px;}
	#breakdown_sel input{vertical-align:bottom;}
	#breakdown_sel label{font-weight:bold;}

/*공통탭*/
.cont_tab1{width:740px; height:50px; margin-top:10px; background:url(../../images/01_info/cont_tab_bg.gif) repeat-x;}
.cont_tab1 .tab01{height:35px; margin:0; padding:0;}
.cont_tab1 .tab01 li{float:left; margin-right:2px; }

	/*전자고시통지안내문 컨텐츠*/
	div.text2 h5{height:20px; font-size:14px; font-weight:bold; padding:10px 0 5px 0; color:#616161;}
	div.text2 h5 span{color:#090909;}
	div.text2 p span.col3{color:#21a4aa;}
	div.text2 p span.col4{color:#616161;}
	span.col2{color:#090909; font-weight:bold;}
	.text_style01{padding:0; margin:0;}
	.text_style01 li,p.con_text{background:url(../../images/common/con_list_bul.gif) no-repeat 0 10px; margin:10px 8px; padding-left:10px;}
	.text_style01 ul.tx_st01 li,.text_style01 ol.tx_st01 li{background:none; margin:3px 0px; padding-left:5px;}
	.text_style01 ol.tx_st01 li a:hover{font-weight:normal;}
	.text_style01 ul.tx_st01 li a:hover {letter-spacing:-1px;}

	.text_style02{padding:0; margin:0;}
	.text_style02 li,p.con_text{background:url(../../images/common/con_list_bul.gif) no-repeat 0 10px; margin:5px 5px; padding-left:10px;}
	.text_style03 li{margin:5px 5px; padding-left:5px; line-height:170%;}
	
	.text_style04 li,p.con_text{background:url(../../images/common/con_list_bul.gif) no-repeat 0 10px; margin:4px 8px; padding-left:10px;}
	.text_style04 ul.tx_st01 li,.text_style01 ol.tx_st01 li{background:none; margin:1px 0px; padding-left:5px;}
	.text_style04 ol.tx_st01 li a:hover{font-weight:normal;}
	.text_style04 ul.tx_st01 li a:hover {letter-spacing:-1px;}

	
	#report_pop{width:587px; padding:11px 11px 16px 11px; border:5px solid #a4c8ec;}
	#report_pop #report_con{margin:0; padding:0; width:565px;}
	#report_pop #report_con .logo{width:565px; height:72px; border-bottom:2px solid #2261bc;}
	#report_pop #report_con .logo h1{text-align:right;}
	#report_pop #report_con div{width:565px;}

	/*이용약관안내 컨텐츠*/
	#memb_bar{margin-top:15px; width:740px; height:73px; background:url(../images/07_form/memb_bar_bg.html) no-repeat;}
	#memb_bar p{padding:15px 0 0 21px; float:left;}
	#memb_bar p.tx1{padding:25px 0 0 15px; font-size:13px; font-weight:bold;}
	#memb_bar p.tx1 span.col5{color:#2fa519; font-size:13px; font-weight:bold;}
	#memb_bar p.tx1 span.col6{color:#3270c4; font-size:13px; font-weight:bold;}
	#memb_bar p.tx1 span.col7{color:#02b4b6; font-size:13px; font-weight:bold;}
	.content_mbar {text-align:left; width:730px; height:260px; padding:5px; margin:10px 0; overflow-y:scroll; border:1px solid #cccccc;}

	/*이용절차안내 컨텐츠*/
	#certificate_help1 {width:740px; height:129px; border:2px solid #d2deeb; padding:0; background:url(../../images/01_info/process_bg1.gif) no-repeat 40px 12px;}
	#certificate_help1 p{width:420px; padding:14px 0 0 210px;}
	#certificate_help1 p span{font-size:15px; color:#589000; font-weight:bold; letter-spacing:-1px;}
	#certificate_help2 {width:740px; height:129px; border:2px solid #d2deeb; padding:0; background:url(../../images/01_info/process_bg2.gif) no-repeat 35px 12px;}
	#certificate_help2 p{width:420px; padding:14px 0 0 210px;}
	#certificate_help2 p span{font-size:15px; color:#589000; font-weight:bold; letter-spacing:-1px;}

	/*민간사업주 원클릭 컨텐츠*/
	#certificate_help3 {width:740px; height:100px; border:2px solid #d2deeb; padding:0; background:url(../../images/02_business/process_bg3.gif) no-repeat 15px 15px;}
	#certificate_help3 p{width:420px; padding:20px 0 0 210px;}
	#certificate_help3 p span{font-size:15px; color:#589000; font-weight:bold; letter-spacing:-1px;}


	.title_icon{margin-top:19px; padding:0; width:740px; height:53px; background:url(../../images/07_form/title_icon.html) no-repeat 0 0; border-bottom:1px solid #cfd7e1;}
	.title_icon p{margin:0px; padding:16px 0 0 55px;}
	div.text2 ul.img_style01{margin:10px 0 10px 0; padding:0; height:80px; background:url(../../images/02_business/img_style_bg01.gif) no-repeat 0 0;}
	div.text2 ul.img_style01 li{float:left; padding-left:10px;}
	div.text2 ul.img_style01 li.no_pad{float:left; padding:0;}

	div.text2 ul.img_style02{margin:10px 0 10px; padding:0; height:80px; background:url(../../images/02_business/img_style_bg02.gif) no-repeat 0 0;}
	div.text2 ul.img_style02 li{float:left; padding-left:14px;}
	div.text2 ul.img_style02 li.no_pad{float:left; padding:0;}
	.col8{font-size:11px; background:url(../../images/07_form/icon01.html) no-repeat 0 0; padding-left:15px;}

	/*보조공학기기 신청 컨텐츠*/
	.help_box{width:740px; height:88px; padding:0; margin:0; border:2px solid #d2deeb;}
	.help_text{width:382px; height:49px; padding:20px 0 0 14px; margin:0; float:left;}
	.help_banner{height:57px; padding-top:12px; margin:0; float:left;}

	/*회원약관 컨텐츠*/
	.join_text{width:740px; height:75px; padding-top:10px; border-bottom:1px solid #d2deeb;}
	.join_text p{letter-spacing:-1px;}
	.col9{font-size:14px; font-weight:bold; color:#2fa519;}
	.join_box{width:720px; padding:5px; margin:0; border:2px solid #d2deeb;}
	div.join_box h5{height:20px; font-size:12px; font-weight:bold; padding:10px 0 0 15px; color:#616161; background:url(../../images/07_form/s_blet.html) no-repeat 0 10px;}
	div.join_box h5 span{color:#090909;}
	.join_num{margin-top:15px; padding:0; width:740px; height:76px; background:url(../../images/07_form/request_bg.html) no-repeat;}
	.join_num p{padding:9px 0 0 11px; margin:0; float:left;}
	.join_num dl{width:400px; padding:23px 0 0 20px; margin:0; float:left;}
	.join_num dl dt{width:150px; padding:0; margin:0; float:left;}
	.join_num dl dd{width:230px; padding:0; margin:0; float:left;}
    .join_num dl dd input {margin-left:5px;}
	.join_radio{width:740px; text-align:right;}
	.join_radio_btn{padding-top:15px; width:740px; text-align:right;}


	/*뷰어프로그램 컨텐츠*/
	.viewer{margin-top:10px; padding:20px 0 15px 0; width:740px; border-top:2px solid #2d6bc1; border-bottom:2px solid #2d6bc1;}
	.viewer li{width:740px; height:87px; padding:0; margin:0;}
	.viewer li ul.vi_ban{padding:0; margin:0;}
	.viewer li ul.vi_ban li{width:160px; float:left; text-align:center;}
	.viewer li ul.vi_ban li p{height:30px;}
	.viewer li ul.vi_ban li a{font-size:11px; letter-spacing:-1px; color:#616161 !important; font-weight:normal !important;}
	.viewer li ul.vi_ban li a, .viewer li ul.vi_ban li a:hover{font-size:11px; letter-spacing:-1px; color:#616161 !important;}

/*id/pw*/
.log_box2{margin-top:19px; width:740px; height:301px; background:url(../../images/06_etc/log_box2.gif) no-repeat;}
.log_box2 h3{padding:0 0 10px 0; width:680px; border-bottom:1px solid #dddee4;}
.log_box2 h3 span{padding-bottom:10px; border-bottom:3px solid #4782ce; font-size:14px;}
.log_box2 .id_search{padding:20px 0 0 20px; width:583px; position:relative;}
.log_box2 .id_search .ids{width:340px; height:50px; padding-top:16px; margin-left:140px;}
.log_box2 .id_search .ids dl{width:340px; padding-top:0; font-size:11px;}
.log_box2 .id_search .ids dt{width:100px; padding-top:5px; margin:0; float:left;}
.log_box2 .id_search .ids dd{width:240px; margin:0; padding-top:2px; float:left;}
.log_box2 .id_search .ids p.log_btn1{position:absolute; top:70px; right:90px;}

.log_box2 .pw_search{padding:20px 0 0 20px; width:583px; position:relative;}
.log_box2 .pw_search .ids{width:340px; height:80px; padding-top:16px; margin-left:140px;}
.log_box2 .pw_search .ids dl{width:340px; padding-top:0; font-size:11px;}
.log_box2 .pw_search .ids dt{width:100px; padding-top:5px; margin:0; float:left;}
.log_box2 .pw_search .ids dd{width:240px; margin:0; padding-top:2px; float:left;}
.log_box2 .pw_search .ids p.log_btn1{position:absolute; top:84px; right:90px;}

.id_result{width:740px; height:102px; padding:0; border-top:1px solid #d7e0eb; border-bottom:1px solid #d7e0eb; background:url(../../images/06_etc/id_result_bg.gif) no-repeat 70px 15px;}
.id_result p{width:499px; padding-top:15px; float:right;}
.id_result p span{width:483px; padding:8px; background-color:#97b9e5; color:#ffffff;}

/*login*/
#contentBody .login_text{width:740px; height:152px; background:url(../../images/06_etc/log_bg.gif) no-repeat; border-bottom:1px solid #dddee4;}
#contentBody .login_text h2{padding:55px 0 0 145px;}
#contentBody .login_text p{padding:5px 0 0 145px;}
#contentBody span.col1{font-size:14px;}
#contentBody span.col1 strong{color:#2fa519;}

#contentBody .log_box{margin-top:19px; width:740px; height:309px; background:url(../../images/07_form/log_box.html) no-repeat;}

	#contentBody .log_box .login1{padding-left:18px; width:330px; height:305px; border-right:1px solid #dddee4; position:relative;  float:left; padding-right:18px;}
	#contentBody .log_box .login1 legend{display:none;}
	#contentBody .log_box h3{padding:20px 0 10px 0; width:330px; border-bottom:1px solid #dddee4;}
	#contentBody .log_box h3 span{padding-bottom:8px; border-bottom:3px solid #4782ce; font-size:14px;}
	#contentBody .log_box .login1 .log1{width:280px; height:100px; padding-top:16px; margin:0;}
	#contentBody .log_box .login1 .log1 dl{width:200px; padding-top:0; font-size:11px; letter-spacing:-0.1em; clear:both;}
	#contentBody .log_box .login1 .log1 dt{width:50px; padding-top:0; margin:0; float:left;}
	#contentBody .log_box .login1 .log1 dd{width:150px; margin:0; padding-top:2px; float:left;}
	#contentBody .log_box .login1 .log1 p.log_btn1{position:absolute; top:70px; right:60px;}
	#contentBody .log_box .login1 .log_txt1{width:280px; padding-top:0;}
	#contentBody .log_box .login1 .log_txt1 p{width:254px; height:19px; padding:0 0 0 18px; background:url(../../images/07_form/icon01.html) no-repeat 0 0; font-size:11px;}
	#contentBody .log_box .login1 .log_txt1 p a{font-size:11px; display:block; color:#6c6c6c;}
	#contentBody .log_box .login1 .log_txt1 p a:hover{font-size:11px; display:block; font-weight:bold; color:#6c6c6c; letter-spacing:-1px;}

	#contentBody .log_box .login2{padding-left:18px; width:300px; height:305px; position:relative;  float:left;}
	#contentBody .log_box .login2 .log2{width:300px; height:55px; padding-top:16px; margin:0;}
	#contentBody .log_box .login2 .log2 dl{width:250px; padding-top:0; font-size:11px; letter-spacing:-0.1em;}
	#contentBody .log_box .login2 .log2 dt{width:80px; padding-top:0; margin:0; float:left;}
	#contentBody .log_box .login2 .log2 dd{width:150px; margin:0; padding-top:2px; float:left;}
	#contentBody .log_box .login2 .log2 p.log_btn1{position:absolute; top:65px; right:0;}
	#contentBody .log_box .log_txt2{padding-top:16px;}
	#contentBody .log_box .log_txt2 p{width:270px; height:19px; padding:0 0 0 18px; background:url(../../images/07_form/icon01.html) no-repeat 0 0; font-size:11px;}
	#contentBody .log_box .log_txt3{padding-top:16px;}
	#contentBody .log_box .log_txt3 p{width:300px; height:19px; padding:0; font-size:11px;}
	#contentBody .log_box .log_txt3 p span{color:#6996d8; font-weight:bold;}

	/*사이트맵*/
#sitemap {overflow:hidden;}
	.site_mn {width:238px; float:left; margin-right:8px;}
	.site_mn h4{color:#fff; background:#1455b4; font-size:15px; padding:12px 0 11px 0; text-align:center;}
	.site_mn ul li{background:url(../../images/06_etc/sitemap_bul.gif) no-repeat 3px 8px; padding-left:15px; font-weight:bold; line-height:210%;}
	.site_mn ul li a{color:#4b4b4b;}
	.site_mn ul.twodt li{background:none; padding-left:8px; font-weight:normal;}
	/* rexpert 2011.10.06 추가 */
#rexpert_title {background:#7d7d7d; padding:15px 10px;}
#rexpert_con {padding:10px;}
#rexpert_con ol{margin:25px 0;}
#rexpert_con ol li{line-height:210%;}
#rexpert_con .rexpert_imgarea{ margin:5px 0; padding:15px; text-align:center; background:#e4e4e4;}

/* 세션만료 페이지 */
#sessionerror {width:400px; margin:0 auto; padding-top:49px;}
#sessionerror p.error_title{font-size:18px; height:62px; padding:50px 0 0 139px; background:url(../../images/06_etc/log_bg.gif) no-repeat 0 -22px; font-weight:bold; letter-spacing:-1px;}
#sessionerror p.session_login{margin-top:12px; padding-top:20px; text-align:center; border-top:1px solid #dedede;}

/* e신고 이용안내관련 */
#guide_warp {width:773px; margin:0; padding-top:20px;  background:url(../../images/09_guide/body_bg.gif) repeat-x; position:relative;}
#guide_warp .guide_top {width:736px; height:100px; margin:0 auto; background:url(../../images/09_guide/guide_top_bg.gif) no-repeat top right;}
.guide_top h1 {float:right;}
.guide_top p img {vertical-align:top;}
	/* 주메뉴 */
	#guide_warp .guide_mn {width:736px; height:69px; margin:0 auto;}
	.guide_mn  ul li {float:left;}

	#guide_warp .guide_sub_container {width:736px; margin:0 auto;}
	 /* 왼쪽메뉴 */
	 .guide_sub_container .guide_sub {width:194px; float:left;}
	 .guide_sub_container .guide_sub ul{width:194px; padding:0; margin:0; border-top:2px solid #015fa1; border-bottom:2px solid #015fa1;}
	 .guide_sub_container .guide_sub ul li {width:194px; padding:0; margin:0;}
	 .guide_sub_container .guide_sub ul li a {width:191px;  padding:5px 0 5px 3px; color:#000000; background:url(../../images/09_guide/guide_left_bg_off.gif) no-repeat 0 bottom; display:block;}
	 .guide_sub_container .guide_sub ul li a:hover {width:191px;   padding:5px 0 5px 3px; color:#ffffff; background:url(../../images/09_guide/guide_left_bg.gif) no-repeat; text-decoration:none; display:block;}
	 .guide_sub_container .guide_sub ul li.on a{width:191px;   padding:5px 0 5px 3px; color:#ffffff; background:url(../../images/09_guide/guide_left_bg.gif) no-repeat; text-decoration:none; display:block;}
	
	/* 컨텐츠 */
	.guide_sub_container .guide_contents {width:521px; float:right; padding-left:21px;}
	 .guide_contents .guide_con_header {width:521px; height:33px; padding:0; margin:0; border-bottom:1px solid #b5bec5;}
	 .guide_con_header h4 {background:url(../../images/common/h4_bul.gif) no-repeat 0 0; color:#1c5bb8; padding:0 0 0 23px; font-size:13px; margin:0;}
	
	 .guide_contents .guide_con_body {width:521px; margin:15px 0 15px 0;}
	 .guide_contents .guide_con_body h5{margin:20px 0 10px 0; padding-left:15px; font-size:12px; background:url(../../images/09_guide/guide_con_bul.gif) no-repeat 0 2px; }
	 .guide_contents .guide_con_body p.pc_o{color:#ff4200;}

	 #guide_warp .guide_footer {width:736px; margin:0 auto; padding-top:20px; position:relative; overflow:hidden;}
	  .guide_foo {width:688px;  padding:20px; border:4px solid #c5d9e7; overflow:hidden;}
	  .guide_foo h3 {height:30px; padding:8px 0 0 30px; background:url(../../images/09_guide/guide_foo_titbg.gif) no-repeat 0 0; color:#000000;}
	  .guide_foo h3 span {color:#3e82ce;}
	  .guide_foo p.foo_txt1 {float:left; width:675px; padding:0 0 0 13px; background:url(../../images/common/s_blet.gif) no-repeat 0 5px;}
	  .guide_foo p.foo_txt1 a{width:675px; float:right; text-align:right;}
	  .guide_footer p.guide_top2{position:absolute; top:0; right:0;}

	 .guide_print {position:absolute; top:164px; right:18px;}

/* e신고 동영상 이용안내관련 */
#m_guide_warp {width:1000px; margin:0; padding-top:20px;  background:url(../../images/10_media/body_bg.gif) repeat-x; position:relative;}
#m_guide_warp .m_guide_top {width:960px; height:82px; margin:0 auto; background:url(../../images/10_media/guide_top_bg.gif) no-repeat top right;}
.m_guide_top h1 {float:right;}
.m_guide_top p img {vertical-align:top;}
	/* 주메뉴 */
	#m_guide_warp .m_guide_mn {width:960px; height:53px; margin:0 auto;}
	.m_guide_mn  ul li {float:left;}

	#m_guide_warp .m_guide_sub_container {width:960px; margin:0 auto;}
	 /* 왼쪽메뉴 */
	 .m_guide_sub_container .m_guide_sub {width:161px; float:left;}
	 .m_guide_sub_container .m_guide_sub ul{width:161px; padding:0; margin:0; border-top:2px solid #015fa1; border-bottom:2px solid #015fa1;}
	 .m_guide_sub_container .m_guide_sub ul li {width:156px; padding:0; margin:0;}
	 .m_guide_sub_container .m_guide_sub ul li a {width:156px;  padding:5px 0 5px 3px; color:#000000; background:url(../../images/10_media/guide_left_bg_off.gif) no-repeat 0 bottom; display:block;}
	 .m_guide_sub_container .m_guide_sub ul li a:hover {width:156px;   padding:5px 0 5px 3px; color:#ffffff; background:url(../../images/10_media/guide_left_bg.gif) no-repeat; text-decoration:none; display:block;}
	 .m_guide_sub_container .m_guide_sub ul li.on a{width:156px;   padding:5px 0 5px 3px; color:#ffffff; background:url(../../images/10_media/guide_left_bg.gif) no-repeat; text-decoration:none; display:block;}
	 .btn_media {padding-top:10px;}
	/* 컨텐츠 */
	.m_guide_sub_container .m_guide_contents {width:762px; float:right; padding-left:37px;}
	.m_guide_contents .m_guide_con_body {width:762px; margin:0 0 15px 0;}

	.media_bg {width:709px; height:538px; float:left; background:url(../../images/10_media/media_bg.gif) no-repeat;}
	.media_bg p {width:694px; padding:8px 0 0 7px;}
	.btn_full {width:53px; padding-top:10px; float:right;}
	 
   /* 자막보기 */
    #media_popup {width:300px; padding:0;}
	#media_popup p {width:300px; height:25px; padding-top:5px; color:#ffffff; background:#538dd4; text-align:center; font-size:14px; font-weight:bold;}
	#media_popup ul {width:280px; padding-left:10px; margin-top:10px;}
	#media_popup ul li{padding:0 0 10px 15px; background:url(../../images/10_media/pop_icon.gif) no-repeat;}
	
	/* 자막보기 */
    #media_caption {position:absolute; top:245px; left:20px; width:161px; height:434px; padding-top:10px; overflow:hidden;}
	#media_caption p {width:161px; height:25px; padding-top:5px; color:#ffffff; background:#538dd4; text-align:center; font-size:14px; font-weight:bold;}
	#media_caption_contents {width:161px; height:409px; overflow:auto;}
	#media_caption #media_caption_contents ul {width:143px; padding:0; margin-top:10px;}
	#media_caption #media_caption_contents ul li{width:128px; padding:0 0 10px 15px; background:url(../../images/10_media/pop_icon.gif) no-repeat; word-break:break-all;}
	
/*퀵서비스*/
.text_style01 li ul.t_style1 li{background:none;}
#info_back2{width:600px; padding:5px; margin-top:10px; border:2px solid #d2deeb;}
#info_back2 p{padding:5px; background-color:#f4f4f4;}
/*퀵서비스*/
	