@charset "utf-8";
/* main content */
	/* visual */
	#contents .visual{width:878px; height:358px; background:url(../../images/main/main_visual_bg.gif) no-repeat; position:relative;}
	/*#contents .visual{width:878px; height:358px; background:url(../../images/main/main_visual_bg2.gif) no-repeat; position:relative;}/*비운영*/
	/*#contents .visual{width:878px; height:358px; background:url(../../images/main/main_visual_bg.gif) no-repeat; position:relative;}운영시*/
	#contents .visual p{width:327px; height:107px; padding:71px 0 0 136px;}
	#contents .visual .main_btn{width:287px; height:28px; padding:105px 0 0 136px;}
	/*#contents .visual .main_btn{width:287px; height:28px; padding:27px 0 0 136px;} 100인문구 삭제시*/
	#contents .visual .main_btn li{float:left;}
	/* oneclick */
	#contents .visual .oneclick{position:absolute; top:38px; left:0px;}
		.visual .oneclick .one{margin-top:15px; width:112px; position:relative; border-right:1px solid #d2d2d2;}
		.visual .oneclick .one li{margin-top:6px;}
		.oneclick .one_icon{position:absolute; top:7px; left:140px;}
		.oneclick .one li .on_click01{position:absolute; top:0; left:114px; width:766px; height:252px; background:url(../../images/main/on_click01_bg.gif) no-repeat;}
		.oneclick .one li .on_click01 .one_on a {color:#087510; font-size:13px; font-weight:bold;}
		.oneclick .one li .on_click01 .one_on a:hover {color:#ffffff; font-size:13px; font-weight:bold; background-color:#087510; text-decoration:none; padding:1px;}
		.one li .on_click01 .onon01{position:absolute; top:29px; left:35px;}
		.one li .on_click01 .onon02{position:absolute; top:29px; left:215px;}
		.one li .on_click01 .onon03{position:absolute; top:29px; left:401px;}
		.one li .on_click01 .onon04{position:absolute; top:29px; left:588px;}
		.one li .on_click01 .onon05{position:absolute; top:150px; left:35px;}
		.one li .on_click01 .onon06{position:absolute; top:150px; left:215px;}
		.one li .on_click01 .onon07{position:absolute; top:150px; left:401px;}
		.one li div .close{position:absolute; top:220px; right:10px;}
		.one li div .close input{width:54px; height:22px; background:url(../../images/main/close.gif) no-repeat; border:none;}
		/* oneclick2 */
		.oneclick .one li .on_click02{position:absolute; top:0; left:114px; width:766px; height:252px; background:url(../../images/main/on_click02_bg.gif) no-repeat;}
		.oneclick .one li .on_click02 .one_on a {color:#2563bd; font-size:13px; font-weight:bold;}
		.oneclick .one li .on_click02 .one_on a:hover {color:#ffffff; font-size:13px; font-weight:bold; background-color:#2563bd; text-decoration:none;  padding:1px;}
		.one li .on_click02 .onon01{position:absolute; top:29px; left:35px;}
		.one li .on_click02 .onon02{position:absolute; top:29px; left:215px;}
		.one li .on_click02 .onon03{position:absolute; top:29px; left:401px;}
		.one li .on_click02 .onon04{position:absolute; top:29px; left:588px;}
		.one li .on_click02 .onon05{position:absolute; top:150px; left:35px;}
		.one li .on_click02 .onon06{position:absolute; top:150px; left:215px;}
		.one li .on_click02 .onon07{position:absolute; top:150px; left:401px;}
		.oneclick .one li .on_click03{position:absolute; top:0; left:114px; width:766px; height:252px; background:url(../../images/main/on_click03_bg.gif) no-repeat;}
		.oneclick .one li .on_click03 .one_on a {color:#ff3c00; font-size:13px; font-weight:bold;}
		.oneclick .one li .on_click03 .one_on a:hover {color:#ffffff; font-size:13px; font-weight:bold; background-color:#ff3c00; text-decoration:none;  padding:1px;}
		.one li .on_click03 .onon01{position:absolute; top:29px; left:35px;}
		.one li .on_click03 .onon02{position:absolute; top:29px; left:215px;}
		.one li .on_click03 .onon03{position:absolute; top:150px; left:35px;}
		.one li .on_click03 .onon04{position:absolute; top:150px; left:215px;}
		.one li .on_click03 .onon05{position:absolute; top:29px; left:401px;}
		.one li .on_click03 .onon06{position:absolute; top:150px; left:401px;}
	/* login */
	#contents .login{float:left; width:288px; height:125px; background:url(../../images/main/login_bg.gif) no-repeat;}
	#contents .login h3{width:77px; height:30px; padding:11px 0 0 14px;}
	#contents .login .login_btn{width:228px; height:55px; padding:0 0 0 14px;}
	#contents .login .login_btn li{float:left;}
	#contents .login .login_txt{width:228px; height:11px; padding:0 0 0 10px;}
	#contents .login .login_txt li{float:left; width:75px; height:11px; text-align:center;}
		#contents .login .login_txt li a {color:#020202; font-size:11px;}
		#contents .login .login_txt li a:hover {font-weight:bold; text-decoration:none; color:#020202; font-size:11px;}
	#contents .login .login_txt .lien{float:left; width:75px; border-right:1px solid #a3a3a3; text-align:center;}
	/* notice */
	#contents #notice{float:left; width:310px; height:125px; position:relative;}
	#contents #notice .no_lien{width:279px; height:30px;  border-bottom:1px solid #d2d2d2;}
	#contents #notice .no_lien .noti01{float: left; display: inline; height:30px;}
	#contents #notice .no_lien .noti01 img{vertical-align:top;}
			#notice div.tabcontent{width:279px; position:absolute; top:40px; left:0; width:279px; display: none;}
			#notice div ul li{width:279px; line-height:19px;}
			#notice div ul li a{float:left; width:204px; display:block;}
			#notice div ul li span{float:right; width:75px; color:#767676; text-align:right;}
			#notice .tab2more{width:11px; height:12px; position:absolute; left:268px; top:10px;}
	/* popup */
	#contents .popup{float:left; width:280px; height:125px; position:relative;}
	#contents .popup .pop_banner{width:279px; height:92px; margin-top:15px; background:url(../../images/main/pop_bg.gif) no-repeat;}
	#contents .popup .pop_banner li{padding:1px 0 0 1px;}
	#contents .popup .pop_btn{position:absolute; top:6px; left:220px;}
	#contents .popup .pop_btn li{float:left;}

	/* sitemap */
	#contents .mainsite{overflow:hidden; padding-top:20px; width:878px; position:relative;}
	#contents .mainsite .s_title{width:878px; background:url(../../images/main/s_title_bg.gif) no-repeat;}
	#contents .mainsite .s_title h3{padding:10px 0 0 10px;}
	#contents .mainsite .s_title .site{width:878px; padding-top:10px; margin:0;}
	#contents .mainsite .s_title .site .mu_b{width:138px; height:255px; float:left; border-right:1px solid #dedede; padding:15px 0 0 6px;}
	#contents .mainsite .s_title .site .mu_end{width:138px; height:255px; float:left; padding:15px 0 0 6px;}
		.mainsite .s_title .site span.mu_1 a{font-weight:bold; width:130px; display:block; color:#006699; font-size:14px; border-bottom:2px solid #006699; padding-bottom:5px; background:url(../../images/main/sicon01.gif) no-repeat 120px 4px;}
		.mainsite .s_title .site span.mu_1 a:hover{font-weight:bold; width:130px; display:block; color:#177c00; font-size:14px; border-bottom:2px solid #177c00; padding-bottom:5px; background:url(../../images/main/sicon02.gif) no-repeat 120px 4px;  text-decoration:none; }
			.site .mu_b ul{margin:0px; padding:0;}
			.site .mu_b ul li{padding-top:7px;}
			.site .mu_end ul li{padding-top:7px;}
		.mainsite .s_title .sit_btn{width:60px; position:absolute; top:32px; right:14px;}
		.mainsite .s_title .sit_btn a{display:block; color:#4673af; font-size:11px;}
		.mainsite .s_title .sit_btn a:hover{display:block; color:#4673af; font-size:11px;}



#foo_banner{width:100%; clear:both;}
#foo_banner #f_banner{margin:0 auto; width:990px; height:52px; background:url(../../images/main/foo_banner_bg.gif) no-repeat;}
#foo_banner #f_banner h3{padding:13px 0 0 13px; width:73px; float:left;}
#foo_banner #f_banner .banner_img{padding:13px 0 0 0; width:903px; float:right;}
#foo_banner #f_banner .banner_img li{padding-left:80px; width:127px; height:29px; float:left;}
#foo_banner #f_banner .ban_btn{padding:2px 0 0 14px;}
#foo_banner #f_banner .ban_btn li{float:left;}

.noscript_visual {position:absolute; top:0; left:0; width:878px; height:358px; background:url(../../images/main/main_visual_bg.gif) no-repeat; }
.noscript_visual p{padding:0 0 0 100px !important; width:778px !important; height:32px !important;}
.noscript_visual ul.no_main_btn {padding:0 important; text-align:right;}
.noscript_visual ul.no_main_btn li{float:none; display:inline;}
.noscript_visual .no_oneclick{position:absolute; top:28px; left:100px; width:765px; overflow:hidden; border:1px solid #7e7e7e; background:#fff; padding:3px 5px;}
.noscript_visual .oneclick_area{width:153px; float:left;}
.noscript_visual .no_oneclick ul {line-height:135%; margin:5px 0 5px 0;}
.noscript_visual .no_oneclick ul.onclick_01 li a{color:#0a7812; font-size:11px; font-weight:bold; letter-spacing:-1px;}
.noscript_visual .no_oneclick ul.onclick_02 li a{color:#1757b6; font-size:11px; font-weight:bold; letter-spacing:-1px;}
.noscript_visual .no_oneclick ul.onclick_03 li a{color:#ff4300; font-size:11px; font-weight:bold; letter-spacing:-1px;}
.noscript_visual .no_oneclick ul.onclick_01 li ul li a,
.noscript_visual .no_oneclick ul.onclick_02 li ul li a,
.noscript_visual .no_oneclick ul.onclick_03 li ul li a{color:#4e4e4e; font-weight:normal;}
.noscript_visual .no_oneclick ul.onclick_01 li ul li a:hover,
.noscript_visual .no_oneclick ul.onclick_02 li ul li a:hover,
.noscript_visual .no_oneclick ul.onclick_03 li ul li a:hover{color:#010101;}

.noscript_notice {width:282px; height:125px; position:absolute; top:0; left:0; background:#fff; }
.notice_area {width:282px; height:68px; position:relative;}
.noscript_notice h3{font-size:12px; font-weight:bold; color:#0054a6; height:16px; border-bottom:1px solid #cbd7e5;}
.noscript_notice ul{margin-top:5px;}
.noscript_notice p.notice_more{position:absolute; top:0; right:0;}

/* logout */
	#contents .logout{float:left; width:288px; height:125px; background:url(../../images/main/login_bg.gif) no-repeat;}
	#contents .logout h3{width:77px; height:18px; padding:11px 0 0 14px;}
	#contents .logout .logout_deta{width:228px; height:35px; padding:0 0 0 10px;}
	#contents .logout .logout_deta li{text-align:left; font-weight:bold; color:#020202;padding:0 0 0 10px;}
	#contents .logout .logout_deta span{color:#2561ba;padding:0 0 0 14px;}
	#contents .logout .login_txt{padding-right:40px; float:right; }
	#contents .logout .login_txt li{float:left; padding:0 10px 0 10px; line-height:12px;}
	#contents .logout .login_txt li a {color:#020202;  line-height:11px; font-size:11px;}
	#contents .logout .login_txt li a:hover {font-weight:bold; text-decoration:none; color:#020202; font-size:11px;}
	#contents .logout .login_txt .lien{float:left; border-right:1px solid #a3a3a3; text-align:center;}
