@charset "utf-8";
/* intro */
	#intro_wrap {width:100%; margin:0 auto; background:url(../../images/intro/intro_bg.gif) repeat-x;}
	#intro_HeaderWrap {width:990px; height:353px; margin:0 auto; background:url(../../images/intro/intro_HeaderWrap_bg.gif) no-repeat;}
	#intro_HeaderWrap h1 {text-align:center;}
	#intro_contents {width:990px;  margin:0 auto;}