	@charset "utf-8";

/* sub content */
	/* sub visual */
	#sub_visual {width:878px; height:144px; margin:0; background:url(../../images/sub/sub_visual_bg.gif) no-repeat;}
		#sub_visual p{width:549px; height:43px; padding-top:40px;}
	/* sidebar */
	#sidebar{margin:0; width:209px; float:left;}
	#sidebar .sidetitle{width:191px; height:49px;}
	#sidebar .sidetitle img{border-bottom:2px solid #84a7d6;}
	#sidebar #side_menu{width:191px;}
	#sidebar #side_menu ul{width:191px; margin:0; padding:0;}
	#sidebar #side_menu ul li{width:191px; margin:0; border-bottom:1px solid #cfd7e1;}
	#sidebar #side_menu ul li a{display:block; width:184px; padding:9px 0 10px 7px;}
	#sidebar #side_menu ul li.side_on a, #side_menu ul li a:hover{display:block; text-decoration:none; color:#fff; font-weight:bold; background:url(../../images/sub/side_menu_on.gif) no-repeat;}
	#sidebar #side_menu ul ul{display:block; background-color:#e2ebf4;}
	#sidebar #side_menu ul ul li{width:180px; padding:0; margin:0;}
	#sidebar #side_menu ul ul li a{display:block; width:180px; margin:0; padding:5px 0 5px 8px; line-height:1em; color:#626262 !important; font-weight:normal !important; background:none !important;}
	#sidebar #side_menu ul ul li.side2_on a, #sidebar #side_menu ul li ul li a:hover{font-weight:bold; color:#0848a0 !important; background:none !important;}
	/* sub_content */
	#sub_content{margin:0; width:667px; float:right; border-left:1px solid #d2d2d2;}
	#sub_content .sub_content_title{padding-left:22px; width:646px; height:49px;}
	#sub_content .sub_content_title h1{float:left; padding-right:10px;}
	#sub_content .sub_content_title dl{margin:0; padding-top:8px;}
	#sub_content .sub_content_title dl dt{display:none;}
	#sub_content .sub_content_title dl dd{font-size:11px;}
	#sub_content .sub_content_title dl dd span{font-weight:bold; color:#242424;}
	#sub_content #content{padding:0 0 22px 22px; width:646px;}
