	@charset "utf-8";

/* skipnavigation */
#skipnavigation {position:relative; z-index:1;} 
#skipnavigation ul li {position:absolute; width:100%; text-align:center;} 
#skipnavigation ul li a {display:block; height:1px; width:1px; margin-bottom:-1px; padding:0; overflow:hidden; text-align:center; color:#000; white-space:nowrap;} 
#skipnavigation ul li a:focus, #skipnavigation ul li a:active { display:block; height:auto; width:100%; padding:10px 0; margin:0; font-size:15px; font-weight:bold; color:#fff; background-color:#2365a6; text-align:center; } 

/* wrap */
#wrap{width:100%; background:url(../../images/main/main_bg.gif) repeat-x;}

/* topGNBArea */
#HeaderWrap {width:990px; height:110px; margin:0 auto; position:relative; font-size:0;}

	#HeaderWrap h1 {float:left; margin:10px 0 0 0;}
	#HeaderWrap h2 {display:none;}
	/* lnb_mn */
	#lnb_mn {width:200px; height:18px; float:right; margin-top:18px;}
	#lnb_mn li {display:inline; padding:0 0 0 7px;}
	#lnb_mn li a {color:#767676; font-size:11px;}
	#lnb_mn li a:hover {font-weight:bold; text-decoration:none; color:#ff8601; font-size:11px; letter-spacing:-1px;}
	

	/* gnb_mn */
	#gnb_mn {position:absolute; top:42px; right:20px; width:710px; height:41px;}
	#gnb_mn ul{margin:0; padding:0;}
	#gnb_mn ul li{float:left; margin: 0; padding: 0 10px 0 0px;}
	#gnb_mn ul li.last{padding-right:0;}
	
	/* mainHead-topmenu-2depth */
	#gnb_mn ul div.top2m{width:990px; height:27px; position:absolute; top:41px; right:-20px; background-color:#2365a6; display: none; background-image:none;}
	#gnb_mn ul div.top2m ul li{padding:5px 0 0 10px; float:left; display: inline;}
	#gnb_mn ul div.top2m ul li a {color:#ffffff; font-size:11px; display: block; background-image:none;}
	#gnb_mn ul div.top2m ul li a:hover {font-weight:bold; text-decoration:none; color:#ffffff; font-size:11px; background-color:#6ec635; padding:1px; letter-spacing:-1px;}

	#gnb_mn ul#top1menu #top2m1 ul { margin: 0 0 0 150px;}
	#gnb_mn ul#top1menu #top2m2 ul { margin: 0 0 0 150px;}
	#gnb_mn ul#top1menu #top2m3 ul { margin: 0 0 0 260px;}
	#gnb_mn ul#top1menu #top2m4 ul { margin: 0 0 0 320px;}
	#gnb_mn ul#top1menu #top2m5 ul { margin: 0 0 0 750px;}


	.clearfix {display: block;}
		

	.noscript_gnb {position:absolute; top:0px; right:0; width:720px; height:40px; background:#fff;}
	.noscript_gnb li {float:left; height:41px;}
	.noscript_gnb li a{font-size:15px; width:134px; display:block; text-align:center;height:41px;}
	.noscript_gnb li ul{ visibility:hidden; width:990px; height:27px; position:absolute; top:41px; right:3px; background-color:#2365a6; text-align:right;}
	.noscript_gnb li:hover ul{ visibility: visible;}
	.noscript_gnb li ul li{padding:5px 0 0 10px !important; height:20px; float:none !important; display:inline;}
	.noscript_gnb li ul li a {color:#ffffff; font-size:11px; background-image:none; display:inline;}
	.noscript_gnb li ul li a:hover {font-weight:bold; text-decoration:none; color:#ffffff; font-size:11px; background-color:#6ec635; padding:1px; letter-spacing:-1px;}

	.noscript_gnb li ul.topsub01 {padding-right:320px !important; width:670px;}
	.noscript_gnb li ul.topsub02 {padding-right:30px !important; width:960px;}
	.noscript_gnb li ul.topsub03 {padding-right:30px !important; width:960px;}
	.noscript_gnb li ul.topsub04 {padding-right:30px !important; width:960px;}
	.noscript_gnb li ul.topsub05 {padding-right:30px !important; width:960px;}

/* container */
#container {position:relative; width:990px; margin:0 auto;}
	#contents{width:878px; float:left;}


/* quick */
#quick{width:93px; position:absolute; top:0px; right:0;}
#quick p{width:93px; padding:10px 0 10px 0;}
#quick .quick_menu{width:93px; height:590px; background:url(../../images/main/quick_bg8.gif) no-repeat;}
#quick .quick_menu ul{width:75px; margin:0px 0 0 10px; text-align:center;}
#quick .quick_menu ul .qu01{width:75px; height:70px; background:url(../../images/main/qu01.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu02{width:75px; height:70px; background:url(../../images/main/qu02.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu03{width:75px; height:70px; background:url(../../images/main/qu03.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu04{width:75px; height:60px; background:url(../../images/main/qu04.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu05{width:75px; height:60px; background:url(../../images/main/qu05.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu06{width:75px; height:60px; background:url(../../images/main/qu06.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu07{width:75px; height:70px; background:url(../../images/main/qu07.gif) no-repeat 14px 0;}
#quick .quick_menu ul .qu08{width:65px; height:70px; background:url(../../images/main/qu08.gif) no-repeat 14px 0;}
#quick .quick_menu ul a{display:block; color:#767676; font-size:11px; padding-top:42px; line-height:12px;}
#quick .quick_menu ul a:hover{font-weight:bold; display:block; color:#6094c8; font-size:11px; padding-top:42px; letter-spacing:-1px;}

#quick .quick_menu .quick_top{margin-top:15px; height:30px; text-align:center;}
#quick .quick_menu .quick_top a{display:block; color:#545454; font-size:10px; font-weight:bold; background:url(../../images/main/qu_icon.gif) no-repeat 60px 4px;}
#quick .quick_menu .quick_top a:hover{display:block; color:#2563bd; font-size:10px; font-weight:bold; background:url(../../images/main/qu_icon.gif) no-repeat 60px 4px;}

/* footer */
#FooterWrap {width:100%; clear:both;}
#FooterWrap #footer {position:relative; width:990px; margin:0 auto; padding:22px 0 22px 0; overflow:hidden; border-top:1px solid #c1c9d3;}
	#FooterWrap #footer .foo_logo{float:left; width:112px; height:78px;}
	#FooterWrap #footer div{float:left; width:800px; height:18px; margin-left:10px;}
	#FooterWrap #footer div .foo_menu{margin-left:0;  padding:0; height:18px;}
	#FooterWrap #footer div .foo_menu li{float:left; padding-left:10px; margin:0; height:20px;}
	#FooterWrap #footer div .foo_menu li select{font-size:12px; padding:0; margin:0;}
	#FooterWrap #footer div .foo_menu li .in01{padding-top:0; margin:0;}
	.foo_menu li a{color:#414141; font-size:12px; display: block; font-weight:bold}
	.foo_menu li a:hover{font-weight:bold; text-decoration:none; color:#414141; font-size:12px;}

	#FooterWrap #footer div .address{float:left; height:40px; font-size:11px; margin:0; padding-left:10px;}
	.mark {position:absolute; top:10px; right:0;}

/* accessibility-foot */
#accessibility-foot {display :none; height:0px; width:0px; overflow:hidden; text-align:center; color:#000000;}