<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>사용자 메뉴얼</title>
        <link rel="icon" href="css/favicon.png" type="image/png">
        <link href="dist/assets/docs.css" rel="stylesheet" type="text/css" media="all">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CRaleway:400,200,300' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <!--Start Header-->
        <header class="navbar navbar-default dark wide">
            <div class="container">

                <div class="navbar-header">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <a class="navbar-brand scroll-btn" href="#installation">Keep Log</a>
                    </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <div class="container">
                        <ul class="nav navbar-nav menu-right">

                            <li class="dropdown"><a href="http://voidlink.kr" class="dropdown-toggle">VOIDLINK</a>
   
                            </li>

                            <li><a href="#installation" class="scroll-btn">Top</a></li>

                        </ul>
                    </div>
                </div><!--/.nav-collapse -->

            </div>
        </header>
        <!--End Header-->

        <div class="site-wrapper pb100">

            <!-- Begin Body -->
            <div class="container">
                <div class="row">

                        <!-- Side Menu -->
                        <div class="col-md-2 side-menu hidden-sm hidden-xs" id="leftCol" style="z-index: 99;">
                            <ul class="nav nav-stacked" id="sidebar">
                                <li><a href="#login" class="scroll-btn">로그인</a></li>
                                <li><a href="#dash-main" class="scroll-btn">대시보드</a></li>
                                <ul>
                                    <li><a href="#dash-main" class="scroll-btn">전체 화면</a></li>
                                    <li><a href="#dash-topicon" class="scroll-btn">상단아이콘</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">메뉴 축소</a></li>
                                        <li><a href="#installation" class="scroll-btn">설정 및 메뉴</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">메뉴</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">그룹 / 항목</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">위젯</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">공지사항</a></li>
                                        <li><a href="#installation" class="scroll-btn">업무보고</a></li>
                                        <li><a href="#installation" class="scroll-btn">근태관리1</a></li>
                                        <li><a href="#installation" class="scroll-btn">근태관리2

                                        </a></li>
                                    </ul>
                                </ul>
                                <li><a href="#grid" class="scroll-btn">공지사항</a></li>
                                <ul>
                                    <li><a href="#installation" class="scroll-btn">공지사항 리스트</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">페이징</a></li>
                                        <li><a href="#installation" class="scroll-btn">페이징 옵션</a></li>
                                        <li><a href="#installation" class="scroll-btn">검색</a></li>
                                        <li><a href="#installation" class="scroll-btn">정렬</a></li>
                                        <li><a href="#installation" class="scroll-btn">작성</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">작성 페이지</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">제목</a></li>
                                        <li><a href="#installation" class="scroll-btn">내용</a></li>
                                        <li><a href="#installation" class="scroll-btn">등록 / 취소</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">상세보기 페이지</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">내용</a></li>
                                        <li><a href="#installation" class="scroll-btn">수정 / 삭제</a></li>
                                        <li><a href="#installation" class="scroll-btn">댓글</a></li>
                                    </ul>
                                </ul>
                                <li><a href="#sliders" class="scroll-btn">업무보고</a></li>
                                <ul>
                                    <li><a href="#installation" class="scroll-btn">업무보고 리스트</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">페이징</a></li>
                                        <li><a href="#installation" class="scroll-btn">페이징 옵션</a></li>
                                        <li><a href="#installation" class="scroll-btn">검색</a></li>
                                        <li><a href="#installation" class="scroll-btn">정렬</a></li>
                                        <li><a href="#installation" class="scroll-btn">작성</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">작성 페이지</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">제목</a></li>
                                        <li><a href="#installation" class="scroll-btn">내용</a></li>
                                        <li><a href="#installation" class="scroll-btn">등록 / 취소</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">상세보기 페이지</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">내용</a></li>
                                        <li><a href="#installation" class="scroll-btn">수정 / 삭제</a></li>
                                        <li><a href="#installation" class="scroll-btn">댓글</a></li>
                                    </ul>
                                </ul>
                                <li><a href="#backgrounds" class="scroll-btn">근태관리</a></li>
                                <ul>
                                    <li><a href="#installation" class="scroll-btn">업무보고 리스트</a></li>
                                    <ul>
                                        <li><a href="#installation" class="scroll-btn">페이징</a></li>
                                        <li><a href="#installation" class="scroll-btn">페이징 옵션</a></li>
                                        <li><a href="#installation" class="scroll-btn">검색</a></li>
                                        <li><a href="#installation" class="scroll-btn">정렬</a></li>
                                        <li><a href="#installation" class="scroll-btn">등록</a></li>
                                    </ul>
                                    <li><a href="#installation" class="scroll-btn">출결 등록</a></li>
                                </ul>
                                <li><a href="#backgrounds" class="scroll-btn">내 정보</a></li>
                                <li><a href="#icons" class="scroll-btn">그룹/사용자 정보</a></li>
                                <ul>
                                    <li><a href="#installation" class="scroll-btn">회사 추가</a></li>
                                    <li><a href="#installation" class="scroll-btn">사용자 추가</a></li>
                                </ul>
                            </ul>
                        </div>


                        <div class="col-md-10 content-wrapper">

                            <!-- 로그인 -->
                            <div class="col-lg-12 doc-box" id="login">
                                <h3>로그인</h3>
                                <div class="doc-box-text">
                                    <img src="/mimg/login/main.jpg" width="900" height="500" >
                                    <p>로그인 페이지입니다.</p>
                                    <p>별도의 회원가입이 없고, 운영자에게 요청하여 계정을 생성하여야 합니다.</p>
                                    <p>자세한 문의사항은 담당자에게 문의하세요.</p>
                                </div>
                            </div>

                            <!-- 대시보드 - 전체 화면 -->
                            <div class="col-lg-12 doc-box" id="dash-main">
                                <h3>대시보드 - 전체 화면</h3>
                                <div class="doc-box-text">
                                    <img src="/mimg/dashboard/main.jpg" width="900" height="500" >
                                    <p>상단에는 로고, 메뉴 축소 버튼, 설정 및 메뉴가 있습니다.</p>
                                    <p>별도의 회원가입이 없고, 운영자에게 요청하여 계정을 생성하여야 합니다.</p>
                                    <p>좌측에는 메뉴가 있으며, 그룹 별로 분류가 되고, 항목이 나열되어 있습니다.</p>
                                    <p>중앙에는 각종 위젯이 자리하고 있습니다.</p>
                                </div>
                            </div>

                            <!-- 대시보드 - 상단아이콘 -->
                            <div class="col-lg-12 doc-box" id="dash-topicon">
                                <h4><a name="header-n2276" class="md-header-anchor "></a>-  메뉴 축소</h4>
                                <div class="doc-box-text">
                                    <p><img src="/mimg/dashboard/menu_mini.jpg" alt="메뉴 축소버튼"></p>
                                    <p>메뉴 축소 버튼이며, 모든 화면의 좌측 상단 로고 옆에 위치하고 있습니다.</p>
                                    <p>좌측의 메뉴를 축소하고자 할 때 사용합니다.</p>
                                    <p><img src="/mimg/dashboard/menu_small.jpg" alt="메뉴축소"></p>
                                    <p>메뉴를 축소하면 중앙의 컨텐츠 부분이 커지며, 메뉴가 아이콘만 표시되는 축소모드로 변경됩니다.</p>
                                    <p>메뉴는 화면 크기가 작아질 경우에도 자동으로 축소됩니다.</p>
                                    <p>반대로 축소상태에서 정상크기로 돌릴 경우에도 사용합니다.</p>
                                </div>
                            </div>

                            <!-- 대시보드 - 상단아이콘 -->
                            <div class="col-lg-12 doc-box" id="dash-topicon">
                                <h4><a name="header-n2276" class="md-header-anchor "></a>-  메뉴 축소</h4>
                                <div class="doc-box-text">
                                    <p><img src="/mimg/dashboard/menu_mini.jpg" alt="메뉴 축소버튼"></p>
                                    <p>메뉴 축소 버튼이며, 모든 화면의 좌측 상단 로고 옆에 위치하고 있습니다.</p>
                                    <p>좌측의 메뉴를 축소하고자 할 때 사용합니다.</p>
                                    <p><img src="/mimg/dashboard/menu_small.jpg" alt="메뉴축소"></p>
                                    <p>메뉴를 축소하면 중앙의 컨텐츠 부분이 커지며, 메뉴가 아이콘만 표시되는 축소모드로 변경됩니다.</p>
                                    <p>메뉴는 화면 크기가 작아질 경우에도 자동으로 축소됩니다.</p>
                                    <p>반대로 축소상태에서 정상크기로 돌릴 경우에도 사용합니다.</p>
                                </div>
                            </div>

                        </div><!-- End content-wrapper -->

                </div>
            </div>


        </div><!-- Site Wrapper -->

        <!-- Scripts -->
        <script src="dist/assets/jquery.js"></script>

    </body>
</html>
