<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>Keeplog Manual.md</title><link href='night/mermaid.dark.css' rel='stylesheet' type='text/css' />
<link href='night/codeblock.dark.css' rel='stylesheet' type='text/css' />
<link href='night/sourcemode.dark.css' rel='stylesheet' type='text/css' /><style type='text/css'>html {overflow-x: initial !important;}:root { --bg-color: #ffffff; --text-color: #333333; --code-block-bg-color: inherit; }
html { font-size: 14px; background-color: var(--bg-color); color: var(--text-color); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; }
body { margin: 0px; padding: 0px; height: auto; bottom: 0px; top: 0px; left: 0px; right: 0px; font-size: 1rem; line-height: 1.42857; overflow-x: hidden; background: inherit; }
a:active, a:hover { outline: 0px; }
.in-text-selection, ::selection { background: rgb(181, 214, 252); text-shadow: none; }
#write { margin: 0px auto; height: auto; width: inherit; word-break: normal; word-wrap: break-word; position: relative; padding-bottom: 70px; white-space: pre-wrap; overflow-x: visible; }
.for-image #write { padding-left: 8px; padding-right: 8px; }
body.typora-export { padding-left: 30px; padding-right: 30px; }
@media screen and (max-width: 500px) {
  body.typora-export { padding-left: 0px; padding-right: 0px; }
  .CodeMirror-sizer { margin-left: 0px !important; }
  .CodeMirror-gutters { display: none !important; }
}
.typora-export #write { margin: 0px auto; }
#write > p:first-child, #write > ul:first-child, #write > ol:first-child, #write > pre:first-child, #write > blockquote:first-child, #write > div:first-child, #write > table:first-child { margin-top: 30px; }
#write li > table:first-child { margin-top: -20px; }
img { max-width: 100%; vertical-align: middle; }
input, button, select, textarea { color: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; }
input[type="checkbox"], input[type="radio"] { line-height: normal; padding: 0px; }
::before, ::after, * { box-sizing: border-box; }
#write p, #write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write div, #write pre { width: inherit; }
#write p, #write h1, #write h2, #write h3, #write h4, #write h5, #write h6 { position: relative; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
p { -webkit-margin-before: 1rem; -webkit-margin-after: 1rem; -webkit-margin-start: 0px; -webkit-margin-end: 0px; }
.typora-export p { white-space: normal; }
.mathjax-block { margin-top: 0px; margin-bottom: 0px; -webkit-margin-before: 0rem; -webkit-margin-after: 0rem; }
.hidden { display: none; }
.md-blockmeta { color: rgb(204, 204, 204); font-weight: bold; font-style: italic; }
a { cursor: pointer; }
sup.md-footnote { padding: 2px 4px; background-color: rgba(238, 238, 238, 0.7); color: rgb(85, 85, 85); border-radius: 4px; }
#write input[type="checkbox"] { cursor: pointer; width: inherit; height: inherit; margin: 4px 0px 0px; }
#write > figure:first-child { margin-top: 16px; }
figure { overflow-x: auto; margin: -8px 0px 0px -8px; max-width: calc(100% + 16px); padding: 8px; }
tr { break-inside: avoid; break-after: auto; }
thead { display: table-header-group; }
table { border-collapse: collapse; border-spacing: 0px; width: 100%; overflow: auto; break-inside: auto; text-align: left; }
table.md-table td { min-width: 80px; }
.CodeMirror-gutters { border-right: 0px; background-color: inherit; }
.CodeMirror { text-align: left; }
.CodeMirror-placeholder { opacity: 0.3; }
.CodeMirror pre { padding: 0px 4px; }
.CodeMirror-lines { padding: 0px; }
div.hr:focus { cursor: none; }
pre { white-space: pre-wrap; }
.CodeMirror-gutters { margin-right: 4px; }
.md-fences { font-size: 0.9rem; display: block; break-inside: avoid; text-align: left; overflow: visible; white-space: pre; background: var(--code-block-bg-color); position: relative !important; }
.md-diagram-panel { width: 100%; margin-top: 10px; text-align: center; padding-top: 0px; padding-bottom: 8px; overflow-x: auto; }
.md-fences .CodeMirror.CodeMirror-wrap { top: -1.6em; margin-bottom: -1.6em; }
.md-fences.mock-cm { white-space: pre-wrap; }
.show-fences-line-number .md-fences { padding-left: 0px; }
.show-fences-line-number .md-fences.mock-cm { padding-left: 40px; }
.CodeMirror-line { break-inside: avoid; }
.footnotes { opacity: 0.8; font-size: 0.9rem; padding-top: 1em; padding-bottom: 1em; }
.footnotes + .footnotes { margin-top: -1em; }
.md-reset { margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; background: transparent; text-decoration: none; text-shadow: none; float: none; position: static; width: auto; height: auto; white-space: nowrap; cursor: inherit; -webkit-tap-highlight-color: transparent; line-height: normal; font-weight: normal; text-align: left; box-sizing: content-box; direction: ltr; }
li div { padding-top: 0px; }
blockquote { margin: 1rem 0px; }
li p, li .mathjax-block { margin: 0.5rem 0px; }
li { margin: 0px; position: relative; }
blockquote > :last-child { margin-bottom: 0px; }
blockquote > :first-child { margin-top: 0px; }
.footnotes-area { color: rgb(136, 136, 136); margin-top: 0.714rem; padding-bottom: 0.143rem; }
@media print {
  html, body { border: 1px solid transparent; height: 99%; break-after: avoid; break-before: avoid; }
  .typora-export * { -webkit-print-color-adjust: exact; }
  h1, h2, h3, h4, h5, h6 { break-after: avoid-page; orphans: 2; }
  p { orphans: 4; }
  html.blink-to-pdf { font-size: 13px; }
  .typora-export #write { padding-left: 1cm; padding-right: 1cm; padding-bottom: 0px; break-after: avoid; }
  .typora-export #write::after { height: 0px; }
  @page { margin: 20mm 0mm; }
}
.footnote-line { margin-top: 0.714em; font-size: 0.7em; }
a img, img a { cursor: pointer; }
pre.md-meta-block { font-size: 0.8rem; min-height: 2.86rem; white-space: pre-wrap; background: rgb(204, 204, 204); display: block; overflow-x: hidden; }
p > img:only-child { display: block; margin: auto; }
p .md-image:only-child { display: inline-block; width: 100%; text-align: center; }
#write .MathJax_Display { margin: 0.8em 0px 0px; }
.mathjax-block { white-space: pre; overflow: hidden; width: 100%; }
p + .mathjax-block { margin-top: -1.143rem; }
.mathjax-block:not(:empty)::after { display: none; }
[contenteditable="true"]:active, [contenteditable="true"]:focus { outline: none; box-shadow: none; }
.task-list { list-style-type: none; }
.task-list-item { position: relative; padding-left: 1em; }
.task-list-item input { position: absolute; top: 0px; left: 0px; }
.math { font-size: 1rem; }
.md-toc { min-height: 3.58rem; position: relative; font-size: 0.9rem; border-radius: 10px; }
.md-toc-content { position: relative; margin-left: 0px; }
.md-toc::after, .md-toc-content::after { display: none; }
.md-toc-item { display: block; color: rgb(65, 131, 196); }
.md-toc-item a { text-decoration: none; }
.md-toc-inner:hover { }
.md-toc-inner { display: inline-block; cursor: pointer; }
.md-toc-h1 .md-toc-inner { margin-left: 0px; font-weight: bold; }
.md-toc-h2 .md-toc-inner { margin-left: 2em; }
.md-toc-h3 .md-toc-inner { margin-left: 4em; }
.md-toc-h4 .md-toc-inner { margin-left: 6em; }
.md-toc-h5 .md-toc-inner { margin-left: 8em; }
.md-toc-h6 .md-toc-inner { margin-left: 10em; }
@media screen and (max-width: 48em) {
  .md-toc-h3 .md-toc-inner { margin-left: 3.5em; }
  .md-toc-h4 .md-toc-inner { margin-left: 5em; }
  .md-toc-h5 .md-toc-inner { margin-left: 6.5em; }
  .md-toc-h6 .md-toc-inner { margin-left: 8em; }
}
a.md-toc-inner { font-size: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; }
.footnote-line a:not(.reversefootnote) { color: inherit; }
.md-attr { display: none; }
.md-fn-count::after { content: "."; }
.md-tag { opacity: 0.5; }
pre, code, tt { font-family: var(--monospace); }
.md-comment { color: rgb(162, 127, 3); opacity: 0.8; font-family: var(--monospace); }
code { text-align: left; }
h1 .md-tag, h2 .md-tag, h3 .md-tag, h4 .md-tag, h5 .md-tag, h6 .md-tag { font-weight: initial; opacity: 0.35; }
a.md-print-anchor { border-width: initial !important; border-style: none !important; border-color: initial !important; display: inline-block !important; position: absolute !important; width: 1px !important; right: 0px !important; outline: none !important; background: transparent !important; text-decoration: initial !important; text-shadow: initial !important; }
.md-inline-math .MathJax_SVG .noError { display: none !important; }
.mathjax-block .MathJax_SVG_Display { text-align: center; margin: 1em 0em; position: relative; text-indent: 0px; max-width: none; max-height: none; min-height: 0px; min-width: 100%; width: auto; display: block !important; }
.MathJax_SVG_Display, .md-inline-math .MathJax_SVG_Display { width: auto; margin: inherit; display: inline-block !important; }
.MathJax_SVG .MJX-monospace { font-family: monospace; }
.MathJax_SVG .MJX-sans-serif { font-family: sans-serif; }
.MathJax_SVG { display: inline; font-style: normal; font-weight: normal; line-height: normal; zoom: 90%; text-indent: 0px; text-align: left; text-transform: none; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0px; min-height: 0px; border: 0px; padding: 0px; margin: 0px; }
.MathJax_SVG * { transition: none; }
.md-diagram-panel > svg { max-width: 100%; }
[lang="flow"] svg, [lang="mermaid"] svg { max-width: 100%; }
table tr th { border-bottom: 0px; }


.cm-s-inner .cm-variable, .cm-s-inner .cm-operator, .cm-s-inner .cm-property { color: rgb(184, 191, 198); }
.cm-s-inner .cm-keyword { color: rgb(200, 143, 208); }
.cm-s-inner .cm-tag { color: rgb(125, 244, 106); }
.cm-s-inner .cm-attribute { color: rgb(117, 117, 228); }
.CodeMirror div.CodeMirror-cursor { border-left: 1px solid rgb(184, 191, 198); z-index: 3; }
.cm-s-inner .cm-string { color: rgb(210, 107, 107); }
.cm-s-inner .cm-comment, .cm-s-inner.cm-comment { color: rgb(218, 146, 74); }
.cm-s-inner .cm-header, .cm-s-inner .cm-def, .cm-s-inner.cm-header, .cm-s-inner.cm-def { color: rgb(141, 141, 240); }
.cm-s-inner .cm-quote, .cm-s-inner.cm-quote { color: rgb(87, 172, 87); }
.cm-s-inner .cm-hr { color: rgb(216, 213, 213); }
.cm-s-inner .cm-link { color: rgb(211, 211, 239); }
.cm-s-inner .cm-negative { color: rgb(217, 80, 80); }
.cm-s-inner .cm-positive { color: rgb(80, 230, 80); }
.cm-s-inner .cm-string-2 { color: rgb(255, 85, 0); }
.cm-s-inner .cm-meta, .cm-s-inner .cm-qualifier { color: rgb(183, 179, 179); }
.cm-s-inner .cm-builtin { color: rgb(243, 179, 248); }
.cm-s-inner .cm-bracket { color: rgb(153, 153, 119); }
.cm-s-inner .cm-atom, .cm-s-inner.cm-atom { color: rgb(132, 182, 203); }
.cm-s-inner .cm-number { color: rgb(100, 171, 143); }
.cm-s-inner .cm-variable { color: rgb(184, 191, 198); }
.cm-s-inner .cm-variable-2 { color: rgb(159, 186, 213); }
.cm-s-inner .cm-variable-3 { color: rgb(28, 198, 133); }
.CodeMirror-selectedtext, .CodeMirror-selected { background: rgb(74, 137, 220); text-shadow: none; color: rgb(255, 255, 255) !important; }


:root { --bg-color: #363B40; --side-bar-bg-color: #2E3033; --text-color: #b8bfc6; --code-block-bg-color: inherit; --control-text-color: #b7b7b7; --control-text-hover-color: #eee; --window-border: 1px dashed #9b9b9b; --active-file-bg-color: rgb(34, 34, 34); --active-file-border-color: #8d8df0; --active-file-text-color: white; --item-hover-bg-color: #70717d; --item-hover-text-color: white; --primary-color: #6dc1e7; }
html { font-size: 16px; }
html, body { text-size-adjust: 100%; background: var(--bg-color); fill: currentcolor; }
#write { max-width: 914px; padding-top: 20px; }
html, body, button, input, select, textarea, div.code-tooltip-content { color: rgb(184, 191, 198); }
div.code-tooltip, .md-hover-tip .md-arrow::after { background: rgb(75, 83, 90); }
.popover.bottom > .arrow::after { border-bottom-color: rgb(75, 83, 90); }
html, body, button, input, select, textarea { font-style: normal; line-height: 1.625rem; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
hr { height: 2px; border: 0px; margin: 50px 0px !important; }
h1, h2, h3, h4, h5, h6 { font-family: "Lucida Grande", Corbal, sans-serif; font-weight: normal; clear: both; word-wrap: break-word; margin: 0px; padding: 0px; color: rgb(222, 222, 222); }
h1 { font-size: 2.5rem; line-height: 2.75rem; margin-bottom: 1.5rem; letter-spacing: -1.5px; }
h2 { font-size: 1.63rem; line-height: 1.875rem; margin-bottom: 1.5rem; letter-spacing: -1px; font-weight: bold; }
h3 { font-size: 1.17rem; line-height: 1.5rem; margin-bottom: 1.5rem; letter-spacing: -1px; font-weight: bold; }
h4 { font-size: 1.12rem; line-height: 1.375rem; margin-bottom: 1.5rem; color: white; }
h5 { font-size: 0.97rem; line-height: 1.25rem; margin-bottom: 1.5rem; font-weight: bold; }
h6 { font-size: 0.93rem; line-height: 1rem; margin-bottom: 0.75rem; color: white; }
@media (min-width: 980px) {
  h3.md-focus::before, h4.md-focus::before, h5.md-focus::before, h6.md-focus::before { color: rgb(221, 221, 221); border: 1px solid rgb(221, 221, 221); border-radius: 3px; position: absolute; left: -1.64286rem; top: 0.357143rem; float: left; font-size: 9px; padding-left: 2px; padding-right: 2px; vertical-align: bottom; font-weight: normal; line-height: normal; }
  h3.md-focus::before { content: "h3"; }
  h4.md-focus::before { content: "h4"; }
  h5.md-focus::before { content: "h5"; top: 0px; }
  h6.md-focus::before { content: "h6"; top: 0px; }
}
a { text-decoration: none; outline: 0px; }
a:hover { outline: 0px; }
a:focus { outline: dotted thin; }
sup.md-footnote { background-color: rgb(85, 85, 85); color: rgb(221, 221, 221); }
p { word-wrap: break-word; }
p, ul, dd, ol, hr, address, pre, table, iframe, .wp-caption, .wp-audio-shortcode, .wp-video-shortcode { margin-top: 0px; margin-bottom: 1.5rem; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
.in-text-selection, ::selection { background: rgb(74, 137, 220); color: rgb(255, 255, 255); text-shadow: none; }
ul, ol { padding: 0px 0px 0px 1.875rem; }
ul { list-style: square; }
ol { list-style: decimal; }
ul ul, ol ol, ul ol, ol ul { margin: 0px; }
b, th, dt, strong { font-weight: bold; }
i, em, dfn, cite { font-style: italic; }
blockquote { margin: 35px 0px 1.875rem 1.875rem; border-left: 2px solid rgb(71, 77, 84); padding-left: 30px; }
pre, code, kbd, tt, var { background: rgba(0, 0, 0, 0.05); font-size: 0.875rem; font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
pre.md-fences { padding: 10px 30px; margin-bottom: 20px; border: 1px solid; }
.md-fences .code-tooltip { bottom: -3.2em; }
code, kbd, tt, var { padding: 2px 5px; }
table { max-width: 100%; width: 100%; border-collapse: collapse; border-spacing: 0px; }
th, td { padding: 5px 10px; vertical-align: top; }
a { transition: all 0.2s ease-in-out; }
hr { background: rgb(71, 77, 84); }
#write > :first-child { margin-top: 40px; }
h1 { margin-top: 2em; }
a { color: rgb(224, 224, 224); text-decoration: underline; }
a:hover { color: rgb(255, 255, 255); }
.md-inline-math script { color: rgb(129, 177, 219); }
b, th, dt, strong { color: rgb(222, 222, 222); }
mark { background: rgb(211, 212, 14); }
blockquote { color: rgb(157, 162, 166); }
table a { color: rgb(222, 222, 222); }
th, td { border: 1px solid rgb(71, 77, 84); }
.task-list { padding-left: 0px; }
.task-list-item { padding-left: 1.25rem; }
.task-list-item input { top: 0.1875rem; }
.task-list-item input::before { content: ""; display: inline-block; width: 0.875rem; height: 0.875rem; vertical-align: middle; text-align: center; border: 1px solid rgb(184, 191, 198); background-color: rgb(54, 59, 64); margin-top: -0.4375rem; }
.task-list-item input:checked::before, .task-list-item input[checked]::before { content: "√"; font-size: 0.625rem; line-height: 0.625rem; color: rgb(222, 222, 222); }
.CodeMirror-gutters { background: transparent; border-right: 1px solid transparent; }
.auto-suggest-container { border: 0px; background-color: rgb(82, 92, 101); }
#typora-quick-open { background-color: rgb(82, 92, 101); }
#typora-quick-open input { background-color: rgb(82, 92, 101); border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-bottom-style: solid; border-bottom-color: grey; }
.typora-quick-open-item { background-color: inherit; color: inherit; }
.typora-quick-open-item.active { background-color: rgb(77, 139, 219); color: white; }
.typora-search-spinner > div { background-color: rgb(255, 255, 255); }
#write pre.md-meta-block { border-bottom: 1px dashed rgb(204, 204, 204); background: transparent; padding-bottom: 0.6em; line-height: 1.6em; }
.btn, .btn .btn-default { background: transparent; color: rgb(184, 191, 198); }
.md-table-edit { border-top: 1px solid gray; background-color: rgb(54, 59, 64); }
.popover-title { background: transparent; }
.md-image > .md-meta { color: rgb(187, 187, 187); background: transparent; }
.md-expand.md-image > .md-meta { color: rgb(221, 221, 221); }
#write > h3::before, #write > h4::before, #write > h5::before, #write > h6::before { border: none; border-radius: 0px; color: rgb(136, 136, 136); text-decoration: underline; left: -1.4rem; top: 0.2rem; }
#write > h3.md-focus::before { top: 2px; }
#write > h4.md-focus::before { top: 2px; }
.md-toc-item { color: rgb(168, 194, 220); }
#write div.md-toc-tooltip { background-color: rgb(54, 59, 64); }
.dropdown-menu .btn:hover, .dropdown-menu .btn:focus, .md-toc .btn:hover, .md-toc .btn:focus { color: white; background: black; }
#toc-dropmenu { background: rgba(50, 54, 59, 0.93); border: 1px solid rgba(253, 253, 253, 0.15); }
#toc-dropmenu .divider { background-color: rgb(155, 155, 155); }
.outline-expander::before { top: 2px; }
#typora-sidebar { box-shadow: none; border-right: none; }
.sidebar-tabs { border-bottom: 0px; }
#typora-sidebar:hover .outline-title-wrapper { border-left: 1px dashed; }
.outline-title-wrapper .btn { color: inherit; }
.outline-item:hover { border-color: rgb(54, 59, 64); background-color: rgb(54, 59, 64); color: white; }
h1.md-focus .md-attr, h2.md-focus .md-attr, h3.md-focus .md-attr, h4.md-focus .md-attr, h5.md-focus .md-attr, h6.md-focus .md-attr, .md-header-span .md-attr { color: rgb(140, 142, 146); display: inline; }
.md-comment { color: rgb(90, 149, 227); opacity: 1; }
.md-inline-math g, .md-inline-math svg { stroke: rgb(184, 191, 198) !important; fill: rgb(184, 191, 198) !important; }
[md-inline="inline_math"] { color: rgb(156, 178, 233); }
#math-inline-preview .md-arrow::after { background: black; }
.modal-content { background: var(--bg-color); border: 0px; }
.modal-title { font-size: 1.5em; }
.modal-content input { background-color: rgba(26, 21, 21, 0.51); color: white; }
.modal-content .input-group-addon { background-color: rgba(0, 0, 0, 0.17); color: white; }
.modal-backdrop { background-color: rgba(174, 174, 174, 0.7); }
.modal-content .btn-primary { border-color: var(--primary-color); }
.md-table-resize-popover { background-color: rgb(75, 83, 90); }
.form-inline .input-group .input-group-addon { color: white; }
#md-searchpanel { border-bottom: 1px dashed grey; }
.context-menu { background-color: rgb(66, 70, 74); }
.context-menu.dropdown-menu .divider { background-color: rgb(119, 119, 119); }
footer { color: inherit; }
@media (max-width: 1000px) {
  footer { border-top: none; }
  footer:hover { color: inherit; }
}
#file-info-file-path .file-info-field-value:hover { background-color: rgb(85, 85, 85); color: rgb(222, 222, 222); }
.megamenu-content, .megamenu-opened header { background: var(--bg-color); }
.megamenu-menu-panel h2, .megamenu-menu-panel h1, .long-btn { color: inherit; }
.megamenu-menu-panel input[type="text"] { background: inherit; border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-color: initial; border-image: initial; border-bottom-style: solid; }
#recent-file-panel-action-btn { background: inherit; border: 1px solid grey; }
.megamenu-menu-panel .btn:hover, .megamenu-menu-panel .btn:focus, .megamenu-menu-panel .btn.focus { color: white; }
.megamenu-menu-panel .dropdown-menu > li > a { color: inherit; background-color: rgb(47, 53, 58); text-decoration: none; }
.megamenu-menu-panel table td:nth-child(1) { color: inherit; font-weight: bold; }
.megamenu-menu-panel tbody tr:hover td:nth-child(1) { color: white; }
.modal-footer .btn-default, .modal-footer .btn-primary, .modal-footer .btn-default:not(:hover) { border: 1px solid transparent; }
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: white; border: 1px solid rgb(221, 221, 221); background-color: inherit; }
.modal-header { border-bottom: 0px; }
.modal-footer { border-top: 0px; }
#recent-file-panel tbody tr:nth-child(2n-1) { background-color: transparent !important; }
.megamenu-menu-panel tbody tr:hover td:nth-child(2) { color: inherit; }
.megamenu-menu-panel .btn { border: 1px solid rgb(238, 238, 238); background: transparent; }
.mouse-hover .toolbar-icon.btn:hover, #w-full.mouse-hover, #w-pin.mouse-hover { background-color: inherit; }
.typora-node::-webkit-scrollbar { width: 5px; }
.typora-node::-webkit-scrollbar-thumb:vertical { background: rgba(250, 250, 250, 0.3); }
.typora-node::-webkit-scrollbar-thumb:vertical:active { background: rgba(250, 250, 250, 0.5); }
#w-unpin { background-color: rgb(65, 130, 196); }
#top-titlebar, #top-titlebar * { color: var(--item-hover-text-color); }
.typora-sourceview-on #toggle-sourceview-btn, #footer-word-count:hover, .show-word-count #footer-word-count { background: rgb(51, 51, 51); }
#toggle-sourceview-btn:hover { color: rgb(238, 238, 238); background: rgb(51, 51, 51); }
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * { color: rgb(104, 104, 104) !important; }
.on-focus-mode .md-end-block:not(.md-focus) img, .on-focus-mode .task-list-item:not(.md-focus-container) > input { }
.on-focus-mode li[cid]:not(.md-focus-container) { color: rgb(104, 104, 104); }
.on-focus-mode .md-fences.md-focus .CodeMirror-code > :not(.CodeMirror-activeline) *, .on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * { color: rgb(104, 104, 104) !important; }
.on-focus-mode .md-focus, .on-focus-mode .md-focus-container { color: rgb(255, 255, 255); }
.on-focus-mode #typora-source .CodeMirror-code > :not(.CodeMirror-activeline) * { color: rgb(104, 104, 104) !important; }
#write .md-focus .md-diagram-panel { border: 1px solid rgb(221, 221, 221); margin-left: -30px; }
.md-diagram-panel-error { color: rgb(241, 144, 142); }
.active-tab-files #info-panel-tab-file, .active-tab-files #info-panel-tab-file:hover, .active-tab-outline #info-panel-tab-outline, .active-tab-outline #info-panel-tab-outline:hover { color: rgb(238, 238, 238); }
.sidebar-footer-item:hover, .footer-item:hover { background: inherit; color: white; }
.ty-side-sort-btn.active, .ty-side-sort-btn:hover, .selected-folder-menu-item a::after { color: white; }
#sidebar-files-menu { border: 1px solid; box-shadow: rgba(0, 0, 0, 0.79) 4px 4px 20px; background-color: var(--bg-color); }
.file-list-item { border-bottom: none; }
.file-list-item-summary { opacity: 1; }
.file-list-item.active:first-child { border-top: none; }
.sidebar-footer { border-top: 1px solid rgb(85, 85, 85); }
.file-node-background { height: 32px; }
.file-library-node.active > .file-node-content, .file-list-item.active { color: var(--active-file-text-color); }
.file-library-node.active > .file-node-background { background-color: var(--active-file-bg-color); }
.file-list-item.active { background-color: var(--active-file-bg-color); }
#ty-tooltip { background-color: black; color: rgb(238, 238, 238); }
#write { cursor: -webkit-image-set(url("night/cursor.png") 1x, url("night/cursor@2x.png") 2x) 8 8, auto; }






</style>
</head>
<body class='typora-export' >
<div  id='write'  class = 'is-node'><h1><a name='header-n592' class='md-header-anchor '></a>Keeplog Manual</h1><div class='md-toc' mdtype='toc'><p class="md-toc-content"><span class="md-toc-item md-toc-h1" data-ref="n592"><a class="md-toc-inner" href="#header-n592">Keeplog Manual</a></span><span class="md-toc-item md-toc-h2" data-ref="n832"><a class="md-toc-inner" href="#header-n832">1.  로그인</a></span><span class="md-toc-item md-toc-h2" data-ref="n2127"><a class="md-toc-inner" href="#header-n2127">2. 대시보드</a></span><span class="md-toc-item md-toc-h3" data-ref="n2224"><a class="md-toc-inner" href="#header-n2224">2.1  전체 화면</a></span><span class="md-toc-item md-toc-h3" data-ref="n2228"><a class="md-toc-inner" href="#header-n2228">2.2  상단아이콘</a></span><span class="md-toc-item md-toc-h4" data-ref="n2276"><a class="md-toc-inner" href="#header-n2276">-  메뉴 축소</a></span><span class="md-toc-item md-toc-h4" data-ref="n2285"><a class="md-toc-inner" href="#header-n2285">-  설정 및 메뉴</a></span><span class="md-toc-item md-toc-h3" data-ref="n2235"><a class="md-toc-inner" href="#header-n2235">2.3  메뉴</a></span><span class="md-toc-item md-toc-h4" data-ref="n2307"><a class="md-toc-inner" href="#header-n2307">-  그룹 / 항목</a></span><span class="md-toc-item md-toc-h3" data-ref="n2243"><a class="md-toc-inner" href="#header-n2243">2.4  위젯</a></span><span class="md-toc-item md-toc-h4" data-ref="n2335"><a class="md-toc-inner" href="#header-n2335">-  공지사항</a></span><span class="md-toc-item md-toc-h4" data-ref="n2338"><a class="md-toc-inner" href="#header-n2338">-  업무보고</a></span><span class="md-toc-item md-toc-h4" data-ref="n2341"><a class="md-toc-inner" href="#header-n2341">-  근태관리1</a></span><span class="md-toc-item md-toc-h4" data-ref="n2344"><a class="md-toc-inner" href="#header-n2344">-  근태관리2</a></span><span class="md-toc-item md-toc-h2" data-ref="n2139"><a class="md-toc-inner" href="#header-n2139">3.  공지사항</a></span><span class="md-toc-item md-toc-h3" data-ref="n2263"><a class="md-toc-inner" href="#header-n2263">3.1  공지사항 리스트</a></span><span class="md-toc-item md-toc-h4" data-ref="n2575"><a class="md-toc-inner" href="#header-n2575">-  페이징</a></span><span class="md-toc-item md-toc-h4" data-ref="n2576"><a class="md-toc-inner" href="#header-n2576">-  페이징 옵션</a></span><span class="md-toc-item md-toc-h4" data-ref="n2577"><a class="md-toc-inner" href="#header-n2577">-  검색</a></span><span class="md-toc-item md-toc-h4" data-ref="n2578"><a class="md-toc-inner" href="#header-n2578">-  정렬</a></span><span class="md-toc-item md-toc-h4" data-ref="n3707"><a class="md-toc-inner" href="#header-n3707">- 작성</a></span><span class="md-toc-item md-toc-h3" data-ref="n2579"><a class="md-toc-inner" href="#header-n2579">3.2  작성 페이지</a></span><span class="md-toc-item md-toc-h4" data-ref="n2580"><a class="md-toc-inner" href="#header-n2580">-  제목 </a></span><span class="md-toc-item md-toc-h4" data-ref="n2581"><a class="md-toc-inner" href="#header-n2581">-  내용</a></span><span class="md-toc-item md-toc-h4" data-ref="n2582"><a class="md-toc-inner" href="#header-n2582">-  등록 / 취소</a></span><span class="md-toc-item md-toc-h3" data-ref="n2583"><a class="md-toc-inner" href="#header-n2583">3.3  상세보기 페이지</a></span><span class="md-toc-item md-toc-h4" data-ref="n2584"><a class="md-toc-inner" href="#header-n2584">-  내용</a></span><span class="md-toc-item md-toc-h4" data-ref="n2585"><a class="md-toc-inner" href="#header-n2585">-  수정 / 삭제</a></span><span class="md-toc-item md-toc-h4" data-ref="n2587"><a class="md-toc-inner" href="#header-n2587">-  댓글</a></span><span class="md-toc-item md-toc-h2" data-ref="n2618"><a class="md-toc-inner" href="#header-n2618">4.  업무보고</a></span><span class="md-toc-item md-toc-h3" data-ref="n4069"><a class="md-toc-inner" href="#header-n4069">4.1  업무보고 리스트</a></span><span class="md-toc-item md-toc-h4" data-ref="n4084"><a class="md-toc-inner" href="#header-n4084">-  페이징</a></span><span class="md-toc-item md-toc-h4" data-ref="n4097"><a class="md-toc-inner" href="#header-n4097">-  페이징 옵션</a></span><span class="md-toc-item md-toc-h4" data-ref="n4107"><a class="md-toc-inner" href="#header-n4107">-  검색</a></span><span class="md-toc-item md-toc-h4" data-ref="n4117"><a class="md-toc-inner" href="#header-n4117">-  정렬</a></span><span class="md-toc-item md-toc-h4" data-ref="n4124"><a class="md-toc-inner" href="#header-n4124">- 작성</a></span><span class="md-toc-item md-toc-h3" data-ref="n4142"><a class="md-toc-inner" href="#header-n4142">4.2  작성 페이지</a></span><span class="md-toc-item md-toc-h4" data-ref="n4145"><a class="md-toc-inner" href="#header-n4145">-  제목 </a></span><span class="md-toc-item md-toc-h4" data-ref="n4155"><a class="md-toc-inner" href="#header-n4155">-  내용</a></span><span class="md-toc-item md-toc-h4" data-ref="n4165"><a class="md-toc-inner" href="#header-n4165">-  등록 / 취소</a></span><span class="md-toc-item md-toc-h3" data-ref="n4177"><a class="md-toc-inner" href="#header-n4177">4.3  상세보기 페이지</a></span><span class="md-toc-item md-toc-h4" data-ref="n4186"><a class="md-toc-inner" href="#header-n4186">-  내용</a></span><span class="md-toc-item md-toc-h4" data-ref="n4199"><a class="md-toc-inner" href="#header-n4199">-  수정 / 삭제</a></span><span class="md-toc-item md-toc-h4" data-ref="n4212"><a class="md-toc-inner" href="#header-n4212">-  댓글</a></span><span class="md-toc-item md-toc-h2" data-ref="n2196"><a class="md-toc-inner" href="#header-n2196">5.  근태관리</a></span><span class="md-toc-item md-toc-h3" data-ref="n2663"><a class="md-toc-inner" href="#header-n2663">5.1  출퇴근 리스트</a></span><span class="md-toc-item md-toc-h4" data-ref="n4307"><a class="md-toc-inner" href="#header-n4307">-  페이징</a></span><span class="md-toc-item md-toc-h4" data-ref="n4320"><a class="md-toc-inner" href="#header-n4320">-  페이징 옵션</a></span><span class="md-toc-item md-toc-h4" data-ref="n4330"><a class="md-toc-inner" href="#header-n4330">-  검색</a></span><span class="md-toc-item md-toc-h4" data-ref="n4340"><a class="md-toc-inner" href="#header-n4340">-  정렬</a></span><span class="md-toc-item md-toc-h4" data-ref="n4347"><a class="md-toc-inner" href="#header-n4347">- 등록</a></span><span class="md-toc-item md-toc-h3" data-ref="n2666"><a class="md-toc-inner" href="#header-n2666">5.2  출결 등록</a></span><span class="md-toc-item md-toc-h2" data-ref="n2160"><a class="md-toc-inner" href="#header-n2160">6.  내 정보</a></span><span class="md-toc-item md-toc-h2" data-ref="n2173"><a class="md-toc-inner" href="#header-n2173">7.  그룹/사용자 정보</a></span><span class="md-toc-item md-toc-h3" data-ref="n2716"><a class="md-toc-inner" href="#header-n2716">7.1  회사 추가</a></span><span class="md-toc-item md-toc-h3" data-ref="n2719"><a class="md-toc-inner" href="#header-n2719">7.2  사용자 추가</a></span></p></div><hr /><h2><a name='header-n832' class='md-header-anchor '></a>1.  로그인</h2><p><img src='/mimg/login/main.jpg' alt='로그인 메인화면' /></p><p>&nbsp;</p><p>로그인 페이지입니다.</p><p>별도의 회원가입이 없고, 운영자에게 요청하여 계정을 생성하여야 합니다.</p><p>자세한 문의사항은 담당자에게 문의하세요.</p><hr /><h2><a name='header-n2127' class='md-header-anchor '></a>2. 대시보드</h2><h3><a name='header-n2224' class='md-header-anchor '></a>2.1  전체 화면</h3><p><img src='/mimg/dashboard/main.jpg' alt='로고 이미지' /></p><p>대시보드 기본 화면입니다.</p><p>상단에는 로고, <a href='#header-n2276'>메뉴 축소 버튼</a>, <a href='#header-n2285'>설정 및 메뉴</a>가 있습니다.</p><p>좌측에는 메뉴가 있으며, <a href='#-%20%20%EA%B7%B8%EB%A3%B9'>그룹</a> 별로 분류가 되고, <a href='#-%20%20%ED%95%AD%EB%AA%A9'>항목</a>이 나열되어 있습니다.</p><p>중앙에는 각종 <a href='#header-n2243'>위젯</a>이 자리하고 있습니다.</p><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n2228' class='md-header-anchor '></a>2.2  상단아이콘</h3><h4><a name='header-n2276' class='md-header-anchor '></a>-  메뉴 축소</h4><p><img src='/mimg/dashboard/menu_mini.jpg' alt='메뉴 축소버튼' /></p><p>메뉴 축소 버튼이며, 모든 화면의 좌측 상단 로고 옆에 위치하고 있습니다.</p><p>좌측의 메뉴를 축소하고자 할 때 사용합니다.</p><p><img src='/mimg/dashboard/menu_small.jpg' alt='메뉴축소' /></p><p>메뉴를 축소하면 중앙의 컨텐츠 부분이 커지며, 메뉴가 아이콘만 표시되는 축소모드로 변경됩니다.</p><p>메뉴는 화면 크기가 작아질 경우에도 자동으로 축소됩니다.</p><p>반대로 축소상태에서 정상크기로 돌릴 경우에도 사용합니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n2285' class='md-header-anchor '></a>-  설정 및 메뉴</h4><p><img src='/mimg/dashboard/setup.png' alt='설정' /></p><p>여러 설정과 추가메뉴를 담고있는 버튼으로 모든페이지의 우측 상단에 위치하고 있습니다.</p><p>각각의 내용은 이렇습니다.</p><p><img src='/mimg/dashboard/setup_menu.jpg' alt='설정메뉴' /></p><ul><li><p>내 정보</p><ul><li>사용자의 정보 및 비밀번호를 변경하는 페이지로 이동합니다.</li><li>좌측의 메뉴의 &#39;내 정보&#39;와 동일한 기능입니다.</li></ul><p>&nbsp;</p></li><li><p>도움말</p><ul><li>웹사이트 전체의 도움말을 볼 수 있습니다.</li></ul><p>&nbsp;</p></li><li><p>Log Out</p><ul><li>로그인 한 사용자를 LogOut합니다.</li></ul><p>&nbsp;</p></li><li><p>그룹/사용자 관리</p><ul><li>이 웹사이트의 사용자들과 그룹을 관리합니다.</li><li><strong>관리자 전용 메뉴이며, 관리자가 아닐 경우 해당 메뉴는 보이지 않습니다.</strong></li></ul></li></ul><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n2235' class='md-header-anchor '></a>2.3  메뉴</h3><h4><a name='header-n2307' class='md-header-anchor '></a>-  그룹 / 항목</h4><p><img src='/mimg/dashboard/menu_item.jpg' alt='그룹항목' /></p><p>웹사이트 전체에서 볼 수 있는 메뉴입니다.</p><p>기본 적으로 그룹으로 나뉘고, 하위에 항목이 있습니다.</p><p>해당 항목은 추후 사이트의 내용 추가 및 개편에 따라 변경 될 수 있습니다.</p><ul><li><p>그룹</p><ul><li>MAIN : 모든 사용자가 공통적으로 볼 수있는 그룹입니다.</li><li>내 정보 : 개인 별 데이터만 볼 수 있는 그룹입니다.</li></ul><p>&nbsp;</p></li><li><p>항목 (각각의 자세한 내용은 해당 페이지로 이동하여 확인해 주세요.)</p><ul><li>업무보고 : 매 주 업무보고를 하기 위한 항목입니다. </li><li>근태관리 : 매일 출퇴근 기록을 하기위한 항목입니다.</li><li>내 정보 : 접속자의 정보를 수정하기 위한 페이지 입니다. </li></ul></li></ul><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n2243' class='md-header-anchor '></a>2.4  위젯</h3><p>로그인 시 첫 화면에 출력되는 컨텐츠입니다.</p><p>각각의 위젯은 사이트 전체적인 내용을 요약하여 담고 있습니다.</p><p>각 항목별 내용은 하단을 참조 바랍니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n2335' class='md-header-anchor '></a>-  공지사항</h4><p><img src='/mimg/dashboard/notice.jpg' alt='공지사항' /></p><p>공지사항 위젯입니다.</p><p>공지사항에 작성되어 있는 글의 리스트 중, 최근 5개를 보여줍니다.</p><p>각 항목을 클릭하면, 해당 글의 상세보기로 이동합니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n2338' class='md-header-anchor '></a>-  업무보고</h4><p><img src='/mimg/dashboard/report.jpg' alt='업무보고' /></p><p>업무보고 위젯입니다.</p><p>업무보고에 작성되어 있는 글의 리스트 중, 최근 5개를 보여줍니다.</p><p>관리자는 전체 업무보고를 확인 할 수 있으며, 일반 사용자는 자신의 글만 출력됩니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n2341' class='md-header-anchor '></a>-  근태관리1</h4><p><img src='/mimg/dashboard/atti1.jpg' alt='근태관리1' /></p><p>근태관리 위젯입니다.</p><p>전체 인원수와 출근, 퇴근, 지각 인원을 표시합니다.</p><p>기준은 당일 0시부터 출근 시간까지입니다. </p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n2344' class='md-header-anchor '></a>-  근태관리2</h4><p><img src='/mimg/dashboard/atti2.jpg' alt='근태관리2' /></p><p>근태관리 위젯입니다.</p><p>위의 위젯을 조금 더 한눈에 보기 쉽게 숫자로 표시됩니다.</p><p>&nbsp;</p><p>&nbsp;</p><hr /><h2><a name='header-n2139' class='md-header-anchor '></a>3.  공지사항</h2><h3><a name='header-n2263' class='md-header-anchor '></a>3.1  공지사항 리스트</h3><p><img src='/mimg/notice/list.jpg' alt='공지사항 리스트' /></p><p>공지사항 화면입니다.</p><p>등록 된 공지사항이 전체 출력되며, 게시글 순서, 제목, 작성자, 작성시간 항목으로 표시됩니다.</p><p>각 글의 제목을 클릭 하면 상세보기로 넘어갑니다.</p><p>추가로 페이징, 검색, 정렬 등의 기능을 제공합니다.</p><p>각각의 항목은 클릭 혹은 하단의 내용을 참조 바랍니다.</p><p>&nbsp;</p><h4><a name='header-n2575' class='md-header-anchor '></a>-  페이징</h4><ul><li><p>글이 정해진 수를 넘어가면 페이징을 시작합니다.</p></li><li><p>좌측 하단에는 게시글 건수가, 우측 하단에는 페이지 넘버가 표시됩니다.</p></li><li><p>기본 갯수는 10개입니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n2576' class='md-header-anchor '></a>-  페이징 옵션</h4><ul><li><p>기본 10개를 기준으로 하는 페이징의 수를 변경합니다.</p></li><li><p>좌측 상단에 위치하고 있으며, 10, 25, 50, 100개 중 선택이 가능합니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n2577' class='md-header-anchor '></a>-  검색</h4><ul><li>게시글의 내용 중 포함되는 단어를 검색합니다.</li><li>검색의 대상은 게시글 넘버, 제목, 작성자 중 검색단어가 포함되는 전체입니다.</li></ul><p>&nbsp;</p><h4><a name='header-n2578' class='md-header-anchor '></a>-  정렬</h4><ul><li>게시글의 각 항목의 헤더를 클릭하면, 각 항목별로 오름차순/내림차순 정렬을 지원합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n3707' class='md-header-anchor '></a>- 작성</h4><p><img src='/mimg/notice/writebutton.jpg' alt='작성버튼' /></p><ul><li><p>공지사항 우측 하단의 작성버튼입니다.</p></li><li><p>해당 버튼을 클릭하면 공지사항 작성 페이지로 이동합니다.</p></li><li><p>이 기능은 관리자에게만 표시됩니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n3748' class='md-header-anchor '></a></h4></li></ul><h3><a name='header-n2579' class='md-header-anchor '></a>3.2  작성 페이지</h3><p><img src='/mimg/notice/writepage.jpg' alt='작성 페이지' /></p><h4><a name='header-n2580' class='md-header-anchor '></a>-  제목 </h4><ul><li>공지사항의 제목을 입력합니다.</li><li>최소 2글자 이상을 입력해야 합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n2581' class='md-header-anchor '></a>-  내용</h4><ul><li>공지사항의 내용을 입력합니다.</li><li>기본적인 HTML의 문법을 지원합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n2582' class='md-header-anchor '></a>-  등록 / 취소</h4><ul><li>&#39;등록&#39;을 클릭 시, 작성한 글을 등록합니다.</li><li>&#39;취소&#39;를 클릭 시, 작성한 글을 지우고 목록으로 돌아갑니다.</li></ul><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n2583' class='md-header-anchor '></a>3.3  상세보기 페이지</h3><p><img src='//mimg/notice/write_detail.jpg' alt='상세보기 페이지' /></p><p>공지사항 상세보기 페이지입니다.</p><p>공지사항 리스트에서 제목을 클릭 시, 게시글의 내용을 보기위해 전환됩니다.</p><p>&nbsp;</p><h4><a name='header-n2584' class='md-header-anchor '></a>-  내용</h4><ul><li>좌측 상단에는 공지사항의 제목이 표시됩니다.</li><li>우측 상단에는 작성시간과 작성자 이름이 표시됩니다.</li><li>가운데는 작성자가 입력 한 내용이 표시 됩니다.</li></ul><p>&nbsp;</p><h4><a name='header-n2585' class='md-header-anchor '></a>-  수정 / 삭제</h4><ul><li>수정버튼 클릭 시, 공지사항 수정 페이지로 전환됩니다. (공지사항 수정은 등록과 동일)</li><li>삭제버튼 클릭 시, 삭제여부를 묻고 삭제합니다. </li><li><strong>삭제 된 게시글은 되돌릴 수 없습니다.</strong></li></ul><p>&nbsp;</p><h4><a name='header-n2587' class='md-header-anchor '></a>-  댓글</h4><ul><li>해당 공지사항에 댓글을 작성 할 수 있습니다.</li></ul><hr /><h2><a name='header-n2618' class='md-header-anchor '></a>4.  업무보고</h2><h3><a name='header-n4069' class='md-header-anchor '></a>4.1  업무보고 리스트</h3><p><img src='/mimg/report/list.jpg' alt='공지사항 리스트' /></p><p>업무보고 화면입니다.</p><p>등록 된 본인의 주간업무보고가 출력되며, 게시글 순서, 제목, 작성자, 작성시간 항목으로 본인 내용만 표시됩니다.</p><p>각 글의 제목을 클릭 하면 상세보기로 넘어갑니다.</p><p>추가로 페이징, 검색, 정렬 등의 기능을 제공합니다.</p><p>각각의 항목은 클릭 혹은 하단의 내용을 참조 바랍니다.</p><p>&nbsp;</p><h4><a name='header-n4084' class='md-header-anchor '></a>-  페이징</h4><ul><li><p>글이 정해진 수를 넘어가면 페이징을 시작합니다.</p></li><li><p>좌측 하단에는 게시글 건수가, 우측 하단에는 페이지 넘버가 표시됩니다.</p></li><li><p>기본 갯수는 10개입니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n4097' class='md-header-anchor '></a>-  페이징 옵션</h4><ul><li><p>기본 10개를 기준으로 하는 페이징의 수를 변경합니다.</p></li><li><p>좌측 상단에 위치하고 있으며, 10, 25, 50, 100개 중 선택이 가능합니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n4107' class='md-header-anchor '></a>-  검색</h4><ul><li>게시글의 내용 중 포함되는 단어를 검색합니다.</li><li>검색의 대상은 게시글 넘버, 제목, 작성자 중 검색단어가 포함되는 전체입니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4117' class='md-header-anchor '></a>-  정렬</h4><ul><li>게시글의 각 항목의 헤더를 클릭하면, 각 항목별로 오름차순/내림차순 정렬을 지원합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4124' class='md-header-anchor '></a>- 작성</h4><p><img src='/mimg/report/writebutton.jpg' alt='작성버튼' /></p><ul><li><p>업무보고 우측 하단의 작성버튼입니다.</p></li><li><p>해당 버튼을 클릭하면 공지사항 작성 페이지로 이동합니다.</p><p>&nbsp;</p><p>&nbsp;</p><h4><a name='header-n4141' class='md-header-anchor '></a></h4></li></ul><h3><a name='header-n4142' class='md-header-anchor '></a>4.2  작성 페이지</h3><p><img src='/mimg/report/writepage.jpg' alt='작성 페이지' /></p><h4><a name='header-n4145' class='md-header-anchor '></a>-  제목 </h4><ul><li>업무보고의 제목을 입력합니다.</li><li>최소 2글자 이상을 입력해야 합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4155' class='md-header-anchor '></a>-  내용</h4><ul><li>업무보고의 내용을 입력합니다.</li><li>이번주와 다음주 업무내용을 요일별로 작성합니다.</li><li>첨부에는 추가로 보고서등의 파일을 첨부 할 수 있습니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4165' class='md-header-anchor '></a>-  등록 / 취소</h4><ul><li>&#39;등록&#39;을 클릭 시, 작성한 글을 등록합니다.</li><li>&#39;취소&#39;를 클릭 시, 작성한 글을 지우고 목록으로 돌아갑니다.</li></ul><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n4177' class='md-header-anchor '></a>4.3  상세보기 페이지</h3><p><img src='//mimg/report/write_detail.jpg' alt='상세보기 페이지' /></p><p>업무보고 상세보기 페이지입니다.</p><p>업무보고 리스트에서 제목을 클릭 시, 게시글의 내용을 보기위해 전환됩니다.</p><p>&nbsp;</p><h4><a name='header-n4186' class='md-header-anchor '></a>-  내용</h4><ul><li>좌측 상단에는 공지사항의 제목이 표시됩니다.</li><li>우측 상단에는 작성시간과 작성자 이름이 표시됩니다.</li><li>가운데는 작성자가 입력 한 내용이 표시 됩니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4199' class='md-header-anchor '></a>-  수정 / 삭제</h4><ul><li>수정버튼 클릭 시, 공지사항 수정 페이지로 전환됩니다. (공지사항 수정은 등록과 동일)</li><li>삭제버튼 클릭 시, 삭제여부를 묻고 삭제합니다. </li><li><strong>삭제 된 게시글은 되돌릴 수 없습니다.</strong></li></ul><p>&nbsp;</p><h4><a name='header-n4212' class='md-header-anchor '></a>-  댓글</h4><ul><li>해당 업무보고에 댓글을 작성 할 수 있습니다.</li></ul><hr /><h2><a name='header-n2196' class='md-header-anchor '></a>5.  근태관리</h2><h3><a name='header-n2663' class='md-header-anchor '></a>5.1  출퇴근 리스트</h3><p><img src='/mimg/atti/list.jpg' alt='공지사항 리스트' /></p><p>출퇴근 화면입니다.</p><p>등록 된 본인의 출퇴근 기록이 출력되며, 이름, 상태, 시간, 매모 항목으로 본인 내용만 표시됩니다. 
(관리자는 전체 내용 확인가능)</p><p>추가로 페이징, 검색, 정렬 등의 기능을 제공합니다.</p><p>각각의 항목은 클릭 혹은 하단의 내용을 참조 바랍니다.</p><p>&nbsp;</p><h4><a name='header-n4307' class='md-header-anchor '></a>-  페이징</h4><ul><li><p>출퇴근 기록이 정해진 수를 넘어가면 페이징을 시작합니다.</p></li><li><p>좌측 하단에는 게시글 건수가, 우측 하단에는 페이지 넘버가 표시됩니다.</p></li><li><p>기본 갯수는 10개입니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n4320' class='md-header-anchor '></a>-  페이징 옵션</h4><ul><li><p>기본 10개를 기준으로 하는 페이징의 수를 변경합니다.</p></li><li><p>좌측 상단에 위치하고 있으며, 10, 25, 50, 100개 중 선택이 가능합니다.</p><p>&nbsp;</p></li></ul><h4><a name='header-n4330' class='md-header-anchor '></a>-  검색</h4><ul><li>게시글의 내용 중 포함되는 단어를 검색합니다.</li><li>검색의 대상은 작성자, 상태, 메모 중 검색단어가 포함되는 전체입니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4340' class='md-header-anchor '></a>-  정렬</h4><ul><li>게시글의 각 항목의 헤더를 클릭하면, 각 항목별로 오름차순/내림차순 정렬을 지원합니다.</li></ul><p>&nbsp;</p><h4><a name='header-n4347' class='md-header-anchor '></a>- 등록</h4><p><img src='/mimg/atti/writebutton.jpg' alt='작성버튼' /></p><ul><li>업무보고 우측 하단의 작성버튼입니다.</li><li>해당 버튼을 클릭하면 공지사항 작성 페이지로 이동합니다.</li></ul><p>&nbsp;</p><p>&nbsp;</p><h3><a name='header-n2666' class='md-header-anchor '></a>5.2  출결 등록</h3><p><img src='/mimg/atti/checkstatus.jpg' alt='출결등록' /></p><ul><li>출퇴근을 기록합니다.</li><li>상태는 마지막 출퇴근 상태를 확인하여, 자동으로 표시됩니다.</li><li>내용은 출퇴근 기록 시, 추가적으로 남길 내용이 있을 경우 작성합니다.</li><li><strong>한 번 등록 된 출퇴근 기록은 변경 할 수 없습니다.</strong></li></ul><p>&nbsp;</p><hr /><h2><a name='header-n2160' class='md-header-anchor '></a>6.  내 정보</h2><p><img src='/mimg/myinfo/main.jpg' alt='내 정보' /></p><p>접속한 사용자의 정보를 확인 및 수정 할 수있는 페이지입니다.</p><p>이름, ID은 수정이 불가하며, 팀은 관리자만 변경 가능합니다.</p><p>이 외에 연락처, 이메일, 비밀번호는 사용자가 수정 가능합니다.</p><hr /><p>&nbsp;</p><h2><a name='header-n2173' class='md-header-anchor '></a>7.  그룹/사용자 정보</h2><p><img src='/mimg/manage/main.jpg' alt='그룹/사용자 정보' /></p><p>관리자만 접속이 가능한 그룹/사용자 정보 페이지입니다.</p><p>해당 페이지에서 회사와 사용자를 추가 및 확인 할 수 있습니다.</p><p>&nbsp;</p><h3><a name='header-n2716' class='md-header-anchor '></a>7.1  회사 추가</h3><p><img src='/mimg/manage/addcompany.jpg' alt='회사 추가' /></p><ul><li>메인페이지 좌측 중간에 &#39;회사 추가&#39; 버튼을 클릭 시, 팝업이 뜹니다.</li><li>회사 이름에 이름을 작성 후, 추가 버튼을 눌러 회사를 추가합니다.</li></ul><p>&nbsp;</p><h3><a name='header-n2719' class='md-header-anchor '></a>7.2  사용자 추가</h3><p><img src='/mimg/manage/adduser.jpg' alt='사용자 추가' /></p><ul><li>메인페이지에서 &#39;사용자 추가&#39; 버튼 클릭 시, 팝업이 뜹니다.</li><li>소속 회사를 선택합니다.</li><li>팀, 이메일, 이름, ID, 휴대전화, password를 작성합니다.</li><li>권한 항목에서 관리자 권한을 선택 할 수 있습니다. 비 선택 시 일반 유저로 생성됩니다.</li></ul></div>
</body>
</html>